@model List<OMIstats.Models.Estado>

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/tablas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
    <link rel="stylesheet" href="~/Content/estados.css" type="text/css"/>
}

@{
    ViewBag.Title = "Lugares de los estados por olimpiada";
    List<OMIstats.Models.Olimpiada> olimpiadas = ViewBag.olimpiadas;
    Dictionary<string, Dictionary<string, OMIstats.Models.Medallero>> estados = ViewBag.estados;
    bool[] cabeceras = ViewBag.cabeceras;
    OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    int ultimoValido = ViewBag.ultimoValido;
}

<div class="submenu">
    @Html.ActionLink("General", "Index", "Estados", null, new { @class = "mini-boton" })
    @Html.ActionLink("Detalle Medallas", "Medallas", "Estados", null, new { @class = "mini-boton" })
    @if (ViewBag.admin)
    {
    <br />
    @Html.ActionLink("Delegados", "Delegados", "Estados", null, new { @class = "mini-boton" })
    }
</div>

<h1 class="titulo">@ViewBag.Title</h1>

<div class="clone-wrapper" id="clone-wrapper">
<div class="table-wrapper">
<table class="table floating-column">
    <thead>
        <tr class="table-header">
            <th class="bottom-border right-border white-background header-min-height">Estado</th>
        </tr>
    </thead>
    @foreach (OMIstats.Models.Estado e in Model)
    {
        if (e.extranjero)
        {
            continue;
        }
    <tr>
        <td class="table-td right-border first-column-placeholder">
            <a class="nombre" href="@Url.Content("~/Estado?clave=" + e.clave)">@e.nombre</a>
        </td>
    </tr>
    }
    <tfoot>
        <tr>
            <td class="right-border top-border pie pieTitulo table-footer white-background first-column-placeholder">
                Total Estados
            </td>
        </tr>
    </tfoot>
</table>
<table class="table">
    <thead>
        <tr class="table-header">
            <th class="bottom-border right-border white-background header-min-height">Estado</th>
            @for (int i = cabeceras.Length - 1; i >= 0 ; i--)
            {
                if (cabeceras[i] && olimpiadas[i].estados > 0)
                {
                <th class="bottom-border center headerEstado header-min-height @(i > ultimoValido ? "right-border" : "")">
                    @Html.ActionLink(tableManager.enlaceOMI(olimpiada: olimpiadas[i].numero), "Estados", "Olimpiada",
                        new { clave = olimpiadas[i].numero }, null)
                </th>
                }
            }
        </tr>
    </thead>
    @foreach (OMIstats.Models.Estado e in Model)
    {
        if (e.extranjero)
        {
            continue;
        }
    <tr>
        <td class="table-td right-border first-column-placeholder">@e.nombre</td>
        @{Dictionary<string, OMIstats.Models.Medallero> medalleros = estados[e.clave];}
        @for (int i = cabeceras.Length - 1; i >= 0 ; i--)
        {
            if (cabeceras[i] && olimpiadas[i].estados > 0)
            {
                OMIstats.Models.Medallero medallero;
                medalleros.TryGetValue(olimpiadas[i].numero, out medallero);
                string clase = medallero != null && medallero.lugar <= 3 ? "top-estado" : "";
                clase += i > ultimoValido ? " right-border" : "";
                <td class="table-td center mini-cell @(clase)">
                    @if (medallero != null)
                    {
                    <span title="@e.nombre">@(medallero.lugar)</span>
                    }
                    else
                    {
                    <span title="No participó">-</span>
                    }
                </td>
            }
        }
    </tr>
    }
    <tfoot>
        <tr>
            <td class="right-border top-border pie pieTitulo table-footer white-background first-column-placeholder">Total Estados</td>
            @for (int i = cabeceras.Length - 1; i >= 0 ; i--)
            {
                if (cabeceras[i] && olimpiadas[i].estados > 0)
                {
                <td class="center resultado-dia top-border pie @(i > ultimoValido ? "right-border" : "")">@olimpiadas[i].estados</td>
                }
            }
        </tr>
    </tfoot>
</table>
</div>
</div>