@model List<OMIstats.Models.Resultados>

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/tablas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
    <link rel="stylesheet" href="~/Content/estados.css" type="text/css"/>
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.metadata.js"></script>
    <script type="text/javascript" src="~/js/sorters.js"></script>
    <script>
        var res = [];
        $(function () {
            cargaSorter("tablaPuntos");
            @{
            string lastEstado = "";
            string estadoArray = "";
            string lastOMI = "";
            string omiArray = "";
            OMIstats.Models.TipoOlimpiada lastClase = OMIstats.Models.TipoOlimpiada.NULL;
            string claseArray = "";
            string mdArray = "";
            foreach(OMIstats.Models.Resultados r in Model)
            {
                if (r.estado != lastEstado)
                {
                    lastEstado = r.estado;
                    estadoArray = "res['" + r.estado + "']";
                    lastClase = OMIstats.Models.TipoOlimpiada.NULL;
@(Html.Raw(estadoArray + "={};"))
                }
                if (r.tipoOlimpiada != lastClase)
                {
                    lastClase = r.tipoOlimpiada;
                    claseArray = estadoArray + "['" + lastClase.ToString() + "']";
                    lastOMI = "";
@(Html.Raw(claseArray + "={};"))
                }
                if (r.omi != lastOMI)
                {
                    lastOMI = r.omi;
                    omiArray = claseArray + "[" + r.omi + "]";
@(Html.Raw(omiArray + "={};"))
                }
                if ((r.tipoOlimpiada == OMIstats.Models.TipoOlimpiada.OMIPO ||
                     r.tipoOlimpiada == OMIstats.Models.TipoOlimpiada.OMISO) &&
                    (r.medalla == OMIstats.Models.Resultados.TipoMedalla.NADA ||
                     r.medalla == OMIstats.Models.Resultados.TipoMedalla.DESCALIFICADO))
                {
                    continue;
                }
                mdArray = omiArray + "[" + r.usuario + "]";
                OMIstats.Models.Resultados.TipoMedalla medalla = r.medalla;
                if (medalla == OMIstats.Models.Resultados.TipoMedalla.ORO_1 ||
                    medalla == OMIstats.Models.Resultados.TipoMedalla.ORO_2 ||
                    medalla == OMIstats.Models.Resultados.TipoMedalla.ORO_3)
                {
                    medalla = OMIstats.Models.Resultados.TipoMedalla.ORO;
                }
                if (medalla == OMIstats.Models.Resultados.TipoMedalla.DESCALIFICADO ||
                    medalla == OMIstats.Models.Resultados.TipoMedalla.CLASIFICADO)
                {
                    medalla = OMIstats.Models.Resultados.TipoMedalla.NADA;
                }
@(Html.Raw(mdArray + "=[];"))
@(Html.Raw(mdArray + ".medalla='" + medalla + "';"))
@(Html.Raw(mdArray + ".lugar=" + r.lugar + ";"))
            }
            }
        });
    </script>
}

@{
    ViewBag.Title = "Lugares disponibles para la OMIPS";
}

<h1 class="titulo">@ViewBag.Title</h1>

<table class="table" id="tablaPuntos">
    <thead>
        <tr class="table-header">
            <th class="bottom-border right-border table-header-clickable">Estado</th>
            <th class="bottom-border right-border table-header-clickable">Primaria</th>
            <th class="bottom-border table-header-clickable">Secundaria</th>
        </tr>
    </thead>

    @{List<OMIstats.Models.Estado> estados = OMIstats.Models.Estado.obtenerEstados();}
    @foreach (OMIstats.Models.Estado e in estados)
    {
        if (!e.extranjero)
        {
        <tr>
            <td class="table-td right-border mini-cell">
                @Html.ActionLink(e.nombre, "Index", "Estado", new { clave = e.clave }, new { @class = "nombre" })
            </td>
            <td class="table-td center right-border mini-cell" id="p-@e.clave"></td>
            <td class="table-td center mini-cell" id="s-@e.clave"></td>
        </tr>
        }
    }
</table>