@model OMIstats.Models.Persona

@{
    ViewBag.Title = "Recuperar contraseña";
}

@section AddToHead
{
  <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
  <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
}

@section Scripts {
  <script src='https://www.google.com/recaptcha/api.js?hl=es-419' ></script>
}

<h2 class="titulo">Recuperar contraseña</h2>

@if (ViewBag.errorMail)
{
    <div class="errorTextoRojo">
        Ocurrió un error cuando intentábamos enviar tu correo, intentalo de nuevo y si los problemas persisten, por favor <a href="/Request/General">contáctanos</a>.
    </div>
}
else if (ViewBag.saved)
{
    <div class="verde">
        Se te mandó un correo con un enlace para poder cambiar tu contraseña.
    </div>
}
else
{
    <div>
        Escribe tu nombre de usuario y se te enviará un enlace al correo electrónico que tenemos registrado 
        con el que podrás pedir una nueva contraseña. Si no tienes un correo electrónico registrado o 
        si ya no tienes acceso al correo electrónico que tenemos o si ese correo
        no es tuyo, intenta <a href="/Request/Claim">reclamar el perfil del usuario</a>.
    </div>
    <br />

    <div>
        <!-- -TODO- Agregar enlace -->
        Todos los nombres de usuario son públicos, y pueden consultarse en la página 
        del perfil de cada usuario. Si no recuerdas tu nombre de usuario, búscate con tu nombre para recordarlo.
    </div>
    <br />

    using (@Html.BeginForm(null, null, FormMethod.Post, new { name = "recoverForm", id = "recoverForm" }))
    {

        <div>
            <div class="label">Nombre de usuario:</div>
            <div class="input">
                @Html.EditorFor(model => model.usuario)
                <div>
                    @Html.Label("El nombre de usuario no existe",
                    new { style = "display:" + (ViewBag.logInError ? "inline;" : "none;"),
                      @class = "errorTextoRojo" })
                </div>
                <div>
                    @Html.Label("No hay un correo electrónico registrado para el usuario que proporcionaste",
                    new { style = "display:" + (ViewBag.faltante ? "inline;" : "none;"),
                      @class = "errorTextoRojo" })
                </div>
            </div>
        </div>

        <div>
            <div>
                <div class="g-recaptcha label" data-sitekey="@ViewBag.captchaKey"></div>
            </div>
            @if (ViewBag.errorCaptcha == true)
            {
                <div>
                    <div class="errorTextoRojo biglabel">Verifica que no eres un robot</div>
                </div>
            }
        </div>

        <div class="label">
            <input type="button" onclick="muestraLoadGifYSubmit('recoverForm')" value="Recuperar"/>
            <img class="textoRojo" id='loading' src="~/img/ajax-loader.gif" />
        </div>
    }
}