@model List<KeyValuePair<OMIstats.Models.Institucion, OMIstats.Models.Medallero>>

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/tablas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.metadata.js"></script>
    <script type="text/javascript" src="~/js/sorters.js"></script>
    <script>
        $(function () {
            cargaSorter("tablaPuntos");
        });
    </script>
}

@{
    OMIstats.Models.TipoOlimpiada tipoOlimpiada = ViewBag.tipoOlimpiada;
    ViewBag.Title = "Tabla de escuelas con más medallas en la " + tipoOlimpiada;
}

<h1 class="titulo">@ViewBag.Title</h1>

<table class="table" id="tablaPuntos">
    <thead>
        <tr class="table-header">
            <th class="bottom-border right-border table-header-clickable">Lugar</th>
            <th class="bottom-border right-border table-header-clickable">Escuela</th>
            <th class="bottom-border right-border table-header-clickable">Estado(s)</th>
            <th class="bottom-border right-border table-header-clickable">Oros&nbsp;&nbsp;&nbsp;</th>
            <th class="bottom-border right-border table-header-clickable">Platas&nbsp;</th>
            <th class="bottom-border table-header-clickable">Bronces</th>
        </tr>
    </thead>

    @{int lugar = 0;
      int currentLugar = 0;
      OMIstats.Models.Medallero ultimoMedallero = null;}
    @foreach (KeyValuePair<OMIstats.Models.Institucion, OMIstats.Models.Medallero> par in Model)
    {
        lugar++;
        OMIstats.Models.Institucion e = par.Key;
        OMIstats.Models.Medallero m = par.Value;
        if (ultimoMedallero == null || ultimoMedallero.oros != m.oros ||
            ultimoMedallero.platas != m.platas || ultimoMedallero.bronces != m.bronces)
        {
            currentLugar = lugar;
        }
        ultimoMedallero = m;
        <tr>
            <td class="table-td right-border mini-cell center">@currentLugar</td>
            <td class="table-td right-border mini-cell">
                @Html.ActionLink(e.nombre, "Index", "Escuela", new { url = e.nombreURL, tipo = tipoOlimpiada },
                    new { @class = "nombre" })
            </td>
            <td class="table-td right-border mini-cell">
                @{int count = 0; }
                @foreach (string claveEstado in e.estados)
                {
                    if (count > 0)
                    {
                        <span>/</span>
                    }
                    count++;
                    OMIstats.Models.Estado estado = OMIstats.Models.Estado.obtenerEstadoConClave(claveEstado);
                    @(Html.ActionLink(estado.nombre, "Index", "Estado", new { clave = claveEstado }, new { @class = "nombre" }))
                }
            </td>
            <td class="table-td center right-border fondoOro mini-cell">@m.oros</td>
            <td class="table-td center right-border fondoPlata mini-cell">@m.platas</td>
            <td class="table-td center fondoBronce mini-cell">@m.bronces</td>
        </tr>
    }
</table>