@model OMIstats.Models.Persona

@section AddToHead
{
  <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
  <link rel="stylesheet" href="~/Content/fechas.css" type="text/css" />
  <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
}

@section scripts
{
  <script>
      var OMI_minimo = "@ViewBag.minimo";
      var OMI_maximo = "@ViewBag.maximo";
      var generoUsuario = "@Model.genero";
      var passwordModificado = "@ViewBag.passwordModificado";

      var errorImagen = "@ViewBag.errorImagen";
      var errorUsuario = "@ViewBag.errorUsuario";
      var errorPassword = "@ViewBag.errorPassword";
  </script>
  <script src="/Scripts/jquery-ui-1.8.20.min.js"></script>
  <script src="/js/fechas.js""></script>
  <script src="/js/formas.js"></script>
  <script src="/js/profile.js"></script>
}

@{
    ViewBag.Title = "Actualizar perfil";
}

<h1 class="titulo">Actualizar perfil</h1>

<form name="editProfile" id="editProfile" action="/Profile/Edit" method="post" enctype="multipart/form-data">
    <div>
        <div class="foto">
            <img src='@Url.Content("~/img/" + @Model.foto)' alt="@Model.nombre"/>
        </div>

        <div class="datosParticipante">
            <div>
                <div class="label">Sube una foto:</div>
                <div class="input">
                    <input type="file" name="file" id="file" />
                    <div id="imagen_invalida" class="textoRojo">El archivo que enviaste no es una imagen</div>
                    <div id="imagen_muy_grande" class="textoRojo">El limite de tamaño para una imagen es 300KB</div>
                </div>
            </div>
            <div class="userDiv">
                <div class="label">Usuario:</div>
                <div class="input">
                    @Html.TextBoxFor(model => model.usuario)
                    <input type="button" onclick="checarUsuario()" value="Revisar disponibilidad" />
                    <br />
                    <div id="disponible" class="textoVerde">El nombre de usuario está disponible</div>
                    <div id="taken" class="textoRojo">El nombre de usuario no está disponible</div>
                    <div id="number" class="textoRojo">Escribe un nombre de usuario que no empiece con un número</div>
                    <div id="alfanumeric" class="textoRojo">Solo se permiten caracteres alfanumericos</div>
                    <div id="size" class="textoRojo">El nombre de usuario debe de estar entre 1 y 20 caracteres</div>
                </div>
            </div>
            <div id="enlaceCambiarPassword" class="label">
                <a href="javascript:mostrarPassword()"> Cambiar contraseña </a>
            </div>
            <div id="cambiarPassword" class="oculto">
                <div>
                    <div class="label">Contraseña actual:</div>
                    <div class="input">
                        @Html.PasswordFor(model => model.password)
                        <div id ="password_invalido" class="textoRojo">La contraseña es incorrecta</div>
                    </div>
                </div>
                <div>
                    <div class="label">Contraseña nueva:</div>
                    <div class="input">
                        <input type="password" id="password2" name="password2" />
                        <div id ="password_vacio" class="textoRojo">Escribe una contraseña nueva</div>
                    </div>
                </div>
                <div>
                    <div class="label">Repetir contraseña:</div>
                    <div class="input">
                        <input type="password" id="password3" name="password3" />
                        <div id ="password_diferente" class="textoRojo">Las contraseñas no coinciden</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="label">Nombre:</div>
                <div class="input">
                    @Html.TextBoxFor(model => model.nombre)
                    @Html.ValidationMessageFor(model => model.nombre)
                </div>
            </div>
            <div>
                <div class="label">Género:</div>
                <div class="input">
                    <select id="genero" name="genero">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
            </div>
            <div>
                <div class="label">Fecha de nacimiento:</div>
                <div class="input">
                    @Html.TextBoxFor(model => model.nacimiento, "{0:dd/MM/yyyy}")
                    @Html.ValidationMessageFor(model => model.nacimiento, "No escribiste una fecha válida")
                </div>
            </div>
            <div>
                <div class="label">Sitio web:</div>
                <div class="input">
                    @Html.TextBoxFor(model => model.sitio, new { @class = "inputSitio" })
                    @Html.ValidationMessageFor(model => model.sitio)
                </div>
            </div>
            <div>
                <div class="label">Correo electrónico:</div>
                <div class="input">
                    @Html.TextBoxFor(model => model.correo, new { @class = "inputSitio" })
                    @Html.ValidationMessageFor(model => model.correo)
                </div>
            </div>
            <div>
                <div class="label">Facebook:</div>
                <div class="input">
                    https://www.facebook.com/@Html.TextBoxFor(model => model.facebook, new { @class = "inputFacebook" })
                    @Html.ValidationMessageFor(model => model.facebook)
                </div>
            </div>
            <div>
                <div class="label">Twitter:</div>
                <div class="input">
                    https://twitter.com/@Html.TextBoxFor(model => model.twitter, new { @class = "inputTwitter" })
                    @Html.ValidationMessageFor(model => model.twitter)
                </div>
            </div>

            <div>
                <div class="label"></div>
                <div class="input"> <input type="button"  onclick="revisa()"  value="Enviar"/> </div>
            </div>
        </div>
    </div>
</form>

    <div class="clear">

    </div>