@model OMIstats.Models.Persona

@section AddToHead
{
  <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
}

@section scripts
{
  <script>
      var OMI_minimo = @ViewBag.minimo;
      var OMI_maximo = @ViewBag.maximo;
  </script>
  <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
  <script src="~/js/profile.js"></script>
}

@{
    ViewBag.Title = "Actualizar perfil";
}

<h1 class="titulo">Actualizar perfil</h1>

<form action="/Profile/Edit" method="post" enctype="multipart/form-data">
    <div>
        <div class="foto">
            <img src='@Url.Content("~/img/" + @Model.foto)' alt="@Model.nombre"/>
        </div>

        <div class="datosParticipante">
            <div>
                <div class="label">Sube una foto:</div>
                <div class="input"><input type="file" name="file" id="file" /></div>
            </div>
            <div>
                <div class="label">Usuario:</div>
                <div class="input"> @Html.TextBoxFor(model => model.usuario) </div>
            </div>
            <div>
                <div class="label">Contraseña actual:</div>
                <div class="input"> @Html.PasswordFor(model => model.password) </div>
            </div>
            <div>
                <div class="label">Contraseña nueva:</div>
                <div class="input"><input type="password" id="password2" name="password2" /> </div>
            </div>
            <div>
                <div class="label">Repetir contraseña:</div>
                <div class="input"><input type="password" id="password3" name="password3" /> </div>
            </div>
            <div>
                <div class="label">Nombre:</div>
                <div class="input"> @Html.TextBoxFor(model => model.nombre) </div>
            </div>
            <div>
                <div class="label">Género:</div>
                <div class="input">
                    <select id="genero" name="genero">
                    @if (@Model.genero[0] == 'F')
                    {
                        <option value="M">Masculino</option>
                        <option value="F" selected="selected">Femenino</option>
                    }
                    else
                    {
                        <option value="M" selected="selected">Masculino</option>
                        <option value="F">Femenino</option>
                    }
                    </select>
                </div>
            </div>
            <div>
                <div class="label">Fecha de nacimiento:</div>
                <div class="input"> @Html.TextBoxFor(model => model.nacimiento, "{0:dd/MM/yyyy}") </div>
            </div>
            <div>
                <div class="label">Sitio web:</div>
                <div class="input"> @Html.TextBoxFor(model => model.sitio, new { @class = "inputSitio" }) </div>
            </div>
            <div>
                <div class="label">Correo electrónico:</div>
                <div class="input"> @Html.TextBoxFor(model => model.correo, new { @class = "inputSitio" }) </div>
            </div>
            <div>
                <div class="label">Facebook:</div>
                <div class="input">https://www.facebook.com/@Html.TextBoxFor(model => model.facebook, new { @class = "inputFacebook" }) </div>
            </div>
            <div>
                <div class="label">Twitter:</div>
                <div class="input">https://twitter.com/@Html.TextBoxFor(model => model.twitter, new { @class = "inputTwitter" }) </div>
            </div>

            <div>
                <div class="label"></div>
                <div class="input"> <input type="submit" /> </div>
            </div>
        </div>
    </div>
</form>

    <div style="clear:both">
        <!-- -TODO- Enlace -->
        Si tu nombre está representado incorréctamente, mándanos un correo con los datos correctos.
    </div>