@model OMIstats.Models.Persona
@using System.Text.RegularExpressions;

@section AddToHead
{
    <link href="~/Content/profile.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/tablas.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/olimpiadas.css" type="text/css" rel="stylesheet" />
}

@section scripts
{
    <script type="text/javascript" src="/Scripts/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.metadata.js"></script>
    <script type="text/javascript" src="/js/sorters.js"></script>
    <script>
        $(function () {
            agregaSorterMedallas("tablaCompetidor");
            agregaSorterOMI("tablaCompetidor");
            cargaSorter("tablaCompetidor");
        });
        $(function () {
            agregaSorterMedallas("tablaAsistente");
            agregaSorterOMI("tablaAsistente");
            cargaSorter("tablaAsistente");
        });
    </script>
}

@{
    ViewBag.Title = Model.nombre;
}

    <h1 class="titulo">Datos de usuario</h1>

    <div class="foto" >
        <img src='@Url.Content(@Model.foto)' alt="@Model.nombre"/>
    </div>

    <div class="datosParticipante">

        <div class="nombrePerfil">@Html.DisplayFor(model => model.nombre)</div>
    
        <div>
            <div class="fechaNacimiento">
                @if (Model.nacimiento.Year > 1900)
                {
                    @Model.nacimiento.ToString("dd/MM/yyyy")
                }
            </div>
            <div class="perfilUsuario">
                Usuario: @Html.DisplayFor(model => model.usuario)
            </div>
        </div>

        <div class="contacto">

            @if (Model.ioiID != 0)
            {
                <a href='@Url.Content("http://stats.ioinformatics.org/people/" + @Model.ioiID)' target="_blank"><img src="~/img/ioi.png" alt="ioi" style="width:20px;"/></a>
            }

            @if (Model.sitio.Length > 0)
            {
                <a href="@Model.sitio" target="_blank"><img src="~/img/homepage.png" alt="sitio"/></a>
            }

            @if (Model.correo.Length > 0)
            {
                <a href="mailto:@Model.correo" target="_blank"><img src="~/img/mail.png" alt="correo"/></a>
            }

            @if (Model.facebook.Length > 0)
            {
                <a href='@Url.Content("https://www.facebook.com/" + @Model.facebook)' target="_blank"><img src="~/img/facebook.png" alt="facebook"/></a>
            }

            @if (Model.twitter.Length > 0)
            {
                <a href='@Url.Content("http://www.twitter.com/" + @Model.twitter)' target="_blank"><img src="~/img/twitter.png" alt="twitter"/></a>
            }
        </div>

    </div>

    <div class="botones">

        @if ((@ViewBag.usuario == null || @ViewBag.usuario.clave == 0) && Regex.IsMatch(Model.usuario, @"^\d+$"))
        {
            <div>
                @Html.ActionLink("Reclamar usuario", "Claim", "Request",
                                 new { usuario = Model.usuario }, new { @class = "botonPerfil" })
            </div>
            <br />
        }

        @if (@ViewBag.usuario != null)
        {
            if (@ViewBag.usuario.clave != 0 && (@ViewBag.usuario.clave == Model.clave))
            {
                <div>
                    @Html.ActionLink("Actualizar datos", "Edit", "Profile",
                                     null, new { @class = "botonPerfil" })
                </div>
                <br />
            }

            if (@ViewBag.usuario.admin)
            {
                if (@ViewBag.usuario.clave != Model.clave)
                {
                    <div>
                        @Html.ActionLink("Mandar contraseña", "ResetPassword", "Admin",
                                         new { usuario = Model.usuario }, new { @class = "botonPerfil" })
                    </div>
                    <br />

                    <div>
                        @Html.ActionLink("Asignar cuenta", "Claim", "Request",
                                         new { usuario = Model.usuario }, new { @class = "botonPerfil" })
                    </div>
                    <br />

                    <div>
                        <a href='@Url.Content("/Admin/Change?usuario=" + Model.usuario)' class="botonPerfil">
                            @if (Model.admin)
                            {
                                <span>Eliminar Admin</span>
                            }
                            else
                            {
                                <span>Hacer admin</span>
                            }
                        </a>
                    </div>
                    <br />
                }
            }
        }

    </div>

    @if (ViewBag.tienePeticiones)
    {
        <div style="clear:both">
            Tienes peticiones que los administradores aún no han respondido, si quieres verlas, da clic <a href="/Request/view">aquí</a>.
        </div>
    }

    <div style="clear:both">
        @if (ViewBag.usuario != null && ViewBag.usuario.clave == Model.clave && !ViewBag.usuario.admin)
        {
            <!-- -TODO- Enlace -->
            <span>Si tuviste participaciones que no están listadas en nuestra página, mándanos un correo con los datos faltantes.</span>
        }
    </div>

    @{
        OMIstats.Models.Olimpiada.TipoOlimpiada tipoOlimpiada = ViewBag.tipo;
        Dictionary<OMIstats.Models.Olimpiada.TipoOlimpiada, List<OMIstats.Models.Resultados>> participaciones = ViewBag.participaciones;
        OMIstats.Models.Medalleros medalleros = ViewBag.medalleros;
        bool hayParticipaciones = false;
    }

    @foreach (OMIstats.Models.Olimpiada.TipoOlimpiada tipo in Enum.GetValues(typeof(OMIstats.Models.Olimpiada.TipoOlimpiada)))
    {
        List<OMIstats.Models.Resultados> participacion = null;
        participaciones.TryGetValue(tipo, out participacion);
        if (participacion == null || participacion.Count == 0)
        {
            continue;
        }
        hayParticipaciones = true;
        OMIstats.Models.Medallero medallero = medalleros.medalleroDeTipo(tipo);

        <h1 class="titulo subtitulo"> Participaciones como competidor
            @if (tipo == OMIstats.Models.Olimpiada.TipoOlimpiada.OMIS)
            {
                <span>de secundaria</span>
            }
            @if (tipo == OMIstats.Models.Olimpiada.TipoOlimpiada.OMIP)
            {
                <span>de primaria</span>
            }
        </h1>

        <div class="medallero">
            <img src="@("/img/" + tipo.ToString() + ".png")" class="tipoOMI"/>
            <div class="separador">:</div>
            <div class="medalla" title="Medallas de oro">
                <div><img src="~/img/oro.png"/></div>
                <div>@(medallero.oros)</div>
            </div>
            <div class="medalla" title="Medallas de plata">
                <div><img src="~/img/plata.png"/></div>
                <div>@(medallero.platas)</div>
            </div>
            <div class="medalla" title="Medallas de bronce">
                <div><img src="~/img/bronce.png"/></div>
                <div>@(medallero.bronces)</div>
            </div>
            @if(medallero.otros > 0)
            {
                <div class="medalla" title="Participaciones sin medalla">
                    <div><img src="~/img/diploma.png"/></div>
                    <div>@(medallero.otros)</div>
                </div>
            }
        </div>

        <table class="table tablePadding" id="tablaCompetidor">
            <thead>
                <tr class="table-header">
                    <th></th>
                    <th class="bottom-border right-border table-header-clickable">Lugar</th>
                    <th class="bottom-border right-border table-header-clickable">Olimpiada</th>
                    <th class="bottom-border right-border table-header-clickable">Estado</th>
                    <th class="bottom-border right-border table-header-clickable">Clave</th>
                    <th class="bottom-border right-border table-header-clickable">Puntos</th>
                    <th class="bottom-border right-border table-header-clickable {sorter:'medalla'}">Medalla</th>
                    <th class="bottom-border right-border table-header-clickable">Escuela</th>
                    <th class="bottom-border right-border table-header-clickable">Nivel escolar</th>
                    <th class="bottom-border table-header-clickable">Año escolar</th>
                </tr>
            </thead>
            <tbody>
            @{ OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager(ViewBag.admin, ViewBag.claveUsuario); }
            @for (var l = 0; l < participacion.Count; l++)
            {
                OMIstats.Models.Resultados datos = participacion[l];
                tableManager.setCurrentResultados(datos);
                tableManager.setCurrentOMI();
                string claseCSS = tableManager.obtenerClaseCSS();
                bool mostrar = tableManager.mostrarLinea();
                <tr>
                    <td class="ioi-mini-imagen">
                        @if (tableManager.mostrarLogoIOI())
                        {
                            <img src="/img/ioi.png" />
                            <!-- -TODO- Agregar enlace a IOI -->
                        }
                    </td>
                    <td class="@("table-td right-border center " + claseCSS)">
                        @if (mostrar && datos.lugar > 0)
                        {
                            @(datos.lugar)
                        }
                    </td>
                    <td class="@("table-td right-border " + claseCSS)">
                        <a class="nombre" href="@Url.Content("/Olimpiada/Resultados?clave=" + datos.omi + "&tipo=" + tipo.ToString())">
                            @tableManager.enlaceOMI()
                        </a>
                    </td>
                    <td class="@("table-td right-border " + claseCSS)">
                        <a class="nombre" href="@Url.Content("/Estado?clave=" + datos.estado + "&tipo=" + tipo.ToString())">
                            @datos.nombreEstado
                        </a>
                    </td>
                    <td class="@("table-td center right-border " + claseCSS)">
                        @if (!tableManager.faltaClave())
                        {
                            <a class="nombre" href="@Url.Content("/Olimpiada/Delegacion?clave=" + datos.omi + "&estado=" + datos.estado + "&tipo=" + tipo.ToString())">
                                @datos.clave
                            </a>
                        }
                    </td>
                    <td class="@("table-td center right-border resultado-total " + claseCSS)">
                        @if (mostrar)
                        {
                            @(datos.total)
                        }
                    </td>
                    <td class="@("table-td center right-border " + claseCSS)" medalla="@((int)datos.medalla)">
                        @tableManager.medallaString()
                    </td>
                    <td class="@("table-td break-word right-border " + claseCSS)">
                        @if (datos.escuela != null)
                        {
                            <span>
                                <a class="nombre" href="@Url.Content("/Escuela?url=" + datos.escuela.nombreURL + "&tipo=" + tipo.ToString())">
                                    @datos.escuela.nombreCorto
                                </a>
                            </span>
                        }
                    </td>
                    <td class="@("table-td right-border " + claseCSS)">
                        @if (datos.nivelInstitucion != OMIstats.Models.Institucion.NivelInstitucion.NULL)
                        {
                            @(datos.nivelInstitucion.ToString())
                        }
                    </td>
                    <td class="@("table-td center " + claseCSS)">
                        @if (datos.añoEscolar != 0)
                        {
                            @(datos.añoEscolar + "º")
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

    @if (ViewBag.asistencias.Count > 0)
    {
        OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
        if (hayParticipaciones)
        {
            <h1 class="titulo subtitulo"> Participaciones con diferente rol </h1>
        }
        else
        {
            <h1 class="titulo subtitulo"> Participaciones en olimpiadas</h1>
        }

        <table class="table tablePadding" id="tablaAsistente">
            <thead>
                <tr class="table-header">
                    <th></th>
                    <th class="bottom-border right-border table-header-clickable">Olimpiada</th>
                    <th class="bottom-border right-border table-header-clickable">Estado</th>
                    <th class="bottom-border table-header-clickable">Rol</th>
                </tr>
            </thead>
            <tbody>
            @for (var l = 0; l < ViewBag.asistencias.Count; l++)
            {
                OMIstats.Models.MiembroDelegacion datos = ViewBag.asistencias[l];
                tableManager.setCurrentOMI(OMIstats.Models.Olimpiada.obtenerOlimpiadaConClave(datos.olimpiada, tipoOlimpiada));
                <tr>
                    <td class="ioi-mini-imagen">
                    </td>
                    <td class="table-td right-border">
                        <a class="nombre" href="@Url.Content("/Olimpiada?clave=" + datos.olimpiada + "&tipo=" + tipoOlimpiada.ToString())">
                            @(tableManager.enlaceOMI())
                        </a>
                    </td>
                    <td class="table-td right-border">
                        <a class="nombre" href="@Url.Content("/Estado?clave=" + datos.estado + "&tipo=" + tipoOlimpiada.ToString())">
                            @datos.nombreEstado
                        </a>
                    </td>
                    <td class="table-td center">
                        <a class="nombre" href="@Url.Content("/Olimpiada/Delegacion?clave=" + datos.olimpiada + "&estado=" + datos.estado + "&tipo=" + tipoOlimpiada.ToString())">
                            @datos.getTipoAsistenteString()
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }