@model OMIstats.Models.Persona
@using System.Text.RegularExpressions;

@section AddToHead
{
    <link href="~/Content/profile.css" type="text/css" rel="stylesheet" />
}

@{
    ViewBag.Title = Model.nombre;
}

    <h1 class="titulo">Datos de usuario</h1>

    <div class="foto" >
        <img src='@Url.Content(@Model.foto)' alt="@Model.nombre"/>
    </div>

    <div class="datosParticipante">

        <div class="nombrePerfil">@Html.DisplayFor(model => model.nombre)</div>
    
        <div>
            <div class="fechaNacimiento">
                @if (Model.nacimiento.Year > 1900)
                {
                    @Model.nacimiento.ToString("dd/MM/yyyy")
                }
            </div>
            <div class="perfilUsuario">
                Usuario: @Html.DisplayFor(model => model.usuario)
            </div>
        </div>

        <div class="contacto">

            @if (Model.ioiID != 0)
            {
                <a href='@Url.Content("http://stats.ioinformatics.org/people/" + @Model.ioiID)' target="_blank"><img src="~/img/ioi.png" alt="ioi" style="width:20px;"/></a>
            }

            @if (Model.sitio.Length > 0)
            {
                <a href="@Model.sitio" target="_blank"><img src="~/img/homepage.png" alt="sitio"/></a>
            }

            @if (Model.correo.Length > 0)
            {
                <a href="mailto:@Model.correo" target="_blank"><img src="~/img/mail.png" alt="correo"/></a>
            }

            @if (Model.facebook.Length > 0)
            {
                <a href='@Url.Content("https://www.facebook.com/" + @Model.facebook)' target="_blank"><img src="~/img/facebook.png" alt="facebook"/></a>
            }

            @if (Model.twitter.Length > 0)
            {
                <a href='@Url.Content("http://www.twitter.com/" + @Model.twitter)' target="_blank"><img src="~/img/twitter.png" alt="twitter"/></a>
            }
        </div>

    </div>

    <div class="botones">
        <!-- -TODO- Agregar enlaces a los lugares correctos -->

        @if ((@ViewBag.usuario == null || @ViewBag.usuario.clave == 0) && Regex.IsMatch(Model.usuario, @"^\d+$"))
        {
            <div>
                <div class="botonPerfil">Reclamar usuario</div>
            </div>
            <br />
        }

        @if (@ViewBag.usuario != null)
        {
            if (@ViewBag.usuario.clave != 0 && (@ViewBag.usuario.clave == Model.clave))
            {
                <div>
                    @Html.ActionLink("Actualizar datos", "Edit", "Profile",
                                     null, new { @class = "botonPerfil" })
                </div>
                <br />
            }

            if (@ViewBag.usuario.admin)
            {
                if (@ViewBag.usuario.clave != Model.clave)
                {
                    <div>
                        <div class="botonPerfil">Mandar contraseña</div>
                    </div>
                    <br />

                    <div>
                        <div class="botonPerfil">Asignar cuenta</div>
                    </div>
                    <br />

                    <div>
                        <a href='@Url.Content("/Admin/Change?usuario=" + Model.usuario)' class="botonPerfil">
                            @if (Model.admin)
                            {
                                <span>Eliminar Admin</span>
                            }
                            else
                            {
                                <span>Hacer admin</span>
                            }
                        </a>
                    </div>
                    <br />

                    <div>
                        <div class="botonPerfil">Unir usuario</div>
                    </div>
                    <br />
                }
            }
        }

    </div>

    <div style="clear:both">
        @if (ViewBag.usuario != null && ViewBag.usuario.clave == Model.clave && !ViewBag.usuario.admin)
        {
            <!-- -TODO- Enlace -->
            <span>Si tuviste participaciones que no están listadas en nuestra página, mándanos un correo con los datos faltantes.</span>
        }
    </div>