@model OMIstats.Models.Estado

@section AddToHead
{
    <link href="~/Content/estados.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/tablas.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/olimpiadas.css" type="text/css" rel="stylesheet" />
}

@section scripts
{
    <script type="text/javascript" src="/Scripts/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.metadata.js"></script>
    <script type="text/javascript" src="/js/sorters.js"></script>
    <script>
        $(function () {
            agregaSorterMedallas("tablaAlumnos");
            agregaSorterOMI("tablaAlumnos");
            cargaSorter("tablaAlumnos");
        });
    </script>
}

@{
    ViewBag.Title = Model.nombre;
}

<div class="submenu">
    @{
        OMIstats.Models.Medalleros medalleros = ViewBag.medalleros;
        OMIstats.Models.Olimpiada.TipoOlimpiada tipoOlimpiada = ViewBag.tipo;
    }

    @foreach (OMIstats.Models.Olimpiada.TipoOlimpiada tipo in Enum.GetValues(typeof(OMIstats.Models.Olimpiada.TipoOlimpiada)))
    {
        if (medalleros.medalleroDeTipo(tipo) != null && tipoOlimpiada != tipo)
        {
            @Html.ActionLink(tipo.ToString(), "Index", "Estado",
                new { clave = Model.clave, tipo = tipo.ToString() }, new { @class = "mini-boton" })
        }
    }
</div>

@{
    OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    List<OMIstats.Models.Olimpiada> sedes = ViewBag.sedes;
}

<div class="subtitulo">
    @if (sedes != null && sedes.Count > 0)
    {
        <span>Sede de la:</span>
        for (int i = 0; i < sedes.Count; i++)
        {
            OMIstats.Models.Olimpiada sede = sedes[i];
            tableManager.setCurrentOMI(sede);
            if(i == sedes.Count - 1 && i != 0)
            {
                <span> y </span>
            }
            if(i == sedes.Count - 1)
            {
                <span>
                    <a href="@Url.Content("~/Olimpiada?clave=" + sede.numero)" class="nombre">
                        @Url.Content("~/" + tableManager.enlaceOMI(nombreCompleto: true))
                    </a>
                </span>
            }
            else
            {
                <span>
                    <a href="@Url.Content("~/Olimpiada?clave=" + sede.numero)" class="nombre">
                        @Url.Content("~/" + tableManager.enlaceOMI(nombreCompleto: true))
                    </a>,
                </span>
            }
        }
    }
</div>

<div>
    <div class="logoEstadoFloat" >
        <img src="@Url.Content("~/img/estados/" + Model.clave + ".png")"/>
    </div>

    <div class="datosEstado tituloEstado">
        <div>
            <h2 class="titulo">@Model.nombre</h2>
            <div class="medallero">
                <img src="@Url.Content("~/img/" + tipoOlimpiada.ToString() + ".png")" class="tipoOMI"/>
                <div class="separador">:</div>
                <div class="medalla" title="Medallas de oro">
                    <div><img src="~/img/oro.png"/></div>
                    <div>@ViewBag.medallas.oros</div>
                </div>
                <div class="medalla" title="Medallas de plata">
                    <div><img src="~/img/plata.png"/></div>
                    <div>@ViewBag.medallas.platas</div>
                </div>
                <div class="medalla" title="Medallas de bronce">
                    <div><img src="~/img/bronce.png"/></div>
                    <div>@ViewBag.medallas.bronces</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear">

</div>

<h1 class="titulo subtitulo"> Alumnos competidores
    @if (tipoOlimpiada == OMIstats.Models.Olimpiada.TipoOlimpiada.OMIS)
    {
        @("de secundaria")
    }
    @if (tipoOlimpiada == OMIstats.Models.Olimpiada.TipoOlimpiada.OMIP)
    {
        @("de primaria")
    }
</h1>

<table class="tablesorter table tablePadding tablaResultados" id="tablaAlumnos">
    <thead>
        <tr class="table-header">
            <th></th>
            <th class="bottom-border right-border table-header-clickable">Lugar</th>
            <th class="bottom-border right-border table-header-clickable {sorter:'omi'}">Olimpiada</th>
            <th class="bottom-border right-border table-header-clickable">Género</th>
            <th class="bottom-border right-border table-header-clickable">Concursante</th>
            <th class="bottom-border right-border table-header-clickable">Clave</th>
            <th class="bottom-border right-border table-header-clickable">Puntos</th>
            <th class="bottom-border right-border table-header-clickable {sorter:'medalla'}">Medalla</th>
            <th class="bottom-border right-border table-header-clickable">Escuela</th>
            <th class="bottom-border right-border table-header-clickable">Nivel escolar</th>
            <th class="bottom-border table-header-clickable">Año escolar</th>
        </tr>
    </thead>
    <tbody>
        @{ tableManager = new OMIstats.Utilities.TableManager(ViewBag.admin, ViewBag.claveUsuario); }
        @for (var l = 0; l < ViewBag.participantes.Count; l++)
        {
            OMIstats.Models.Resultados datos = ViewBag.participantes[l];
            tableManager.setCurrentResultados(datos);
            tableManager.setCurrentOMI();

            string claseCSS = tableManager.obtenerClaseCSS();
            bool mostrar = tableManager.mostrarLinea();

            if (tableManager.faltaNombre())
            {
                continue;
            }
            <tr>
                <td class="ioi-mini-imagen">
                    @if(tableManager.mostrarLogoIOI())
                    {
                        <a href="@Url.Content("http://stats.ioinformatics.org/people/" + datos.persona.ioiID)" target="_blank">
                            <img src="~/img/ioi.png" />
                        </a>
                    }
                </td>
                <td class="@("table-td right-border center " + claseCSS)">
                    @if (mostrar && datos.lugar > 0)
                    {
                        @(datos.lugar)
                    }
                </td>
                <td class="@("table-td right-border " + claseCSS)" omi="@(datos.omi)">
                    <a class="nombre" href="@Url.Content("~/Olimpiada/Resultados?clave=" + datos.omi + "&tipo=" + tipoOlimpiada.ToString())">
                        @tableManager.enlaceOMI()
                    </a>
                </td>
                <td class="@("table-td center right-border " + claseCSS)">
                    @if(datos.persona.genero == "M")
                    {
                        <span class="azul">H</span>
                    }
                    else
                    {
                        <span class="rosa">M</span>
                    }
                </td>
                <td class="@("table-td break-word right-border " + claseCSS)">
                    <a class="nombre" href="@Url.Content("~/Profile/view?usuario=" + datos.persona.usuario + "&tipo=" + tipoOlimpiada.ToString())">
                        @datos.persona.nombre
                    </a>
                </td>
                <td class="@("table-td center right-border " + claseCSS)">
                    @if (!tableManager.faltaClave())
                    {
                        <a class="nombre" href="@Url.Content("~/Olimpiada/Delegacion?clave=" + datos.omi + "&estado=" + Model.clave + "&tipo=" + tipoOlimpiada.ToString())">
                            @datos.clave
                        </a>
                    }
                </td>
                <td class="@("table-td center right-border resultado-total " + claseCSS)">
                    @if (mostrar)
                    {
                        @(datos.total)
                    }
                </td>
                <td class="@("table-td center right-border " + claseCSS)" medalla="@((int)datos.medalla)">
                    @tableManager.medallaString()
                </td>
                <td class="@("table-td break-word right-border " + claseCSS)">
                    @if (datos.escuela != null)
                    {
                        <span>
                            <a class="nombre" href="@Url.Content("~/Escuela?url=" + datos.escuela.nombreURL + "&tipo=" + tipoOlimpiada.ToString())">
                                @datos.escuela.nombreCorto
                            </a>
                        </span>
                    }
                </td>
                <td class="@("table-td right-border " + claseCSS)">
                    @if (datos.nivelInstitucion != OMIstats.Models.Institucion.NivelInstitucion.NULL)
                    {
                        @(datos.nivelInstitucion.ToString())
                    }
                </td>
                <td class="@("table-td center " + claseCSS)">
                    @if (datos.añoEscolar != 0)
                    {
                        @(datos.añoEscolar + "º")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="clear">

</div>

