@model OMIstats.Models.Olimpiada

@{
    ViewBag.Title = "Actualizar asistentes";
    OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    tableManager.setCurrentOMI(Model);
}

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
}

<h2 class="titulo">Asistentes de la @tableManager.enlaceOMI(nombreCompleto: true)</h2>

@if (ViewBag.guardado)
{
    <p class="ejemplos verde">
        Los cambios de guardaron satisfactoriamente.
    </p>

    <p class="ejemplos">
        <a href="@Url.Content("~/Olimpiada?clave=" + Model.numero)">Volver al perfil de la Olimpiada</a>
    </p>
}
else
{
    if (ViewBag.errorOMI)
    {
        <p class="ejemplos errorTextoRojo instrucciones">
            Hubo un error en las siguientes líneas
        </p>

        <p class="ejemplos">
            El resto de las líneas se guardaron satisfactoriamente
        </p>
    }
    else
    {
        <div class="submenu">
            @foreach (OMIstats.Models.Olimpiada.TipoOlimpiada tipo in Enum.GetValues(typeof(OMIstats.Models.Olimpiada.TipoOlimpiada)))
            {
                if (tipo != OMIstats.Models.Olimpiada.TipoOlimpiada.IOI && 
                    tipo != OMIstats.Models.Olimpiada.TipoOlimpiada.NULL &&
                    Model.tipoOlimpiada != tipo)
                {
                    <a class="boton" href="@Url.Content("~/Olimpiada/Attendees?tipo=" + tipo.ToString() + "&clave=" + Model.numero)">@(tipo.ToString())</a>
                }
            }
        </div>

        <p class="ejemplos">
            <span class="instrucciones">ORDEN:</span> <span class="opcional">(campos en italicas son opcionales)</span>
        </p>

        <p class="ejemplos">
            <span class="opcional">usuario</span>, nombre, estado, tipo asistente, clave, <span class="opcional">fecha nacimiento</span>, genero, <span class="opcional">correo, CURP ,escuela, nivel escuela, año escolar, publica o privada, ELIMINAR</span>
        </p>

        <p class="ejemplos">
            <span class="instrucciones">EJEMPLOS:</span>
        </p>

        <p class="ejemplos">
            darknut, Félix Rafael Horta Cuadrilla, MEX, competidor, MEX-1, 12/07/1988, M, felix.cuadrilla@gmail.com, , CECyT 9, preparatoria, 2, publica
            <br />
            , Fulanita Perez, MDF, competidor, DIF-3, , F, , , EST 99, secundaria, 3, privada, ELIMINAR
        </p>
    }

    <form name="asistentesOMI" id="asistentesOMI" action="~/Olimpiada/Attendees" method="post" enctype="multipart/form-data">
        <textarea name="tabla" id="tabla" class="tablaAsistentes">@ViewBag.asistentes</textarea>
        <input name="clave" id="clave" type="hidden" value="@Model.numero" />
        <input name="tipo" id="tipo" type="hidden" value="@Model.tipoOlimpiada.ToString()" />

        <div class="ejemplos">
            <input type="button" onclick="muestraLoadGifYSubmit('asistentesOMI')" value="Enviar"/>
            <img class="textoRojo" id='loading' src="~/img/ajax-loader.gif" />
        </div>
    </form>
}