@model OMIstats.Models.Olimpiada

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
    <link href="~/Content/profile.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/estados.css" type="text/css" rel="stylesheet" />
}

@{
    OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    tableManager.setCurrentOMI(Model);
    ViewBag.Title = ViewBag.estado.nombre + " en la " + tableManager.enlaceOMI(nombreCompleto: true);
}

<div class="submenu">
    <div class="comboTitle">Olimpiadas:</div>
    <select onChange="redirige('@Url.Content("~/Olimpiada/Delegacion?estado=" + ViewBag.estado.clave + "&clave=")', this.options[this.selectedIndex].value)" class="comboMargin">
        @for(int i = ViewBag.olimpiadas.Count - 1; i >= 0; i--)
        {
            OMIstats.Models.Olimpiada omi = ViewBag.olimpiadas[i];
            tableManager.setCurrentOMI(omi);
            if (omi.numero == Model.numero)
            {
                <option value="@omi.numero" selected="selected">@(tableManager.enlaceOMI() + " " + omi.año)</option>
            }
            else
            {
                <option value="@omi.numero">@(tableManager.enlaceOMI() + " " + omi.año)</option>
            }
        }
    </select>
</div>

@{
    Dictionary<OMIstats.Models.Olimpiada.TipoOlimpiada, List<OMIstats.Models.MiembroDelegacion>> delegaciones = ViewBag.delegaciones;
    Boolean hayDelegacion = false;
    OMIstats.Models.Olimpiada.TipoOlimpiada tipoOlimpiada = ViewBag.tipo;
    tableManager.setCurrentOMI(Model);
}

<div>
    <div class="logoEstadoFloat" >
        <img src="@Url.Content("~/img/estados/" + ViewBag.estado.clave + ".png")"/>
    </div>

    <div class="datosEstado tituloEstado">
        <div>
            <h2 class="titulo">
                @Html.ActionLink((string) ViewBag.estado.nombre, "Index", "Estado",
                    new { clave = ViewBag.estado.clave, tipo = tipoOlimpiada }, new { @class = "link" })
                en la
                @Html.ActionLink(tableManager.enlaceOMI(nombreCompleto: true), "Resultados", "Olimpiada",
                   new { clave = Model.numero, tipo = tipoOlimpiada }, new { @class = "link" })
            </h2>
            <div class="medallero">
                <div class="medalla" title="Medallas de oro">
                    <div><img src="~/img/oro.png"/></div>
                    <div>@ViewBag.medallas.oros</div>
                </div>
                <div class="medalla" title="Medallas de plata">
                    <div><img src="~/img/plata.png"/></div>
                    <div>@ViewBag.medallas.platas</div>
                </div>
                <div class="medalla" title="Medallas de bronce">
                    <div><img src="~/img/bronce.png"/></div>
                    <div>@ViewBag.medallas.bronces</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>

<br />
<br />

@foreach(OMIstats.Models.Olimpiada.TipoOlimpiada tipo in delegaciones.Keys)
{
    List<OMIstats.Models.MiembroDelegacion> delegacion = delegaciones[tipo];
    if (delegacion.Count == 0)
    {
        continue;
    }
    hayDelegacion = true;
    string titulo = "Competidores";
    switch(tipo)
    {
        case OMIstats.Models.Olimpiada.TipoOlimpiada.OMIS:
            {
                titulo = "Competidores de secundaria";
                break;
            }
        case OMIstats.Models.Olimpiada.TipoOlimpiada.OMIP:
            {
                titulo = "Competidores de primaria";
                break;
            }
    }
    <div class="subtitulo">@(titulo)</div>

    <div class="tablaDelegacion">

        @foreach (OMIstats.Models.MiembroDelegacion md in delegacion)
        {
            <div class="miembroDelegacion @OMIstats.Utilities.TableManager.obtenerClaseCSS(md.medalla)">
                <div class="foto fotoFixedHeight">
                    <img src='@Url.Content(md.fotoUsuario)' alt="@md.nombreAsistente"/>
                </div>
                <div class="datosMiembro">
                    <div class="noOverflow"><a class="nombre nombreMiembro" href="@Url.Content("~/Profile/view?usuario=" + md.usuario + "&tipo=" + tipo)" title="@md.nombreAsistente">@md.nombreAsistente</a></div>
                    <div class="claveMiembro">
                        @if (!OMIstats.Utilities.TableManager.faltaClave(md.clave)) {
                            @md.clave
                        }
                    </div>
                    @if (md.medalla != OMIstats.Models.Resultados.TipoMedalla.NADA && md.medalla != OMIstats.Models.Resultados.TipoMedalla.NULL)
                    {
                        <img class="medallaMiembro" src="@Url.Content("~/" + OMIstats.Utilities.TableManager.obtenerImagenMedalla(md.medalla))"/>
                    }
                </div>
            </div>
        }

    </div>
}

@if (!hayDelegacion) {
    if (ViewBag.vinoAOlimpiada)
    {
        <div class="subtitulo">No se tienen datos de la delegación</div>
    }
    else
    {
        <div class="subtitulo">El estado no participó en esta olimpiada</div>
    }
}

@if (ViewBag.lideres.Count > 0)
{
    <div class="subtitulo">Líderes</div>

    <div class="tablaDelegacion">

        @foreach (OMIstats.Models.MiembroDelegacion md in ViewBag.lideres)
        {
            <div class="miembroDelegacion">
                <div class="foto fotoFixedHeight">
                    <img src='@Url.Content(md.fotoUsuario)' alt="@md.nombreAsistente"/>
                </div>
                <div class="datosMiembro">
                    <div class="noOverflow"><a class="nombre nombreMiembro" href="@Url.Content("~/Profile/view?usuario=" + md.usuario + "&tipo=" + tipoOlimpiada)" title="@md.nombreAsistente">@md.nombreAsistente</a></div>
                    <div class="claveMiembro">
                        @md.getTipoAsistenteString()
                    </div>
                </div>
            </div>
        }

    </div>
}

@if (ViewBag.otros.Count > 0)
{
    if(ViewBag.lideres.Count == 0 && !hayDelegacion)
    {
        <div class="subtitulo">Delegación</div>
    } else {
        <div class="subtitulo">Resto de la delegación</div>
    }

    <div class="tablaDelegacion">

        @foreach (OMIstats.Models.MiembroDelegacion md in ViewBag.otros)
        {
            <div class="miembroDelegacion">
                <div class="foto fotoFixedHeight">
                    <img src='@Url.Content(md.fotoUsuario)' alt="@md.nombreAsistente"/>
                </div>
                <div class="datosMiembro">
                    <div class="noOverflow"><a class="nombre nombreMiembro" href="@Url.Content("~/Profile/view?usuario=" + md.usuario + "&tipo=" + tipoOlimpiada)" title="@md.nombreAsistente">@md.nombreAsistente</a></div>
                    <div class="claveMiembro">
                        @md.getTipoAsistenteString()
                    </div>
                </div>
            </div>
        }

    </div>
}