@model OMIstats.Models.Olimpiada

@section AddToHead
{
    <link href="~/Content/olimpiadas.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/profile.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/estados.css" type="text/css" rel="stylesheet" />
}

@{
    OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    List<OMIstats.Models.Estado> estadosEnOlimpiada = ViewBag.estadosEnOlimpiada;
    List<OMIstats.Models.Olimpiada> olimpiadas = ViewBag.olimpiadas;
    HashSet<string> olimpiadasParaEstado = ViewBag.olimpiadasParaEstado;
    tableManager.setCurrentOMI(Model);
    OMIstats.Models.Estado estado = ViewBag.estado;
    OMIstats.Models.Medallero medallas = ViewBag.medallas;
    ViewBag.Title = estado.nombre + " en la " + tableManager.enlaceOMI(nombreCompleto: true);
    bool isLive = ViewBag.liveResults;
    bool extranjeros = false;
    bool tieneFavicon = ViewBag.tieneFavicon;
}

@section Scripts
{
@if (tieneFavicon)
{
<script>addFavicon('@Url.Content("~")', '@Model.numero');</script>
}
}

<div class="submenu">
    <div class="comboTitle">Olimpiadas:</div>
    <select onChange="redirige('@Url.Content("~/Olimpiada/Delegacion?estado=" + estado.clave + "&clave=")', this.options[this.selectedIndex].value)" class="comboMargin">
        @for (int i = 0; i < olimpiadas.Count; i++)
        {
            OMIstats.Models.Olimpiada omi = olimpiadas[i];
            if (!olimpiadasParaEstado.Contains(omi.numero))
            {
                continue;
            }
            tableManager.setCurrentOMI(omi);
            <option value="@omi.numero" @(omi.numero == Model.numero ? "selected" : "")>@(tableManager.enlaceOMI() + " " + omi.año)</option>
        }
    </select>

    <div class="comboTitle">Estados:</div>
    <select onChange="redirige('@Url.Content("~/Olimpiada/Delegacion?clave=" + Model.numero + "&estado=")', this.options[this.selectedIndex].value)" class="comboMargin">
        @for (int i = 0; i < estadosEnOlimpiada.Count; i++)
        {
            OMIstats.Models.Estado e = estadosEnOlimpiada[i];
            if (e.extranjero)
            {
                extranjeros = true;
                continue;
            }
            <option value="@e.clave" @(e.clave == estado.clave ? "selected" : "")>@(e.nombre)</option>
        }
        @if (extranjeros)
        {
            <option value="-">- - -</option>
            for (int i = 0; i < estadosEnOlimpiada.Count; i++)
            {
                OMIstats.Models.Estado e = estadosEnOlimpiada[i];
                if (!e.extranjero)
                {
                    continue;
                }
            <option value="@e.clave" @(e.clave == estado.clave ? "selected" : "")>@(e.nombre)</option>
            }
        }
    </select>
</div>

@{
    Dictionary<OMIstats.Models.TipoOlimpiada, List<OMIstats.Models.MiembroDelegacion>> delegaciones = ViewBag.delegaciones;
    Boolean hayDelegacion = false;
    OMIstats.Models.TipoOlimpiada tipoOlimpiada = ViewBag.tipo;
    tableManager.setCurrentOMI(Model);
}

<div>
    <div class="logoEstadoFloat" >
        <img src="@Url.Content("~/img/estados/" + estado.clave + ".png")"/>
    </div>

    <div class="datosEstado tituloEstado">
        <div>
            <h2 class="titulo">
                @Html.ActionLink((string)estado.nombre, "Index", "Estado",
                    new { clave = estado.clave, tipo = tipoOlimpiada }, new { @class = "link" })
                en la
                @Html.ActionLink(tableManager.enlaceOMI(nombreCompleto: true), "Resultados", "Olimpiada",
                   new { clave = Model.numero, tipo = tipoOlimpiada }, new { @class = "link" })
            </h2>
            @if (!estado.extranjero)
            {
            <div class="medallero">
                <div class="medalla" title="Medallas de oro">
                    <div><img src="~/img/oro.png"/></div>
                    <div>@medallas.oros</div>
                </div>
                <div class="medalla" title="Medallas de plata">
                    <div><img src="~/img/plata.png"/></div>
                    <div>@medallas.platas</div>
                </div>
                <div class="medalla" title="Medallas de bronce">
                    <div><img src="~/img/bronce.png"/></div>
                    <div>@medallas.bronces</div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<div class="clear"></div>

<br />
<br />

@if (isLive)
{
    <div class="live-results">Los resultados en esta página son preeliminares y están sujetos a cambios.</div>
}

@foreach (OMIstats.Models.TipoOlimpiada tipo in delegaciones.Keys)
{
    List<OMIstats.Models.MiembroDelegacion> delegacion = delegaciones[tipo];
    if (delegacion.Count == 0)
    {
        continue;
    }
    hayDelegacion = true;
    string titulo = "Competidores";
    switch (tipo)
    {
        case OMIstats.Models.TipoOlimpiada.OMIS:
            {
                titulo = "Competidores de secundaria";
                break;
            }
        case OMIstats.Models.TipoOlimpiada.OMIP:
            {
                titulo = "Competidores de primaria";
                break;
            }
    }
    <div class="subtitulo">@(titulo)</div>

    <div class="tablaDelegacion">

        @foreach (OMIstats.Models.MiembroDelegacion md in delegacion)
        {
            <div class="miembroDelegacion @OMIstats.Utilities.TableManager.obtenerClaseCSS(md.resultados.medalla)">
                <div class="foto fotoFixedHeight">
                    <img src='@Url.Content(md.fotoUsuario)' alt="@md.nombreAsistente"/>
                </div>
                <div class="datosMiembro">
                    <div class="noOverflow">
                    @if (tipo == OMIstats.Models.TipoOlimpiada.OMI && md.omips)
                    {
                        <img src="~/img/karel.png" title="Participó en OMIPS en años anteriores" class="karel-png-medium"/>
                    }
                    @if (md.resultados.ioi == "Y")
                    {
                        <img src="~/img/star.png" title="Medallista más joven" class="karel-png-medium"/>
                    }
                    <a class="nombre nombreMiembro" href="@Url.Content("~/Profile/view?usuario=" + md.usuario + "&tipo=" + tipo)" title="@md.nombreAsistente">@md.nombreAsistente</a>
                    </div>
                    <div class="claveMiembro">
                        @if (!OMIstats.Utilities.TableManager.faltaClave(md.clave))
                        {
                            @md.clave
                        }
                    </div>
                    <div class="participaciones">
                        @OMIstats.Utilities.TableManager.participaciones(md, tipo)
                    </div>
                    @if (md.resultados.medalla != OMIstats.Models.Resultados.TipoMedalla.NADA && md.resultados.medalla != OMIstats.Models.Resultados.TipoMedalla.NULL && md.resultados.medalla != OMIstats.Models.Resultados.TipoMedalla.DESCALIFICADO)
                    {
                        <img class="medallaMiembro" src="@Url.Content("~/" + OMIstats.Utilities.TableManager.obtenerImagenMedalla(md.resultados.medalla))"/>
                    }
                </div>
            </div>
        }

        @if (tipo == OMIstats.Models.TipoOlimpiada.OMI && Model.tieneDelebs)
        {
            foreach (OMIstats.Models.MiembroDelegacion md in ViewBag.delebs)
            {
                if (md.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.DELEB && md.resultados.medalla != OMIstats.Models.Resultados.TipoMedalla.NULL)
                {
            <div class="miembroDelegacion @OMIstats.Utilities.TableManager.obtenerClaseCSS(md.resultados.medalla)">
                <div class="foto fotoFixedHeight">
                    <img src='@Url.Content(md.fotoUsuario)' alt="@md.nombreAsistente"/>
                </div>
                <div class="datosMiembro">
                    <div class="noOverflow">
                    @if (tipo == OMIstats.Models.TipoOlimpiada.OMI && md.omips)
                    {
                        <img src="~/img/karel.png" title="Participó en OMIPS en años anteriores" class="karel-png-medium"/>
                    }
                    <a class="nombre nombreMiembro" href="@Url.Content("~/Profile/view?usuario=" + md.usuario + "&tipo=" + tipo)" title="@md.nombreAsistente">@md.nombreAsistente</a>
                    </div>
                    <div class="claveMiembro">
                        @md.clave
                    </div>
                </div>
            </div>
                }
            }
        }

    </div>
}

@if (!hayDelegacion)
{
    if (ViewBag.vinoAOlimpiada)
    {
        <div class="subtitulo">No se tienen datos de la delegación</div>
    }
    else
    {
        <div class="subtitulo">El estado no participó en esta olimpiada</div>
    }
}

@if (ViewBag.lideres.Count > 0)
{
    <div class="subtitulo">Líderes</div>

    <div class="tablaDelegacion">

        @foreach (OMIstats.Models.MiembroDelegacion md in ViewBag.lideres)
        {
            <div class="miembroDelegacion">
                <div class="foto fotoFixedHeight">
                    <img src='@Url.Content(md.fotoUsuario)' alt="@md.nombreAsistente"/>
                </div>
                <div class="datosMiembro">
                    <div class="noOverflow"><a class="nombre nombreMiembro" href="@Url.Content("~/Profile/view?usuario=" + md.usuario + "&tipo=" + tipoOlimpiada)" title="@md.nombreAsistente">@md.nombreAsistente</a></div>
                    <div class="claveMiembro">
                        @md.getTipoAsistenteString()
                    </div>
                </div>
            </div>
        }

    </div>
}

@if (ViewBag.otros.Count > 0)
{
    if (ViewBag.lideres.Count == 0 && !hayDelegacion)
    {
        <div class="subtitulo">Delegación</div>
    }
    else
    {
        <div class="subtitulo">Resto de la delegación</div>
    }

    <div class="tablaDelegacion">

        @foreach (OMIstats.Models.MiembroDelegacion md in ViewBag.otros)
        {
            <div class="miembroDelegacion">
                <div class="foto fotoFixedHeight">
                    <img src='@Url.Content(md.fotoUsuario)' alt="@md.nombreAsistente"/>
                </div>
                <div class="datosMiembro">
                    <div class="noOverflow"><a class="nombre nombreMiembro" href="@Url.Content("~/Profile/view?usuario=" + md.usuario + "&tipo=" + tipoOlimpiada)" title="@md.nombreAsistente">@md.nombreAsistente</a></div>
                    <div class="claveMiembro">
                        @md.getTipoAsistenteString()
                    </div>
                </div>
            </div>
        }

    </div>
}