@section AddToHead
{
    <link href="~/Content/profile.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/estados.css" type="text/css" rel="stylesheet" />
}

@{
    ViewBag.Title = ViewBag.estado.nombre + " en la " + ViewBag.olimpiada.numero + "ª OMI";
}

<div>
    <div class="logoEstadoFloat" >
        <img src="@Url.Content("~/img/estados/" + ViewBag.estado.clave + ".png")"/>
    </div>

    <div class="datosEstado tituloEstado">
        <div>
            <h2 class="titulo">
                <a href="@Url.Content("/Estado?clave=" + ViewBag.estado.clave)">@ViewBag.estado.nombre</a>
                en la 
                <a href="@Url.Content("/Olimpiada?clave=" + ViewBag.olimpiada.numero)">@(ViewBag.olimpiada.numero + "ª OMI")</a>
            </h2>
            <div class="medallero">
                <div class="medalla" title="Medallas de oro">
                    <div><img src="~/img/oro.png"/></div>
                    <div>@ViewBag.medallas.oros</div>
                </div>
                <div class="medalla" title="Medallas de plata">
                    <div><img src="~/img/plata.png"/></div>
                    <div>@ViewBag.medallas.platas</div>
                </div>
                <div class="medalla" title="Medallas de bronce">
                    <div><img src="~/img/bronce.png"/></div>
                    <div>@ViewBag.medallas.bronces</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>

<br />
<br />

@if(ViewBag.delegacion.Count > 0)
{
    <div class="subtitulo">Competidores</div>

    <div class="tablaDelegacion">

        @foreach (OMIstats.Models.MiembroDelegacion md in ViewBag.delegacion)
        {
            <div class="miembroDelegacion @OMIstats.Utilities.TableManager.obtenerClaseCSS(md.medalla)">
                <div class="foto fotoFixedHeight">
                    <img src='@Url.Content(md.fotoUsuario)' alt="@md.nombreAsistente"/>
                </div>
                <div class="datosMiembro">
                    <a class="nombre nombreMiembro" href="@Url.Content("/Profile/view?usuario=" + md.usuario)">@md.nombreAsistente</a>
                    <div class="claveMiembro">
                        @if (!OMIstats.Utilities.TableManager.faltaClave(md.clave)) {
                            @md.clave
                        }
                    </div>
                    @if (md.medalla != OMIstats.Models.Resultados.TipoMedalla.NADA && md.medalla != OMIstats.Models.Resultados.TipoMedalla.NULL)
                    {
                        <img class="medallaMiembro" src="@OMIstats.Utilities.TableManager.obtenerImagenMedalla(md.medalla)"/>
                    }
                </div>
            </div>
        }

    </div>
} else {
    if (ViewBag.vinoAOlimpiada)
    {
        <div class="subtitulo">No se tienen datos de la delegación</div>
    }
    else
    {
        <div class="subtitulo">El estado no participó en esta olimpiada</div>
    }
}