@model OMIstats.Models.Olimpiada

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
}

@{
    ViewBag.Title = "Editar Olimpiada";
}

<h1 class="titulo">Editar Olimpiada</h1>

@if (ViewBag.guardado)
{
    <p class="verde">
        Los cambios se guardaron satisfactoriamente.
    </p>
    <p>
        <a href="@Url.Content("~/Olimpiada?clave=" + Model.numero)">Ver Olimpiada</a>
    </p>

}
else
{
   <form name="editOlimpiada" id="editOlimpiada" action="~/Olimpiada/Edit" method="post" enctype="multipart/form-data">
        <div>
            <div class="logoOMI">
                <img src="@Url.Content("~/img/omi/" + Model.logo)"/>
            </div>

            <div class="clear"></div>

            <div class="datosOlimpiada">
                 <div>
                    <div class="label">Número:</div>
                    <div class="input">
                        @Html.TextBoxFor(model => model.numero, new { @class = "smallInput" })
                        @Html.ValidationMessageFor(model => model.numero)
                        @if (ViewBag.errorOMI == true)
                        {
                            <div class="errorTextoRojo">Escribe un número de olimpiada válido</div>
                        }
                    </div>
                </div>

                <div>
                    <div class="label">Año:</div>
                    <div class="input">
                        @Html.TextBoxFor(model => model.año, new { @class = "smallInput" })
                        @Html.ValidationMessageFor(model => model.año, "Escribe un año válido")
                    </div>
                </div>

                <div>
                    <div class="label">Estado:</div>
                    <div class="input">
                        @Html.TextBoxFor(model => model.claveEstado, new { @class = "smallInput" })
                        @Html.ValidationMessageFor(model => model.claveEstado)
                        @if (ViewBag.errorEstado == true)
                        {
                            <div class="errorTextoRojo">La clave del estado es inválida</div>
                        }
                    </div>
                </div>

                <div>
                    <div class="label">Ciudad:</div>
                    <div class="input">
                        @Html.TextBoxFor(model => model.ciudad)
                        @Html.ValidationMessageFor(model => model.ciudad)
                    </div>
                </div>

                <div>
                    <div class="label">Inicio:</div>
                    <div class="input">
                        @Html.TextBoxFor(model => model.inicio, "{0:dd/MM/yyyy}")
                        @Html.ValidationMessageFor(model => model.inicio, "No escribiste una fecha válida")
                    </div>
                </div>

                <div>
                    <div class="label">Fin:</div>
                    <div class="input">
                        @Html.TextBoxFor(model => model.fin, "{0:dd/MM/yyyy}")
                        @Html.ValidationMessageFor(model => model.fin, "No escribiste una fecha válida")
                    </div>
                </div>

                <div>
                    <div class="label">¿Es online?:</div>
                    <div class="input">
                        @Html.CheckBoxFor(model => model.esOnline)
                    </div>
                </div>

                <div>
                    <div class="label">Estados participantes:</div>
                    <div class="input">
                        @Html.TextBoxFor(model => model.estados)
                        @Html.ValidationMessageFor(model => model.estados)
                    </div>
                </div>

                <div>
                    <div class="label">Número de participantes:</div>
                    <div class="input">
                        @Html.TextBoxFor(model => model.participantes)
                        @Html.ValidationMessageFor(model => model.participantes)
                    </div>
                </div>

                <div>
                    <div class="label">Datos públicos:</div>
                    <div class="input">
                        @Html.CheckBoxFor(model => model.datosPublicos)
                    </div>
                </div>

                <div>
                    <div class="label">Puntos desconocidos:</div>
                    <div class="input">
                        @Html.CheckBoxFor(model => model.puntosDesconocidos)
                    </div>
                </div>

                <div>
                    <div class="label">Puntos detallados:</div>
                    <div class="input">
                        @Html.CheckBoxFor(model => model.puntosDetallados)
                    </div>
                </div>

                <div>
                    <div class="label">Diplomas online:</div>
                    <div class="input">
                        @Html.CheckBoxFor(model => model.diplomasOnline)
                    </div>
                </div>

                <div>
                    <div class="label">Registro activo:</div>
                    <div class="input">
                        @Html.CheckBoxFor(model => model.registroActivo)
                    </div>
                </div>

                <div>
                    <div class="label">¿También OMIPS?:</div>
                    <div class="input">
                        @Html.CheckBoxFor(model => model.alsoOmips)
                    </div>
                </div>

                <div>
                    <div class="label">¿No medallistas conocidos?:</div>
                    <div class="input">
                        @Html.CheckBoxFor(model => model.noMedallistasConocidos)
                    </div>
                </div>

                <div>
                    <div class="label">Escuela sede:</div>
                    <div class="input">
                        @Html.TextBoxFor(model => model.nombreEscuela)
                        @Html.ValidationMessageFor(model => model.nombreEscuela) <!-- -TODO- Agregar enlace a buscar escuelas -->
                    </div>
                </div>

                <div>
                    <div class="label">IOI:</div>
                    <div class="input">
                        @Html.TextBoxFor(model => model.relacion)
                        @Html.ValidationMessageFor(model => model.relacion)
                    </div>
                </div>

                <br />
                <hr />

                <div>
                    <div class="label">Youtube video id:</div>
                    <div class="input">
                        @Html.TextBoxFor(model => model.video)
                        @Html.ValidationMessageFor(model => model.video)
                    </div>
                </div>

                <div>
                    <div class="label">Reporte (.docx):</div>
                    <div class="input">
                        @Html.TextBoxFor(model => model.reporte)
                        @Html.ValidationMessageFor(model => model.reporte)
                    </div>
                </div>

                <div>
                    <div class="label">Actualizar logo:</div>
                    <div class="input">
                        <input type="file" name="fileLogo" id="fileLogo"
                            class="@(ViewBag.errorImagen.Length == 0 ? "" : "input-validation-error")"/>
                            @if (ViewBag.errorImagen == "imagen_invalida")
                            {
                                <div class="errorTextoRojo">El archivo que enviaste no es una imagen</div>
                            }
                    </div>
                </div>

                <div>
                    <div class="label">Actualizar póster:</div>
                    <div class="input">
                        <input type="file" name="filePoster" id="filePoster"
                            class="@(ViewBag.errorInfo.Length == 0 ? "" : "input-validation-error")"/>
                            @if (ViewBag.errorInfo == "imagen_invalida")
                            {
                                <div class="errorTextoRojo">El archivo que enviaste no es valido.</div>
                            }
                    </div>
                </div>

                @Html.HiddenFor(model => model.tipoOlimpiada)
                @Html.HiddenFor(model => model.pais)
                <input type="hidden" value="@ViewBag.clave" id="clave" name="clave" />
                <input type="hidden" value="@ViewBag.poster" id="poster" name="poster" />

                <div class="label">
                    <input type="button"  onclick="muestraLoadGifYSubmit('editOlimpiada')"  value="Enviar"/>
                    <img class="textoRojo" id='loading' src="~/img/ajax-loader.gif" />
                </div>

                @if (ViewBag.errorGuardar == true)
                {
                    <div>
                        <div class="biginput">
                            <div class="errorTextoRojo">Ocurrió un error mientras se guardaban los datos.</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </form>

    <div class="clear">
    </div>

    if (Model.numero != OMIstats.Models.Olimpiada.TEMP_CLAVE)
    {
        <br />
        <a href="@Url.Content("~/Olimpiada/Numeros?clave=" + Model.numero + "&tipo=" + Model.tipoOlimpiada.ToString())" class="boton botonOMI">Calcular Números</a>

        <div class="clear">
        </div>
    }
}