@model OMIstats.Models.Olimpiada

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/tablas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
}

@section scripts
{
    <script type="text/javascript" src="/Scripts/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.metadata.js"></script>
    <script type="text/javascript" src="/js/sorters.js"></script>
    <script>
        $(function () {
            cargaSorter("tablaPuntos");
        });
    </script>
}

@{
    ViewBag.Title = "Tabla de estados de la " + Model.numero + "ª OMI";
}

<div class="submenu">
    @Html.ActionLink("Datos", "Index", "Olimpiada",
            new { clave = Model.numero }, new { @class = "mini-boton" })
    @Html.ActionLink("Resultados", "Resultados", "Olimpiada",
            new { clave = Model.numero }, new { @class = "mini-boton" })

    <br />
    <br />
    <br />
    <div class="comboTitle">Olimpiadas:</div>
    <select onChange="redirige('/Olimpiada/Estados?clave=', this.options[this.selectedIndex].value)" class="comboMargin">
        @for(int i = ViewBag.olimpiadas.Count - 1; i >= 0; i--)
        {
            OMIstats.Models.Olimpiada omi = ViewBag.olimpiadas[i];
            if (omi.numero == Model.numero)
            {
                <option value="@omi.numero" selected="selected">@(omi.numero + "ª OMI " + omi.año)</option>
            }
            else
            {
                <option value="@omi.numero">@(omi.numero + "ª OMI " + omi.año)</option>
            }
        }
    </select>
</div>

<h1 class="titulo">@ViewBag.Title</h1>

<table class="table" id="tablaPuntos">
    <thead>
        <tr class="table-header">
            <th class="bottom-border right-border table-header-clickable">Lugar</th>
            <th class="bottom-border right-border table-header-clickable">Estado</th>
            <th class="bottom-border right-border table-header-clickable">Oros</th>
            <th class="bottom-border right-border table-header-clickable">Platas</th>
            <th class="bottom-border right-border table-header-clickable">Bronces</th>
            <th class="bottom-border right-border table-header-clickable">Total</th>
            <th class="bottom-border table-header-clickable">Puntos</th>
        </tr>
    </thead>

    @{
    int lugar = 0;
    int count = 0;
    int totalOros = 0;
    int totalPlatas = 0;
    int totalBronces = 0;
    int totalMedallas = 0;
    float? totalPuntos = 0;
    float? lastPuntos = 0;
    }
    @foreach (OMIstats.Models.Resultados res in ViewBag.estados)
    {
        count++;
        if (lastPuntos != res.total)
        {
            lugar = count;
        }
        lastPuntos = res.total;
        
        List<OMIstats.Models.MiembroDelegacion> delegacion = OMIstats.Models.MiembroDelegacion.obtenerMiembrosDelegacion(Model.numero, res.estado, OMIstats.Models.Olimpiada.TipoOlimpiada.OMI, OMIstats.Models.MiembroDelegacion.TipoAsistente.COMPETIDOR);
        OMIstats.Models.Medallero medallero = OMIstats.Models.Medallero.contarMedallas(delegacion);
        
        totalOros += medallero.oros;
        totalPlatas += medallero.platas;
        totalBronces += medallero.bronces;
        totalMedallas += medallero.oros + medallero.platas + medallero.bronces;
        
        totalPuntos += res.total;
        
        OMIstats.Models.Estado estado = OMIstats.Models.Estado.obtenerEstadoConClave(res.estado);
        
        <tr>
            <td class="table-td center right-border ">@lugar</td>
            <td class="table-td right-border ">
                <a class="nombre" href="@Url.Content("/Olimpiada/Delegacion?clave=" + Model.numero + "&estado=" + estado.clave)">
                    @estado.nombre
                </a>
                @if (estado.clave == Model.claveEstado)
                {
                    <sup><a class="nombre" href="#sede">1</a></sup>
                }
            </td>
            <td class="table-td center right-border fondoOro">@medallero.oros</td>
            <td class="table-td center right-border fondoPlata">@medallero.platas</td>
            <td class="table-td center right-border fondoBronce">@medallero.bronces</td>
            <td class="table-td center right-border ">@(medallero.oros + medallero.platas + medallero.bronces)</td>
            <td class="table-td center">@res.total</td>
        </tr>
    }

    <tfoot>
        <tr>
            <td class="right-border top-border derecha pie pieTitulo table-footer" colspan="2">
                Total:
            </td>
            <td class="center right-border resultado-dia top-border pie fondoOro">
                @totalOros
            </td>
            <td class="center right-border resultado-dia top-border pie fondoPlata">
                @totalPlatas
            </td>
            <td class="center right-border resultado-dia top-border pie fondoBronce">
                @totalBronces
            </td>
            <td class="center right-border resultado-dia top-border pie table-td">
                @totalMedallas
            </td>
            <td class="center resultado-dia top-border pie table-td">
                @totalPuntos
            </td>
        </tr>
    </tfoot>
</table>

<div id="sede" class="sede">
    [1]: Al estado sede solo se le cuentan sus mejores cuatro
    competidores para esta tabla, para ver los detalles del
    resto de la delegación, visite la <a href="@Url.Content("/Olimpiada/Delegacion?clave=" + Model.numero + "&estado=" + Model.claveEstado)">página de la delegación</a>.
</div>