@model OMIstats.Models.Olimpiada

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/tablas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.metadata.js"></script>
    <script type="text/javascript" src="~/js/sorters.js"></script>
    <script>
        $(function () {
            cargaSorter("tablaPuntos");
        });
    </script>
}

@{
    OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    tableManager.setCurrentOMI(Model);
    ViewBag.Title = "Tabla de estados de la " + tableManager.enlaceOMI(nombreCompleto: true);
    bool isLive = ViewBag.liveResults;
}

<div class="submenu">
    @Html.ActionLink("Datos", "Index", "Olimpiada",
            new { clave = Model.numero }, new { @class = "mini-boton" })
    @Html.ActionLink("Resultados", "Resultados", "Olimpiada",
            new { clave = Model.numero }, new { @class = "mini-boton" })

    <br />
    <br />
    <br />
    <div class="comboTitle">Olimpiadas:</div>
    <select onChange="redirige('@Url.Content("~/Olimpiada/Estados?clave=")', this.options[this.selectedIndex].value)" class="comboMargin">
        @for(int i = ViewBag.olimpiadas.Count - 1; i >= 0; i--)
        {
            OMIstats.Models.Olimpiada omi = ViewBag.olimpiadas[i];
            tableManager.setCurrentOMI(omi);
            <option value="@omi.numero" @(omi.numero == Model.numero ? "selected" : "")>@(tableManager.enlaceOMI() + " " + omi.año)</option>
        }
    </select>
</div>

@if (ViewBag.estados.Count == 0)
{
    <h1 class="subtitulo"> No se tienen resultados para esta olimpiada </h1>
}
else
{

<h1 class="titulo">@ViewBag.Title
@if (Model.numero.Equals("8b"))
{
    <sup><a class="nombre" href="#omii">1</a></sup>
}
</h1>

List<OMIstats.Models.Medallero> estados = ViewBag.estados;
bool hayPromedio = ViewBag.hayPromedio;
bool hayPuntos = ViewBag.hayPuntos;

if (isLive)
{
    <div class="live-results">Los resultados en esta página son preeliminares y están sujetos a cambios.</div>
}

<table class="table" id="tablaPuntos">
    <thead>
        <tr class="table-header">
            <th class="bottom-border right-border table-header-clickable">Lugar</th>
            <th class="bottom-border right-border table-header-clickable">Estado</th>
            <th class="bottom-border right-border table-header-clickable">Oros&nbsp;&nbsp;&nbsp;</th>
            <th class="bottom-border right-border table-header-clickable">Platas&nbsp;</th>
            <th class="bottom-border right-border table-header-clickable">Bronces</th>
            <th class="@("bottom-border table-header-clickable " + (hayPuntos ? "right-border" : ""))">Total&nbsp;&nbsp;</th>
            @if (hayPuntos)
            {
                <th class="@("bottom-border table-header-clickable " + (hayPromedio ? "right-border" : ""))">Puntos</th>
            }
            @if(hayPromedio)
            {
                <th class="bottom-border table-header-clickable">Promedio</th>
            }
        </tr>
    </thead>

    @{
    int totalOros = 0;
    int totalPlatas = 0;
    int totalBronces = 0;
    int totalMedallas = 0;
    float? totalPuntos = 0;
    }
    @foreach (OMIstats.Models.Medallero m in ViewBag.estados)
    {
        totalOros += m.oros;
        totalPlatas += m.platas;
        totalBronces += m.bronces;
        totalMedallas += m.oros + m.platas + m.bronces;

        totalPuntos += m.puntos;

        OMIstats.Models.Estado estado = OMIstats.Models.Estado.obtenerEstadoConClave(m.clave);
        
        <tr>
            <td class="table-td center right-border ">@m.lugar</td>
            <td class="table-td right-border ">
                <a class="nombre" href="@Url.Content("~/Olimpiada/Delegacion?clave=" + Model.numero + "&estado=" + estado.clave)">
                    @estado.nombre
                </a>
                @if (estado.clave == Model.claveEstado)
                {
                    <sup><a class="nombre" href="#sede">1</a></sup>
                }
                @if (Model.numero.Equals("12") && Model.tipoOlimpiada == OMIstats.Models.TipoOlimpiada.OMI && estado.clave == "GTO")
                {
                    <sup><a class="nombre" href="#german">2</a></sup>
                }
            </td>
            <td class="table-td center right-border fondoOro">@m.oros</td>
            <td class="table-td center right-border fondoPlata">@m.platas</td>
            <td class="table-td center right-border fondoBronce">@m.bronces</td>
            <td class="@("table-td center " + (hayPuntos ? "right-border" : ""))">@(m.oros + m.platas + m.bronces)</td>
            @if(hayPuntos)
            {
                <td class="@("table-td center " + (hayPromedio ? "right-border" : ""))">@m.puntos</td>
            }
            @if(hayPromedio)
            {
                <td class="table-td center">@m.promedio</td>
            }
        </tr>
    }
    @if(!isLive)
    {
    <tfoot>
        <tr>
            <td class="right-border top-border derecha pie pieTitulo table-footer" colspan="2">
                Total:
            </td>
            <td class="center right-border resultado-dia top-border pie fondoOro">
                @totalOros
            </td>
            <td class="center right-border resultado-dia top-border pie fondoPlata">
                @totalPlatas
            </td>
            <td class="center right-border resultado-dia top-border pie fondoBronce">
                @totalBronces
            </td>
            <td class="@("center resultado-dia top-border pie table-td " + (hayPuntos ? "right-border" : ""))">
                @totalMedallas
            </td>
            @if(hayPuntos)
            {
                <td class="@("center resultado-dia top-border pie table-td " + (hayPromedio ? "right-border" : ""))">
                    @totalPuntos
                </td>
            }
            @if (hayPromedio)
            {
                <td class="center resultado-dia top-border pie table-td">
                    @if (Model.participantes > 0)
                    {
                        @(Math.Round((decimal)totalPuntos / Model.participantes, 2))
                    }
                </td>
            }
        </tr>
    </tfoot>
    }
</table>

if (Model.numero.Equals("8b"))
{
<div id="omii" class="sede">
    [1]: Durante la OMI Intermedia, no hubo reestricción sobre el número de competidores por delegación,
    tampoco hubo reestricción sobre el número de medallas. Para esta tabla, sólo se cuentas las mejores
    4, de forma similar a como se hace en el resto de las olimpiadas.
</div>
}
else
{
<div id="sede" class="sede">
    [1]: Al estado sede solo se le cuentan sus mejores cuatro
    competidores para esta tabla, para ver los detalles del
    resto de la delegación, visite la <a href="@Url.Content("~/Olimpiada/Delegacion?clave=" + Model.numero + "&estado=" + Model.claveEstado)">página de la delegación</a>.
    El total de medallas entregadas en esta tabla también es afectado por esta regla.
</div>
}

if (Model.numero.Equals("12") && Model.tipoOlimpiada == OMIstats.Models.TipoOlimpiada.OMI)
{
<div id="german" class="sede">
    [2]: En la 12a OMI, se le otorgó una quinta medalla
    al estado de Guanajuato por ser el primer chico de escuelas
    primaria en quedar en el medallero. Esa fue la última vez que
    se le permitió a un estado no sede ganar más de cuatro medallas.
    Al igual que con los estados sede, solo los mejores cuatro competidores
    se toman en cuenta, para más detalle, consulte la delegación
    del estado de <a href="~/Olimpiada/Delegacion?clave=12&estado=GTO">Guanajuato</a>.
</div>
}
}