@model OMIstats.Models.Olimpiada

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
}

@{
    OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    tableManager.setCurrentOMI(Model);
    ViewBag.Title = tableManager.enlaceOMI(nombreCompleto: true);
}

<div class="submenu">
    @Html.ActionLink("Resultados", "Resultados", "Olimpiada",
            new { clave = Model.numero }, new { @class = "mini-boton" })

    @Html.ActionLink("Estados", "Estados", "Olimpiada",
            new { clave = Model.numero }, new { @class = "mini-boton" })
</div>

<div class="OMItituloFlexBox">
    <div class="logoOMI">
        <img src="@Url.Content("~/img/omi/" + Model.logo)"/>
    </div>
    <h2 class="titulo tituloOMI">
        @(tableManager.enlaceOMI(nombreCompleto: true) + ": " + (Model.claveEstado == "MDF" ? "" : @Model.ciudad + ", "))
        <a href="@Url.Content("~/Estado?clave=" + Model.claveEstado)">@Model.nombreEstado</a>
        @Model.año
    </h2>
    @if (ViewBag.admin)
    {
        <div class="adminButtons">
            <a href="@Url.Content("~/Olimpiada/Edit?clave=" + Model.numero + "&tipo=" + Model.tipoOlimpiada.ToString())" class="boton botonOMI">Actualizar</a>
            <a href="@Url.Content("~/Olimpiada/Attendees?clave=" + Model.numero + "&tipo=" + Model.tipoOlimpiada.ToString())" class="boton botonOMI">Asistentes</a>
            <a href="@Url.Content("~/Olimpiada/ResultsTable?clave=" + Model.numero + "&tipo=" + Model.tipoOlimpiada.ToString())" class="boton botonOMI">Resultados</a>
        </div>
    }
</div>

<div>

    <div class="datosOlimpiada">

        <div>
            <div class="biglabel">
                @Model.friendlyDate
            </div>
        </div>

        @if (Model.nombreEscuelaCompleto != null && Model.nombreEscuelaCompleto.Length > 0)
        {
            <div>
                <div class="biglabel">
                    Escuela sede: <a href="@Url.Content("~/Escuela?url=" + Model.escuelaURL)" class="nombre"> @Model.nombreEscuelaCompleto </a>
                </div>
            </div>
        }
    </div>

    @if (Model.video != null && Model.video.Length > 0)
    {
        <div class="mediaOMI">
            <iframe width="300" height="169" src="@Url.Content("https://www.youtube.com/embed/" + Model.video)" frameborder="0" allowfullscreen></iframe>
        </div>
    }

    @if (Model.poster != null && Model.poster.Length > 0)
    {
        <div class="mediaOMI">
            <a href="@Url.Content("~/img/posters/" + Model.poster)" target="_blank" class="nombre">
                <img src="~/img/posters/mini.png"/><br />Póster</a>
        </div>
    }

    @if (Model.reporte != null && Model.reporte.Length > 0)
    {
        <div class="mediaOMI">
            <a href="@Uri.EscapeUriString(Model.reporte)" class="nombre">
                <img src="~/img/docx.png"/><br />Reporte</a>
        </div>
    }

</div>

<div class="clear">

</div>

<div class="submenu">
  <div class="comboTitle">Olimpiadas:</div>
    <select onChange="redirige('@Url.Content("~/Olimpiada?clave=")', this.options[this.selectedIndex].value)" class="comboMargin">
        @for(int i = ViewBag.olimpiadas.Count - 1; i >= 0; i--)
        {
            OMIstats.Models.Olimpiada omi = ViewBag.olimpiadas[i];
            tableManager.setCurrentOMI(omi);
            if (omi.numero == Model.numero)
            {
                <option value="@omi.numero" selected="selected">@(tableManager.enlaceOMI() + " " + omi.año)</option>
            }
            else
            {
                <option value="@omi.numero">@(tableManager.enlaceOMI() + " " + omi.año)</option>
            }
        }
    </select>
</div>

 @if (ViewBag.admin) {
    <a href="@Url.Content("~/Problema/Edit?omi=" + Model.numero + "&dia=0&numero=0&tipo=" + Model.tipoOlimpiada.ToString())">
        <h1 class="subtitulo">Numeros Generales</h1>
    </a>
}

@{
    List<OMIstats.Models.Problema> dia1 = ViewBag.dia1;
    List<OMIstats.Models.Problema> dia2 = ViewBag.dia2;
}

@if (Model.alsoOmips && (dia1[0] != null || dia2[0] != null))
{
    <h1 class="subtitulo">
        @if(Model.tipoOlimpiada != OMIstats.Models.TipoOlimpiada.OMI)
        {
            <a href="@Url.Content("~/Olimpiada?tipo=omi&clave=" + Model.numero + "#general")">Problemas Generales</a>
        }
        else
        {
            <span id="general">Problemas Generales</span>
        }
        |
        @if(Model.tipoOlimpiada != OMIstats.Models.TipoOlimpiada.OMIS)
        {
            <a href="@Url.Content("~/Olimpiada?tipo=omis&clave=" + Model.numero + "#secundarias")">Secundarias</a>
        }
        else
        {
            <span id="secundarias">Secundarias</span>
        }
        |
        @if(Model.tipoOlimpiada != OMIstats.Models.TipoOlimpiada.OMIP)
        {
            <a href="@Url.Content("~/Olimpiada?tipo=omip&clave=" + Model.numero + "#primarias")">Primarias</a>
        }
        else
        {
            <span id="primarias">Primarias</span>
        }
    </h1>
}

@if(ViewBag.admin || dia1[0] != null || dia2[0] != null)
{
    <div class="datosOlimpiada problemasColumnas">

        <div>
            @if (ViewBag.admin) {
                <a href="@Url.Content("~/Problema/Edit?omi=" + Model.numero + "&dia=1&numero=0&tipo=" + Model.tipoOlimpiada.ToString())">
                    <h1 class="subtitulo">Día 1</h1>
                </a>
            } else {
                if (dia2[0] == null)
                {
                    <h1 class="subtitulo">Problemas</h1>
                }
                else
                {
                    <h1 class="subtitulo">Día 1</h1>
                }
            }
            <ul>
                @for(var i = 0; i < 6; i++)
                {
                    bool finished = false;
                    if(ViewBag.admin)
                    {
                        <li>
                            <a href="@Url.Content("~/Problema/Edit?omi=" + Model.numero + "&dia=1&numero=" + (i + 1) + "&tipo=" + Model.tipoOlimpiada.ToString())"
                                class="nombre">
                                @if(dia1[i] != null)
                                {
                                    @dia1[i].nombre
                                }
                                else
                                {
                                    <span>Agregar Problema @(i + 1)</span>
                                    { finished = true; }
                                }
                            </a>
                        </li>
                        if (finished)
                        {
                            break;
                        }
                    }
                    else
                    {
                        if (dia1[i] != null)
                        {
                            <li>
                                <img class="enlaceProblema" src="@Url.Content("~/" + dia1[i].getURLIcon())"/>
                                <a href="@dia1[i].url" class="nombre" target="_blank">@dia1[i].nombre</a>
                            </li>
                        }
                    }
                }
            </ul>
        </div>

        @if (ViewBag.admin || dia2[0] != null)
        {
            <div>
                @if (ViewBag.admin) {
                    <a href="@Url.Content("~/Problema/Edit?omi=" + Model.numero + "&dia=2&numero=0&tipo=" + Model.tipoOlimpiada)">
                        <h1 class="subtitulo">Día 2</h1>
                    </a>
                } else {
                    <h1 class="subtitulo">Día 2</h1>
                }
                <ul>
                    @for(var i = 0; i < 6; i++)
                    {
                        bool finished = false;
                        if(ViewBag.admin)
                        {
                            <li>
                                <a href="@Url.Content("~/Problema/Edit?omi=" + Model.numero + "&dia=2&numero=" + (i + 1) + "&tipo=" + Model.tipoOlimpiada)"
                                    class="nombre">
                                    @if(dia2[i] != null)
                                    {
                                        @dia2[i].nombre
                                    }
                                    else
                                    {
                                        <span>Agregar Problema @(i + 1)</span>
                                        { finished = true; }
                                    }
                                </a>
                            </li>
                            if (finished)
                            {
                                break;
                            }
                        }
                        else
                        {
                            if (dia2[i] != null)
                            {
                                <li>
                                    <img class="enlaceProblema" src="@Url.Content("~/" + dia2[i].getURLIcon())"/>
                                    <a href="@dia2[i].url" class="nombre" target="_blank">@dia2[i].nombre</a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        }
    </div>
}

<div class="clear">

</div>