@model OMIstats.Models.Olimpiada

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
}

@{
    ViewBag.Title = Model.numero + "ª OMI";
}

<div class="submenu">
    @Html.ActionLink("Resultados", "Resultados", "Olimpiada",
            new { clave = Model.numero }, new { @class = "mini-boton" })
</div>

<div class="OMItituloFlexBox">
    <div class="logoOMI">
        <img src="@Url.Content("..\\img\\omi\\" + Model.logo)"/>
    </div>
    <h2 class="titulo tituloOMI">
        @Url.Content(Model.numero + "ª OMI: " + @Model.ciudad + ", ")
        <a href="@Url.Content("/Estado?clave=" + Model.claveEstado)">@Model.nombreEstado</a>
        @Model.año
    </h2>
    @if (ViewBag.admin)
    {
        <div class="adminButtons">
            <a href="@Url.Content("/Olimpiada/Edit?clave=" + Model.numero)" class="boton botonOMI">Actualizar</a>
            <a href="@Url.Content("/Olimpiada/Attendees?clave=" + Model.numero)" class="boton botonOMI">Asistentes</a>
            <a href="@Url.Content("/Olimpiada/ResultsTable?clave=" + Model.numero)" class="boton botonOMI">Resultados</a>
        </div>
    }
</div>

<div>

    <div class="datosOlimpiada">

        <div>
            <div class="biglabel">
                @Model.friendlyDate
            </div>
        </div>

        @if (Model.nombreEscuelaCompleto != null && Model.nombreEscuelaCompleto.Length > 0)
        {
            <div>
                <div class="biglabel">
                    Escuela sede: <a href="@Url.Content("/Escuela?url=" + Model.escuelaURL)" class="nombre"> @Model.nombreEscuelaCompleto </a>
                </div>
            </div>
        }

        <!-- -TODO- Poner media, mediana, estados y participantes en algun lado.
            Agregar datos calculados como mejor score, corte de medallas, numero de medallistas,
        numero de 0's, etc -->
    </div>

    @if (Model.video != null && Model.video.Length > 0)
    {
        <div class="mediaOMI">
            <iframe width="300" height="169" src="@Url.Content("https://www.youtube.com/embed/" + Model.video)" frameborder="0" allowfullscreen></iframe>
        </div>
    }

    @if (Model.poster != null && Model.poster.Length > 0)
    {
        <div class="mediaOMI">
            <a href="@Url.Content("~/img/posters/" + Model.poster)" target="_blank" class="nombre">
                <img src="~/img/posters/mini.png"/><br />Poster</a>
        </div>
    }

    @if (Model.reporte != null && Model.reporte.Length > 0)
    {
        <div class="mediaOMI">
            <a href="@Model.reporte" class="nombre">
                <img src="~/img/docx.png"/><br />Reporte</a>
        </div>
    }

</div>

<div class="clear">

</div>

@if(ViewBag.admin || ViewBag.dia1[0] != null || ViewBag.dia2[0] != null)
{
    <div class="datosOlimpiada problemasColumnas">

        <div>
            @if (ViewBag.dia2[0] == null)
            {
                <h1 class="titulo">Problemas</h1>
            }
            else
            {
                <h1 class="titulo">Día 1</h1>
            }
            <ul>
                @for(var i = 0; i < 6; i++)
                {
                    if(ViewBag.admin)
                    {
                        <li>
                            <a href="@Url.Content("/Problema/Edit?omi=" + Model.numero + "&dia=1&numero=" + (i + 1))"
                                class="nombre">
                                @if(ViewBag.dia1[i] != null)
                                {
                                    @ViewBag.dia1[i].nombre
                                }
                                else
                                {
                                    <span>Agregar Problema @(i + 1)</span>
                                    { break; }
                                }
                            </a>
                        </li>
                    }
                    else
                    {
                        if (ViewBag.dia1[i] != null)
                        {
                            <li>
                                <a href="@ViewBag.dia1[i].url" class="nombre" target="_blank">@ViewBag.dia1[i].nombre</a>
                            </li>
                        }
                    }
                }
            </ul>
        </div>

        @if (ViewBag.admin || ViewBag.dia2[0] != null)
        {
            <div>
                <h1 class="titulo">Día 2</h1>
                <ul>
                    @for(var i = 0; i < 6; i++)
                    {
                        if(ViewBag.admin)
                        {
                            <li>
                                <a href="@Url.Content("/Problema/Edit?omi=" + Model.numero + "&dia=2&numero=" + (i + 1))"
                                    class="nombre">
                                    @if(ViewBag.dia2[i] != null)
                                    {
                                        @ViewBag.dia2[i].nombre
                                    }
                                    else
                                    {
                                        <span>Agregar Problema @(i + 1)</span>
                                        { break; }
                                    }
                                </a>
                            </li>
                        }
                        else
                        {
                            if (ViewBag.dia2[i] != null)
                            {
                                <li>
                                    <a href="@ViewBag.dia2[i].url" class="nombre" target="_blank">@ViewBag.dia2[i].nombre</a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        }
    </div>

    <div class="clear">

    </div>
}