@model OMIstats.Models.Olimpiada

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
}

@{
    OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    tableManager.setCurrentOMI(Model);
    ViewBag.Title = tableManager.enlaceOMI(nombreCompleto: true);
    bool fotos = ViewBag.fotos;

    List<OMIstats.Models.Problema> dia1 = ViewBag.dia1;
    List<OMIstats.Models.Problema> dia2 = ViewBag.dia2;
    List<OMIstats.Models.Problema> metadata = ViewBag.metadata;
    string github = "";
    bool tieneFavicon = ViewBag.tieneFavicon;
    string iconoOMI = Model.tipoOlimpiada == OMIstats.Models.TipoOlimpiada.OMIA ?
        OMIstats.Models.TipoOlimpiada.OMIA.ToString().ToLower() :
        OMIstats.Models.TipoOlimpiada.OMI.ToString().ToLower();


    if (metadata.Count > 0)
    {
        github = metadata[0].codigo;
    }
}

@section Scripts
{
@if(tieneFavicon)
{
<script>addFavicon('@Url.Content("~")', '@Model.numero');</script>
}
}

<div class="submenu">
    @Html.ActionLink("Resultados", "Resultados", "Olimpiada",
            new { clave = Model.numero, tipo = Model.tipoOlimpiada }, new { @class = "mini-boton" })

    @if(Model.tipoOlimpiada == OMIstats.Models.TipoOlimpiada.OMI) {
    @Html.ActionLink("Estados", "Estados", "Olimpiada",
            new { clave = Model.numero }, new { @class = "mini-boton" })
    }
    <br />

    @if (ViewBag.admin || fotos)
    {
        @Html.ActionLink("Fotos", "Index", "Fotos",
            new { clave = Model.numero }, new { @class = "mini-boton" });
        <br />
    }
</div>

<div class="OMItituloFlexBox">
    <div class="logoOMI">
        @if(Model.logo.Length > 0) {
            <img src="@Url.Content("~/img/" + iconoOMI + "/" + Model.logo)"/>
        }
    </div>
    <h2 class="titulo tituloOMI">
        @tableManager.enlaceOMI(nombreCompleto: true, incluirCiudad: true)
        @if(!Model.esOnline)
        {
        <a href="@Url.Content("~/Estado?clave=" + Model.claveEstado)">@Model.nombreEstado</a>
        }
        @Model.año
        @if (Model.esOnline && Model.tipoOlimpiada != OMIstats.Models.TipoOlimpiada.OMIA)
        {
        @("- En línea")
        }
        @if (github.Length > 0)
        {
        <span>&nbsp;</span><a href="@(github)" target="_blank" title="GitHub"><img src="~/img/github.png" /></a>
        }
    </h2>
    @if (ViewBag.admin)
    {
        <div class="adminButtons">
            <a href="@Url.Content("~/Olimpiada/Edit?clave=" + Model.numero + "&tipo=" + Model.tipoOlimpiada.ToString())" class="boton botonOMI">Actualizar</a>
            <a href="@Url.Content("~/Olimpiada/Attendees?clave=" + Model.numero + "&tipo=" + Model.tipoOlimpiada.ToString())" class="boton botonOMI">Asistentes</a>
            <a href="@Url.Content("~/Olimpiada/ResultsTable?clave=" + Model.numero + "&tipo=" + Model.tipoOlimpiada.ToString())" class="boton botonOMI">Resultados</a>
        </div>
    }
</div>
<div>

    <div class="datosOlimpiada">

        <div>
            @if (Model.tipoOlimpiada != OMIstats.Models.TipoOlimpiada.OMIA) {
            <div class="biglabel">
                @Model.friendlyDate
            </div>
            }
        </div>

        @if (Model.nombreEscuelaCompleto != null && Model.nombreEscuelaCompleto.Length > 0)
        {
            <div>
                <div class="biglabel">
                    Escuela sede: <a href="@Url.Content("~/Escuela?url=" + Model.escuelaURL)" class="nombre"> @Model.nombreEscuelaCompleto </a>
                </div>
            </div>
        }
    </div>

    @if (Model.video != null && Model.video.Length > 0)
    {
        <div class="mediaOMI">
            <iframe width="300" height="169" src="@Url.Content("https://www.youtube.com/embed/" + Model.video)" frameborder="0" allowfullscreen></iframe>
        </div>
    }

    @if (Model.poster != null && Model.poster.Length > 0)
    {
        <div class="mediaOMI">
            <a href="@Url.Content("~/img/posters/" + Model.poster)" target="_blank" class="nombre">
                <img src="~/img/posters/mini.png"/><br />Póster</a>
        </div>
    }

    @if (Model.reporte != null && Model.reporte.Length > 0)
    {
        <div class="mediaOMI">
            <a href="@Uri.EscapeUriString(Model.reporte)" class="nombre">
                <img src="~/img/docx.png"/><br />Reporte</a>
        </div>
    }
</div>

<div class="clear">

</div>

<div class="submenu">
  <div class="comboTitle">Olimpiadas:</div>
    <select onChange="redirige('@Url.Content("~/Olimpiada?clave=")', this.options[this.selectedIndex].value)" class="comboMargin">
        @for (int i = 0; i < ViewBag.olimpiadas.Count; i++)
        {
            OMIstats.Models.Olimpiada omi = ViewBag.olimpiadas[i];
            tableManager.setCurrentOMI(omi);
            <option value="@omi.numero" @(omi.numero == Model.numero ? "selected" : "")>@(tableManager.enlaceOMI() + " " + omi.año)</option>
        }
    </select>
</div>

 @if (ViewBag.admin) {
    <a href="@Url.Content("~/Problema/Edit?omi=" + Model.numero + "&dia=0&numero=0&tipo=" + Model.tipoOlimpiada.ToString())">
        <h1 class="subtitulo">Numeros Generales</h1>
    </a>
}

@if ((Model.alsoOmips || Model.alsoOmip) && (dia1[0] != null || dia2[0] != null))
{
    <h1 class="subtitulo">
        @if(Model.tipoOlimpiada != OMIstats.Models.TipoOlimpiada.OMI)
        {
            <a href="@Url.Content("~/Olimpiada?tipo=omi&clave=" + Model.numero + "#general")">Preparatoria</a>
        }
        else
        {
            <span id="general">Problemas Categoría Preparatoria</span>
        }
        |
        @if(Model.tipoOlimpiada != OMIstats.Models.TipoOlimpiada.OMIS)
        {
            <a href="@Url.Content("~/Olimpiada?tipo=omis&clave=" + Model.numero + "#secundarias")">Secundaria</a>
        }
        else
        {
            <span id="secundarias">Problemas Categoría Secundaria</span>
        }
        @if (Model.alsoOmip)
        {
            @("|")
            if(Model.tipoOlimpiada != OMIstats.Models.TipoOlimpiada.OMIP)
            {
                <a href="@Url.Content("~/Olimpiada?tipo=omip&clave=" + Model.numero + "#primarias")">Primaria</a>
            }
            else
            {
                <span id="primarias">Problemas Categoría Primaria</span>
            }
        }
    </h1>
}

@if(ViewBag.admin || dia1[0] != null || dia2[0] != null)
{
    <div class="datosOlimpiada problemasColumnas">
    @{List<OMIstats.Models.Problema> dia = dia1;}
    @for (int d = 1; d <= 2; d++)
    {
        if (ViewBag.admin || dia[0] != null)
        {
        <div>
            @if (ViewBag.admin) {
                <a href="@Url.Content("~/Problema/Edit?omi=" + Model.numero + "&dia=" + d + "&numero=0&tipo=" + Model.tipoOlimpiada.ToString())">
                    <h1 class="subtitulo">Día @d</h1>
                </a>
            } else {
                string title = "";
                if (d == 1 && dia2[0] == null)
                {
                    title = "Problemas";
                }
                else
                {
                    if (Model.tipoOlimpiada == OMIstats.Models.TipoOlimpiada.OMI && Model.año >= 2004 && Model.año <= 2016)
                    {
                        if (d == 1)
                        {
                            title = "Karel";
                        }
                        else
                        {
                            title = "Lenguaje";
                        }
                    }
                    else
                    {
                        title = "Día " + d;
                    }
                }
                <h1 class="subtitulo">
                @if (metadata.Count > d && metadata[d].url.Length > 0)
                {
                    <a href="@metadata[d].url" target="_blank">@title</a>
                }
                else
                {
                    @title
                }
                @if (metadata.Count > d)
                {
                    if (metadata[d].casos.Length > 0)
                    {
                    <a href="@metadata[d].casos"><img src="~/img/rar.png" /></a>
                    }
                    if (metadata[d].codigo.Length > 0)
                    {
                    <a href="@metadata[d].codigo" target="@(OMIstats.Models.Problema.esTextoPlano(metadata[d].codigo) ? "_blank" : "")"><img src="~/img/cpp.png" /></a>
                    }
                    if (metadata[d].solucion.Length > 0)
                    {
                    <a href="@metadata[d].solucion" target="_blank"><img src="~/img/pdf.png" /></a>
                    }
                }
                </h1>
            }
            <ul>
                @for(var i = 0; i < 6; i++)
                {
                    bool finished = false;
                    if(ViewBag.admin)
                    {
                        <li>
                            <a href="@Url.Content("~/Problema/Edit?omi=" + Model.numero + "&dia=" + d + "&numero=" + (i + 1) + "&tipo=" + Model.tipoOlimpiada)" class="nombre">
                            @if(dia[i] != null)
                            {
                                @dia[i].nombre
                            }
                            else
                            {
                                <span>Agregar Problema @(i + 1)</span>
                                { finished = true; }
                            }
                            </a>
                        </li>
                        if (finished)
                        {
                            break;
                        }
                    }
                    else
                    {
                        if (dia[i] != null)
                        {
                            <li>
                                <img class="enlaceProblema" src="@Url.Content("~/" + dia[i].getURLIcon())"/>
                                <a href="@dia[i].url" class="nombre" target="_blank">@dia[i].nombre</a>
                                @if(dia[i].casos.Length > 0)
                                {
                                <a href="@dia[i].casos" target="@(OMIstats.Models.Problema.esZip(dia[i].casos) ? "" : "_blank")"><img src="@Url.Content("~/" + OMIstats.Models.Problema.getURLIconCasos(dia[i].casos))" class="icon-cases" title="Casos"/></a>
                                }
                                @if(dia[i].codigo.Length > 0)
                                {
                                <a href="@dia[i].codigo" target="@(OMIstats.Models.Problema.esZip(dia[i].codigo) ? "" : "_blank")"><img src="@Url.Content("~/" + OMIstats.Models.Problema.getURLIconCasos(dia[i].codigo))" class="icon-cases" title="Código"/></a>
                                }
                                @if(dia[i].solucion.Length > 0)
                                {
                                <a href="@dia[i].solucion" target="_blank"><img src="@Url.Content("~/" + OMIstats.Models.Problema.getURLIconCasos(dia[i].solucion))" class="icon-cases" title="Solución"/></a>
                                }
                            </li>
                        }
                    }
                }
            </ul>
        </div>
        dia = dia2;
        }
    }
    </div>
}

<div class="clear">

</div>