@model OMIstats.Models.Olimpiada

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
}

@{
    ViewBag.Title = Model.numero + "ª OMI";
}

<div class="OMItituloFlexBox">
    <div class="logoOMI">
        <img src="@Url.Content("..\\img\\omi\\" + Model.logo)"/>
    </div>
    <h2 class="titulo tituloOMI">
        @Url.Content(Model.numero + "ª OMI: " + @Model.ciudad + ", " + @Model.nombreEstado + " " + @Model.año)
    </h2>
    @if (ViewBag.admin)
    {
        <a href="@Url.Content("/Olimpiada/Edit?clave=" + Model.numero)" class="boton botonOMI">Actualizar</a>
    }
</div>

<div>

    <div class="datosOlimpiada">
        @if (Model.poster != null && Model.poster.Length > 0)
        {
            <div>
                <div class="biglabel">
                    <a href="@Url.Content("~/img/posters/" + Model.poster)" target="_blank">Poster</a>
                </div>
            </div>
        }

        <div>
            <div class="biglabel">
                Fechas: @Model.friendlyDate
            </div>
        </div>

        @if (Model.nombreEscuelaCompleto != null && Model.nombreEscuelaCompleto.Length > 0)
        {
            <div>
                <div class="biglabel">
                    Escuela sede: <a href="@Url.Content("/Escuela?url=" + Model.escuelaURL)" class="nombre"> @Model.nombreEscuelaCompleto </a>
                </div>
            </div>
        }

        @if (Model.estados > 0)
        {
            <div>
                <div class="biglabel">
                    Estados participantes: @Model.estados
                </div>
            </div>
        }

        @if (Model.participantes > 0)
        {
            <div>
                <div class="biglabel">
                    Competidores: @Model.participantes
                </div>
            </div>
        }

        @if (Model.media > 0)
        {
            <div>
                <div class="biglabel">
                    Media: @Model.media
                </div>
            </div>
        }

        @if (Model.mediana > 0)
        {
            <div>
                <div class="biglabel">
                    Media: @Model.mediana
                </div>
            </div>
        }

        <!-- -TODO- Agregar datos calculados como mejor score, corte de medallas, numero de medallistas,
        numero de 0's, etc -->
    </div>


    @if (Model.video != null && Model.video.Length > 0)
    {
        <div class="videoOMI">
            <iframe width="300" height="169" src="@Url.Content("https://www.youtube.com/embed/" + Model.video)" frameborder="0" allowfullscreen></iframe>
        </div>
    }

</div>

<div class="clear">

</div>