@model OMIstats.Models.Olimpiada

@section AddToHead
{
    <link href="~/Content/olimpiadas.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/profile.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/estados.css" type="text/css" rel="stylesheet" />
    <style>
        .fade-in-1 {
          animation: fadeIn1 2s;
        }

        @@keyframes fadeIn1 {
          0% { opacity: 0; }
          100% { opacity: 1; }
        }

        .fade-in-2 {
          animation: fadeIn2 3s;
        }

        @@keyframes fadeIn2 {
          0% { opacity: 0; }
          33% { opacity: 0; }
          100% { opacity: 1; }
        }

        .fade-in-3 {
          animation: fadeIn3 4s;
        }

        @@keyframes fadeIn3 {
          0% { opacity: 0; }
          50% { opacity: 0; }
          100% { opacity: 1; }
        }

        .fade-in-4 {
          animation: fadeIn4 5s;
        }

        @@keyframes fadeIn4 {
          0% { opacity: 0; }
          60% { opacity: 0; }
          100% { opacity: 1; }
        }

        .medalleros {
            margin-left: 5px;
            display: flex;
            flex: 0 0 auto;
            align-items: center;
            position: absolute;
            width: 400px;
        }

        .medalleros img {
            width: 20px;
            margin-right: 10px;
        }
    </style>
}

@{
    OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    List<OMIstats.Models.Estado> estadosEnOlimpiada = ViewBag.estadosEnOlimpiada;
    tableManager.setCurrentOMI(Model);
    OMIstats.Models.Estado estado = ViewBag.estado;
    ViewBag.Title = estado.nombre;
    int index = 0;
}

@section Scripts
{
    <script>
        @("removeBanners();")
    </script>
}

<div class="submenu" style="margin-right:100px;">
    @{for (index = 0; index < estadosEnOlimpiada.Count; index++)
      {
          if (estadosEnOlimpiada[index].clave == estado.clave){
            break;
          }
      }
      index++;

      if (index < estadosEnOlimpiada.Count)
      {
        @Html.ActionLink("Siguiente", "Presentacion", "Olimpiada",
            new { clave=Model.numero, estado=estadosEnOlimpiada[index].clave }, new { @class = "mini-boton", @style = "font-size:20px !important" })
      }

    index = 1;
    }
</div>

@{
    Dictionary<OMIstats.Models.TipoOlimpiada, List<OMIstats.Models.MiembroDelegacion>> delegaciones = ViewBag.delegaciones;
    OMIstats.Models.TipoOlimpiada tipoOlimpiada = ViewBag.tipo;
    tableManager.setCurrentOMI(Model);
}

<div class="fade-in-1">
    <div class="logoEstadoFloat" >
        <img src="@Url.Content("~/img/estados/" + estado.clave + ".png")"/>
    </div>

    <div class="datosEstado tituloEstado">
        <div>
            <h2 class="titulo">
                @estado.nombre
            </h2>
        </div>
    </div>
</div>

<div class="clear"></div>

<br />
<br />

<div style="display:flex;flex-direction:row;">

@foreach(OMIstats.Models.TipoOlimpiada tipo in delegaciones.Keys)
{
    List<OMIstats.Models.MiembroDelegacion> delegacion = delegaciones[tipo];
    if (tipo != OMIstats.Models.TipoOlimpiada.OMIS && tipo != OMIstats.Models.TipoOlimpiada.OMI)
    {
        continue;
    }
    if (delegacion.Count == 0)
    {
        continue;
    }
    bool omips = false;
    string titulo = "Competidores";
    if (tipo == OMIstats.Models.TipoOlimpiada.OMIS)
    {
        titulo = "OMIPS";
        omips = true;
    }
    index++;
    <div>
        <div class="fade-in-@index">
        <div class="subtitulo">@(titulo)</div>

        <div>

        @foreach (OMIstats.Models.MiembroDelegacion md in delegacion)
        {
            var medalleros = OMIstats.Models.Medallero.obtenerMedalleros(OMIstats.Models.Medallero.TipoMedallero.PERSONA, md.claveUsuario.ToString(), false);
            <div class="miembroDelegacion @OMIstats.Utilities.TableManager.obtenerClaseCSS(medalleros, tipo)" style="width:400px">
                <div class="foto fotoFixedHeight">
                    <img src='@Url.Content(md.fotoUsuario)' alt="@md.nombreAsistente"/>
                </div>
                <div class="datosMiembro">
                    <div class="noOverflow">
                    <span class="nombreMiembro" style="color:black">@md.nombreAsistente</span>
                    </div>
                    <div class="claveMiembro">
                        @if (!OMIstats.Utilities.TableManager.faltaClave(md.clave)) {
                            @md.clave
                        }
                    </div>
                    <div class="participaciones">
                        @OMIstats.Utilities.TableManager.participaciones(md, tipo)
                    </div>
                </div>
                <div class="medalleros" style="display:flex; flex-flow:row-reverse; padding-top:10px;">
                    @{
                        int medalCount = 0;
                        while (medalleros.IOI.bronces > medalCount)
                        {
                            medalCount++;
                            <img src="~/img/bronceIOI.png"/>
                        } 
                        medalCount = 0;
                        while (medalleros.OMI.oros > medalCount)
                        {
                            medalCount++;
                            <img src="~/img/oro.png"/>
                        }
                        medalCount = 0;
                        while (medalleros.OMI.platas > medalCount)
                        {
                            medalCount++;
                            <img src="~/img/plata.png"/>
                        }
                        medalCount = 0;
                        while (medalleros.OMI.bronces > medalCount)
                        {
                            medalCount++;
                            <img src="~/img/bronce.png"/>
                        }
                        medalCount = 0;
                        while (medalleros.OMIS.oros + medalleros.OMIP.oros > medalCount)
                        {
                            medalCount++;
                            <img src="~/img/oroK.png"/>
                        }
                        medalCount = 0;
                        while (medalleros.OMIS.platas + medalleros.OMIP.platas > medalCount)
                        {
                            medalCount++;
                            <img src="~/img/plataK.png"/>
                        }
                        medalCount = 0;
                        while (medalleros.OMIS.bronces + medalleros.OMIP.bronces > medalCount)
                        {
                            medalCount++;
                            <img src="~/img/bronceK.png"/>
                        }
                    }
                </div>
            </div>
        }
        </div>
        </div>
        @if (ViewBag.lideres.Count > 0 && !omips)
        {
            index++;
            <div class="fade-in-@index">
                <div class="subtitulo">Líderes</div>

                <div>

                    @foreach (OMIstats.Models.MiembroDelegacion md in ViewBag.lideres)
                    {
                        if (md.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.DELEB)
                        {
                            continue;
                        }
                        <div class="miembroDelegacion" style="width:400px">
                            <div class="foto fotoFixedHeight">
                                <img src='@Url.Content(md.fotoUsuario)' alt="@md.nombreAsistente"/>
                            </div>
                            <div class="datosMiembro">
                                <div class="noOverflow"><span class="nombreMiembro" style="color:black">@md.nombreAsistente</span></div>
                                <div class="claveMiembro">
                                    @md.getTipoAsistenteString()
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}
</div>
