@model OMIstats.Models.Olimpiada

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/tablas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
}

@section scripts
{
    <script type="text/javascript" src="/Scripts/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.metadata.js"></script>
    <script type="text/javascript" src="/js/sorters.js"></script>
    <script>
        $(function () {
            agregaSorterMedallas("tablaPuntos");
            cargaSorter("tablaPuntos");
        });
    </script>
}

@{
    ViewBag.Title = Model.numero + "ª OMI";
}

<div class="submenu">
    @Html.ActionLink("Datos", "Index", "Olimpiada",
            new { clave = Model.numero }, new { @class = "mini-boton" })

    <br />
    <br />
    <br />

    @for(int i = ViewBag.olimpiadas.Count - 1; i >= 0; i--)
    {
        OMIstats.Models.Olimpiada omi = ViewBag.olimpiadas[i];
        if (omi.numero != Model.numero)
        {
            @Html.ActionLink(omi.numero + "ª OMI", "Resultados", "Olimpiada",
                new { clave = omi.numero }, new { @class = "mini-boton" });
        }
    }
</div>

<h1 class="titulo"> Tabla de resultados de la @ViewBag.Title </h1>

<table class="table" id="tablaPuntos">
    <thead>
        <tr class="table-header">
            <th></th>
            <th class="bottom-border right-border table-header-clickable">Lugar</th>
            <th class="bottom-border right-border table-header-clickable">Género</th>
            <th class="bottom-border right-border table-header-clickable">Competidor</th>
            <th class="bottom-border right-border table-header-clickable">Clave</th>
            @if (Model.mostrarResultadosPorProblema)
            {
                for (var i = 0; i < Model.problemasDia1; i++)
                {
                    <th class="bottom-border right-border table-header-clickable">
                        <a href="@ViewBag.problemasDia1[i].url" target="_blank"> @("P" + (i + 1))</a>
                    </th>
                }
            }
            @if (Model.mostrarResultadosPorDia)
            {
                <th class="bottom-border right-border table-header-clickable">D1</th>
            }
            @if (Model.mostrarResultadosPorProblema)
            {
                for (var i = 0; i < Model.problemasDia2; i++)
                {
                    <th class="bottom-border right-border table-header-clickable">
                        <a href="@ViewBag.problemasDia2[i].url" target="_blank"> @("P" + (i + 1))</a>
                    </th>
                }
            }
            @if (Model.mostrarResultadosPorDia)
            {
                <th class="bottom-border right-border table-header-clickable">D2</th>
            }
            @if (Model.mostrarResultadosTotales)
            {
                <th class="bottom-border right-border table-header-clickable">Total</th>
            }
            <th class="bottom-border right-border table-header-clickable {sorter:'medalla'}">Medalla</th>
            <th class="bottom-border table-header-clickable">Escuela</th>
        </tr>
    </thead>
    <tbody>
    @for (var l = 0; l < ViewBag.resultados.Count; l++)
    {
        if (!ViewBag.resultados[l].clave.StartsWith(OMIstats.Models.Resultados.CLAVE_DESCONOCIDA))
        {
            OMIstats.Models.Resultados datos = ViewBag.resultados[l];
            string claseCSS = "";
            switch (datos.medalla)
            {
                case OMIstats.Models.Resultados.TipoMedalla.BRONCE:
                    {
                        claseCSS = "table-td-bronce";
                        break;
                    }
                case OMIstats.Models.Resultados.TipoMedalla.PLATA:
                    {
                        claseCSS = "table-td-plata";
                        break;
                    }
                case OMIstats.Models.Resultados.TipoMedalla.ORO:
                case OMIstats.Models.Resultados.TipoMedalla.ORO_1:
                case OMIstats.Models.Resultados.TipoMedalla.ORO_2:
                case OMIstats.Models.Resultados.TipoMedalla.ORO_3:
                    {
                        claseCSS = "table-td-oro";
                        break;
                    }
            }
            bool mostrar = ViewBag.admin || Model.datosPublicos || datos.publico ||
                (datos.medalla != OMIstats.Models.Resultados.TipoMedalla.NADA &&
                 datos.medalla != OMIstats.Models.Resultados.TipoMedalla.NULL) ||
                 datos.usuario == ViewBag.claveUsuario;
            <tr>
                <td class="ioi-mini-imagen">
                    @if(datos.ioi == "A" || datos.ioi == "B")
                    {
                        <img src="/img/ioi.png" />
                        <!-- -TODO- Agregar enlace a IOI -->
                    }
                </td>
                <td class="@("table-td center right-border " + claseCSS)">
                    @if (Model.mostrarResultadosTotales)
                    {
                        @(datos.lugar)
                    }
                </td>
                <td class="@("table-td center right-border " + claseCSS)">
                    @if (mostrar)
                    {
                        if(datos.persona.genero == "M")
                        {
                           <span class="azul">H</span>
                        }
                        else
                        {
                           <span class="rosa">M</span>
                        }
                    }
                </td>
                <td class="@("table-td break-word right-border nombre-td " + claseCSS)">
                    @if (mostrar)
                    {
                        <span>
                            <a class="nombre" href="@Url.Content("/Profile/view?usuario=" + datos.persona.usuario)">
                                @datos.persona.nombre
                            </a>
                        </span>
                    }
                </td>
                <td class="@("table-td center right-border " + claseCSS)">
                    @if (mostrar)
                    {
                        if (datos.clave.StartsWith(OMIstats.Models.Resultados.CLAVE_FALTANTE))
                        {
                            <span>
                                @datos.estado
                            </span>
                        }
                        else
                        {
                            <span>
                                @datos.clave
                            </span>
                        }
                    }
                </td>
                @if (Model.mostrarResultadosPorProblema)
                {
                    for (var i = 0; i < Model.problemasDia1; i++)
                    {
                        <td class="@("table-td center right-border " + claseCSS)">
                            @(datos.dia1[i] == null ? OMIstats.Models.Resultados.NULL_POINTS : datos.dia1[i].ToString())
                        </td>
                    }
                }
                @if (Model.mostrarResultadosPorDia)
                {
                    <td class="@("table-td center right-border resultado-dia " + claseCSS)">
                        @datos.totalDia1
                    </td>
                }
                @if (Model.mostrarResultadosPorProblema)
                {
                    for (var i = 0; i < Model.problemasDia2; i++)
                    {
                         <td class="@("table-td center right-border " + claseCSS)">
                            @(datos.dia2[i] == null ? OMIstats.Models.Resultados.NULL_POINTS : datos.dia2[i].ToString())
                        </td>
                    }
                }
                @if (Model.mostrarResultadosPorDia)
                {
                    <td class="@("table-td center right-border resultado-dia " + claseCSS)">
                        @datos.totalDia2
                    </td>
                }
                @if (Model.mostrarResultadosTotales)
                {
                    <td class="@("table-td center right-border resultado-total " + claseCSS)">
                        @datos.total
                    </td>
                }
                <td class="@("table-td center right-border " + claseCSS)" medalla="@((int)datos.medalla)">
                    @if( (datos.medalla != OMIstats.Models.Resultados.TipoMedalla.NADA &&
                         datos.medalla != OMIstats.Models.Resultados.TipoMedalla.NULL))
                    {
                        <span>
                            @if (datos.medalla == OMIstats.Models.Resultados.TipoMedalla.ORO_1 ||
                                 datos.medalla == OMIstats.Models.Resultados.TipoMedalla.ORO_2 ||
                                 datos.medalla == OMIstats.Models.Resultados.TipoMedalla.ORO_3)
                            {
                                <span>ORO</span>
                            }
                            else
                            {
                                if (datos.medalla != OMIstats.Models.Resultados.TipoMedalla.NULL &&
                                    datos.medalla != OMIstats.Models.Resultados.TipoMedalla.NADA)
                                {
                                    <span>@datos.medalla.ToString()</span>
                                }
                            }
                        </span>
                    }
                </td>
                <td class="@("table-td break-word escuela-td " + claseCSS)">
                    @if (mostrar && datos.escuela != null)
                    {
                        <span>
                            <a class="nombre" href="@Url.Content("/Escuela?url=" + datos.escuela.nombreURL)">
                                @datos.escuela.nombreCorto
                            </a>
                        </span>
                    }
                </td>
            </tr>
        }
    }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td class="right-border top-border derecha pie pieTitulo table-footer" colspan="4">
                @if (Model.mostrarResultadosTotales)
                {
                    <span>Media</span>
                }
            </td>
            @if (Model.mostrarResultadosPorProblema)
            {
                for (var i = 0; i < Model.problemasDia1; i++)
                {
                    <td class="center right-border top-border pie">
                        @ViewBag.problemasDia1[i].media
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia)
            {
                <td class="center right-border resultado-dia top-border pie">
                    @ViewBag.numerosDia1.media
                </td>
            }
            @if (Model.mostrarResultadosPorProblema)
            {
                for (var i = 0; i < Model.problemasDia2; i++)
                {
                    <td class="center right-border top-border pie">
                        @ViewBag.problemasDia2[i].media
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia)
            {
                <td class="center right-border resultado-dia top-border pie">
                    @ViewBag.numerosDia2.media
                </td>
            }
            @if (Model.mostrarResultadosTotales)
            {
                <td class="center resultado-total top-border pie">
                    @ViewBag.numerosTotal.media
                </td>
            }
            <td class="top-border table-footer center" colspan="2">
                Estados participantes
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="right-border derecha pie pieTitulo table-footer" colspan="4">
                @if (Model.mostrarResultadosTotales)
                {
                    <span>Mediana</span>
                }
            </td>
            @if (Model.mostrarResultadosPorProblema)
            {
                for (var i = 0; i < Model.problemasDia1; i++)
                {
                    <td class="center right-border pie">
                        @ViewBag.problemasDia1[i].mediana
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia)
            {
                <td class="center right-border resultado-dia pie">
                    @ViewBag.numerosDia1.mediana
                </td>
            }
            @if (Model.mostrarResultadosPorProblema)
            {
                for (var i = 0; i < Model.problemasDia2; i++)
                {
                    <td class="center right-border pie">
                        @ViewBag.problemasDia2[i].mediana
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia)
            {
                <td class="center right-border resultado-dia pie">
                    @ViewBag.numerosDia2.mediana
                </td>
            }
            @if (Model.mostrarResultadosTotales)
            {
                <td class="center resultado-total pie">
                    @ViewBag.numerosTotal.mediana
                </td>
            }
            <td class="center" colspan="2">
                @Model.estados
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="right-border derecha pie pieTitulo table-footer" colspan="4">
                @if (Model.mostrarResultadosTotales)
                {
                    <span>Perfectos</span>
                }
            </td>
            @if (Model.mostrarResultadosPorProblema)
            {
                for (var i = 0; i < Model.problemasDia1; i++)
                {
                    <td class="center right-border pie">
                        @ViewBag.problemasDia1[i].perfectos
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia)
            {
                <td class="center right-border resultado-dia pie">
                    @ViewBag.numerosDia1.perfectos
                </td>
            }
            @if (Model.mostrarResultadosPorProblema)
            {
                for (var i = 0; i < Model.problemasDia2; i++)
                {
                    <td class="center right-border pie">
                        @ViewBag.problemasDia2[i].perfectos
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia)
            {
                <td class="center right-border resultado-dia pie">
                    @ViewBag.numerosDia2.perfectos
                </td>
            }
            @if (Model.mostrarResultadosTotales)
            {
                <td class="center resultado-total pie">
                    @ViewBag.numerosTotal.perfectos
                </td>
            }
            <td class="table-footer center" colspan="2">
                Total competidores
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="right-border derecha pie pieTitulo table-footer" colspan="4">
                @if (Model.mostrarResultadosTotales)
                {
                    <span>Ceros</span>
                }
            </td>
            @if (Model.mostrarResultadosPorProblema)
            {
                for (var i = 0; i < Model.problemasDia1; i++)
                {
                    <td class="center right-border pie">
                        @ViewBag.problemasDia1[i].ceros
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia)
            {
                <td class="center right-border resultado-dia pie">
                    @ViewBag.numerosDia1.ceros
                </td>
            }
            @if (Model.mostrarResultadosPorProblema)
            {
                for (var i = 0; i < Model.problemasDia2; i++)
                {
                    <td class="center right-border pie">
                        @ViewBag.problemasDia2[i].ceros
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia)
            {
                <td class="center right-border resultado-dia pie">
                    @ViewBag.numerosDia2.ceros
                </td>
            }
            @if (Model.mostrarResultadosTotales)
            {
                <td class="center resultado-total pie">
                    @ViewBag.numerosTotal.ceros
                </td>
            }
            <td class="center" colspan="2">
                @Model.participantes
            </td>
        </tr>
    </tfoot>
</table>