@model OMIstats.Models.Olimpiada

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/tablas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.metadata.js"></script>
    <script type="text/javascript" src="~/js/sorters.js"></script>
    <script>
        $(function () {
            agregaSorterMedallas();
            cargaSorter("tablaPuntos");
        });
    </script>
}

@{
    OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    tableManager.setCurrentOMI(Model);

    ViewBag.Title = tableManager.enlaceOMI(nombreCompleto: true);
    List<OMIstats.Models.Problema> problemasDia1 = ViewBag.problemasDia1;
    List<OMIstats.Models.Problema> problemasDia2 = ViewBag.problemasDia2;
}

<div class="submenu">
    @Html.ActionLink("Datos", "Index", "Olimpiada",
            new { clave = Model.numero }, new { @class = "mini-boton" })
    @Html.ActionLink("Estados", "Estados", "Olimpiada",
            new { clave = Model.numero }, new { @class = "mini-boton" })

    <br />
    <br />
    @if (Model.alsoOmips)
    {
        foreach (OMIstats.Models.TipoOlimpiada tipo in Enum.GetValues(typeof(OMIstats.Models.TipoOlimpiada)))
        {
            if (tipo != OMIstats.Models.TipoOlimpiada.IOI && 
                tipo != OMIstats.Models.TipoOlimpiada.NULL &&
                Model.tipoOlimpiada != tipo)
            {
                @Html.ActionLink(tipo.ToString(), "Resultados", "Olimpiada",
                    new { clave = Model.numero, tipo = tipo.ToString() }, new { @class = "mini-boton" })
            }
        }
        <br />
        <br />
    }
    <br />
    <div class="comboTitle">Olimpiadas:</div>
    <select onChange="redirige('@Url.Content("~/Olimpiada/Resultados?clave=")', this.options[this.selectedIndex].value)" class="comboMargin">
        @for (int i = ViewBag.olimpiadas.Count - 1; i >= 0; i--)
        {
            OMIstats.Models.Olimpiada omi = ViewBag.olimpiadas[i];
            tableManager.setCurrentOMI(omi);
            if (omi.numero == Model.numero)
            {
                <option value="@omi.numero" selected="selected">@(tableManager.enlaceOMI() + " " + omi.año)</option>
            }
            else
            {
                <option value="@omi.numero">@(tableManager.enlaceOMI() + " " + omi.año)</option>
            }
        }
    </select>
     @if (Model.alsoOmips)
     {
        <br />
        <div class="comboTitle">Secundarias:</div>
        <select onChange="redirige('@Url.Content("~/Olimpiada/Resultados?tipo=omis&clave=")', this.options[this.selectedIndex].value)" class="comboMargin">
            @for (int i = ViewBag.omis.Count - 1; i >= 0; i--)
            {
                OMIstats.Models.Olimpiada omi = ViewBag.omis[i];
                tableManager.setCurrentOMI(omi);
                if (omi.numero == Model.numero)
                {
                    <option value="@omi.numero" selected="selected">@(tableManager.enlaceOMI() + " " + omi.año)</option>
                }
                else
                {
                    <option value="@omi.numero">@(tableManager.enlaceOMI() + " " + omi.año)</option>
                }
            }
        </select>
        <br />
        <div class="comboTitle">Primarias:</div>
        <select onChange="redirige('@Url.Content("~/Olimpiada/Resultados?tipo=omip&clave=")', this.options[this.selectedIndex].value)" class="comboMargin">
            @for (int i = ViewBag.omip.Count - 1; i >= 0; i--)
            {
                OMIstats.Models.Olimpiada omi = ViewBag.omip[i];
                tableManager.setCurrentOMI(omi);
                if (omi.numero == Model.numero)
                {
                    <option value="@omi.numero" selected="selected">@(tableManager.enlaceOMI() + " " + omi.año)</option>
                }
                else
                {
                    <option value="@omi.numero">@(tableManager.enlaceOMI() + " " + omi.año)</option>
                }
            }
        </select>
     }
</div>

@if (ViewBag.resultados.Count == 0)
{
    <h1 class="subtitulo"> No se tienen resultados para esta olimpiada </h1>
    <div class="clear">
    </div>
}
else
{
<h1 class="titulo"> Tabla de resultados de la @ViewBag.Title </h1>

<table class="table" id="tablaPuntos">
    <thead>
        <tr>
            <td colspan="5"></td>
            @if (Model.mostrarResultadosPorProblema)
            {
                for (var i = 0; i < Model.problemasDia1; i++)
                {
                    <td class="enlaceProblema">
                        @if (problemasDia1[i] != null)
                        {
                            <a href="@problemasDia1[i].url" target="_blank">
                                <img src="~/img/link.png" />
                            </a>
                        }
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia)
            {
                <td></td>
            }
            @if (Model.mostrarResultadosPorProblema)
            {
                for (var i = 0; i < Model.problemasDia2; i++)
                {
                    <td class="enlaceProblema">
                        @if(problemasDia2[i] != null)
                        {
                            <a href="@problemasDia2[i].url" target="_blank">
                                <img src="~/img/link.png" />
                            </a>
                        }
                    </td>
                }
            }
        </tr>
        <tr class="table-header">
            <th></th>
            <th class="bottom-border right-border table-header-clickable">Lugar</th>
            <th class="bottom-border right-border table-header-clickable">Género</th>
            <th class="bottom-border right-border table-header-clickable">Competidor</th>
            <th class="bottom-border right-border table-header-clickable clave-width">Clave</th>
            @if (Model.mostrarResultadosPorProblema)
            {
                for (var i = 0; i < Model.problemasDia1; i++)
                {
                    <th class="bottom-border right-border table-header-clickable">@("P" + (i + 1))</th>
                }
            }
            @if (Model.mostrarResultadosPorDia)
            {
                <th class="bottom-border right-border table-header-clickable">D1</th>
            }
            @if (Model.mostrarResultadosPorProblema)
            {
                for (var i = 0; i < Model.problemasDia2; i++)
                {
                    <th class="bottom-border right-border table-header-clickable">@("P" + (i + 1))</th>
                }
            }
            @if (Model.mostrarResultadosPorDia)
            {
                <th class="bottom-border right-border table-header-clickable">D2</th>
            }
            @if (Model.mostrarResultadosTotales)
            {
                <th class="bottom-border right-border table-header-clickable">Total</th>
            }
            <th class="bottom-border right-border table-header-clickable {sorter:'medalla'}">Medalla</th>
            <th class="bottom-border table-header-clickable">Escuela</th>
        </tr>
    </thead>
    <tbody>
    @{
            tableManager = new OMIstats.Utilities.TableManager(ViewBag.admin, ViewBag.claveUsuario);
            tableManager.setCurrentOMI(Model);
            bool hayUNKs = false;
    }
    @for (var l = 0; l < ViewBag.resultados.Count; l++)
    {
        OMIstats.Models.Resultados datos = ViewBag.resultados[l];
        tableManager.setCurrentResultados(datos);

        if (tableManager.esClaveDesconocida())
        {
            hayUNKs = true;
        }
        else
        {
            string claseCSS = tableManager.obtenerClaseCSS();
            bool mostrar = tableManager.mostrarLinea(overrideMostrarResultadosTotales: true);
            <tr>
                <td class="ioi-mini-imagen">
                    @if (tableManager.mostrarLogoIOI())
                    {
                        <a href="@tableManager.getIOIStatsLink(datos.persona.ioiID)" target="_blank">
                            <img src="~/img/ioi.png" />
                        </a>
                    }
                </td>
                <td class="@("table-td center right-border " + claseCSS)">
                    @if (Model.mostrarResultadosTotales && datos.lugar > 0)
                    {
                        @(datos.lugar)
                    }
                </td>
                <td class="@("table-td center right-border " + claseCSS)">
                    @if (mostrar && datos.persona != null)
                    {
                        if (datos.persona.genero == "M")
                        {
                           <span class="azul">H</span>
                        }
                        else
                        {
                           <span class="rosa">M</span>
                        }
                    }
                </td>
                <td class="@("table-td break-word right-border nombre-td " + claseCSS)">
                    @if (mostrar && datos.persona != null)
                    {
                        <span>
                            <a class="nombre" href="@Url.Content("~/Profile/view?usuario=" + datos.persona.usuario + "&tipo=" + Model.tipoOlimpiada)">
                                @datos.persona.nombre
                            </a>
                        </span>
                    }
                </td>
                <td class="@("table-td center right-border " + claseCSS)">
                    @if (mostrar)
                    {
                        <a class="nombre" href="@Url.Content("~/Olimpiada/Delegacion?clave=" + Model.numero + "&estado=" + datos.estado)">
                        @if (tableManager.faltaClave())
                        {
                            <span>
                                @datos.estado
                            </span>
                        }
                        else
                        {
                            if (tableManager.faltaNombre())
                            {
                                <span>@datos.clave.Substring(4)</span>
                            }
                            else
                            {
                                <span>@datos.clave</span>
                            }
                        }
                        </a>
                    }
                </td>
                @if (Model.mostrarResultadosPorProblema)
                {
                    for (var i = 0; i < Model.problemasDia1; i++)
                    {
                        <td class="@("table-td center right-border " + claseCSS)">
                            @tableManager.puntosProblema(1, i)
                        </td>
                    }
                }
                @if (Model.mostrarResultadosPorDia)
                {
                    <td class="@("table-td center right-border resultado-dia " + claseCSS)">
                        @datos.totalDia1
                    </td>
                }
                @if (Model.mostrarResultadosPorProblema)
                {
                    for (var i = 0; i < Model.problemasDia2; i++)
                    {
                         <td class="@("table-td center right-border " + claseCSS)">
                            @tableManager.puntosProblema(2, i)
                        </td>
                    }
                }
                @if (Model.mostrarResultadosPorDia)
                {
                    <td class="@("table-td center right-border resultado-dia " + claseCSS)">
                        @datos.totalDia2
                    </td>
                }
                @if (Model.mostrarResultadosTotales)
                {
                    <td class="@("table-td center right-border resultado-total " + claseCSS)">
                        @datos.total
                    </td>
                }
                <td class="@("table-td center right-border " + claseCSS)" medalla="@((int)datos.medalla)">
                    @tableManager.medallaString(mostrarPrimeros: false)
                </td>
                <td class="@("table-td break-word escuela-td " + claseCSS)">
                    @if (mostrar && datos.escuela != null)
                    {
                        <span>
                            <a class="nombre" href="@Url.Content("~/Escuela?url=" + datos.escuela.nombreURL + "&tipo=" + Model.tipoOlimpiada)">
                                @datos.escuela.nombreCorto
                            </a>
                        </span>
                    }
                </td>
            </tr>
        }
    }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            @if (!Model.noMedallistasConocidos)
            {
                <td class="top-border"></td>
            }
            <td class="right-border top-border derecha pie pieTitulo table-footer" colspan="4">
                @if (Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
                {
                    <span>Media</span>
                }
            </td>
            @if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
            {
                for (var i = 0; i < Model.problemasDia1; i++)
                {
                    <td class="center right-border top-border pie">
                        @if(problemasDia1[i] != null)
                        {
                            @ViewBag.problemasDia1[i].media
                        }
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
            {
                <td class="center right-border resultado-dia top-border pie">
                    @if (!hayUNKs && ViewBag.numerosDia1 != null)
                    {
                        @ViewBag.numerosDia1.media
                    }
                </td>
            }
            @if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
            {
                for (var i = 0; i < Model.problemasDia2; i++)
                {
                    <td class="center right-border top-border pie">
                        @if(problemasDia2[i] != null)
                        {
                            @ViewBag.problemasDia2[i].media
                        }
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
            {
                <td class="center right-border resultado-dia top-border pie">
                    @if (!hayUNKs && ViewBag.numerosDia2 != null)
                    {
                        @ViewBag.numerosDia2.media
                    }
                </td>
            }
            @if (Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
            {
                <td class="center resultado-total top-border pie">
                    @if (ViewBag.numerosTotal != null)
                    {
                        @ViewBag.numerosTotal.media
                    }
                </td>
            }
            <td class="top-border table-footer center" colspan="2">
                Estados participantes
            </td>
        </tr>
        <tr>
            <td></td>
            @if (!Model.noMedallistasConocidos)
            {
                <td></td>
            }
            <td class="right-border derecha pie pieTitulo table-footer" colspan="4">
                @if (Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
                {
                    <span>Mediana</span>
                }
            </td>
            @if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
            {
                for (var i = 0; i < Model.problemasDia1; i++)
                {
                    <td class="center right-border pie">
                        @if(problemasDia1[i] != null)
                        {
                            @ViewBag.problemasDia1[i].mediana
                        }
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
            {
                <td class="center right-border resultado-dia pie">
                    @if (!hayUNKs && ViewBag.numerosDia1 != null)
                    {
                        @ViewBag.numerosDia1.mediana
                    }
                </td>
            }
            @if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
            {
                for (var i = 0; i < Model.problemasDia2; i++)
                {
                    <td class="center right-border pie">
                        @if(problemasDia2[i] != null)
                        {
                            @ViewBag.problemasDia2[i].mediana
                        }
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
            {
                <td class="center right-border resultado-dia pie">
                    @if (!hayUNKs && ViewBag.numerosDia2 != null)
                    {
                        @ViewBag.numerosDia2.mediana
                    }
                </td>
            }
            @if (Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
            {
                <td class="center resultado-total pie">
                    @if (ViewBag.numerosTotal != null)
                    {
                        @ViewBag.numerosTotal.mediana
                    }
                </td>
            }
            <td class="center" colspan="2">
                @Model.estados
            </td>
        </tr>
        <tr>
            <td></td>
            @if (!Model.noMedallistasConocidos)
            {
                <td></td>
            }
            <td class="right-border derecha pie pieTitulo table-footer" colspan="4">
                @if (!hayUNKs && Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
                {
                    <span>Perfectos</span>
                }
            </td>
            @if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
            {
                for (var i = 0; i < Model.problemasDia1; i++)
                {
                    <td class="center right-border pie">
                        @if(problemasDia1[i] != null)
                        {
                            @ViewBag.problemasDia1[i].perfectos
                        }
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
            {
                <td class="center right-border resultado-dia pie">
                    @if (!hayUNKs && ViewBag.numerosDia1 != null)
                    {
                        @ViewBag.numerosDia1.perfectos
                    }
                </td>
            }
            @if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
            {
                for (var i = 0; i < Model.problemasDia2; i++)
                {
                    <td class="center right-border pie">
                        @if(problemasDia2[i] != null)
                        {
                            @ViewBag.problemasDia2[i].perfectos
                        }
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
            {
                <td class="center right-border resultado-dia pie">
                    @if (!hayUNKs && ViewBag.numerosDia2 != null)
                    {
                        @ViewBag.numerosDia2.perfectos
                    }
                </td>
            }
            @if (Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
            {
                <td class="center resultado-total pie">
                    @if (!hayUNKs && ViewBag.numerosTotal != null)
                    {
                        @ViewBag.numerosTotal.perfectos
                    }
                </td>
            }
            <td class="table-footer center" colspan="2">
                Total competidores
            </td>
        </tr>
        <tr>
            <td></td>
            @if (!Model.noMedallistasConocidos)
            {
                <td></td>
            }
            <td class="right-border derecha pie pieTitulo table-footer" colspan="4">
                @if (!hayUNKs && Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
                {
                    <span>Ceros</span>
                }
            </td>
            @if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
            {
                for (var i = 0; i < Model.problemasDia1; i++)
                {
                    <td class="center right-border pie">
                        @if(problemasDia1[i] != null)
                        {
                            @ViewBag.problemasDia1[i].ceros
                        }
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
            {
                <td class="center right-border resultado-dia pie">
                    @if (!hayUNKs && ViewBag.numerosDia1 != null)
                    {
                        @ViewBag.numerosDia1.ceros
                    }
                </td>
            }
            @if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
            {
                for (var i = 0; i < Model.problemasDia2; i++)
                {
                    <td class="center right-border pie">
                        @if(problemasDia2[i] != null)
                        {
                            @ViewBag.problemasDia2[i].ceros
                        }
                    </td>
                }
            }
            @if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
            {
                <td class="center right-border resultado-dia pie">
                    @if (!hayUNKs && ViewBag.numerosDia2 != null)
                    {
                        @ViewBag.numerosDia2.ceros
                    }
                </td>
            }
            @if (Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
            {
                <td class="center resultado-total pie">
                    @if (!hayUNKs && ViewBag.numerosTotal != null)
                    {
                        @ViewBag.numerosTotal.ceros
                    }
                </td>
            }
            <td class="center" colspan="2">
                @Model.participantes
            </td>
        </tr>
    </tfoot>
</table>
}