@model OMIstats.Models.Olimpiada

@{
    bool isLive = ViewBag.liveResults;
    bool isRunnerLive = false;
    long lastUpdate = 0;
    int dia = 0;
    int problemasPorDia = 0;
    long ticks = 0;
    int remainingSeconds = 0;
    string scoreboardName = "";
    string scoreboardToken = "";
    int problemasDia1Count = Model.problemasDia1;
    int problemasDia2Count = Model.problemasDia2;
    OMIstats.Models.Persona usuario = ViewBag.usuario;
    List<OMIstats.Models.Resultados> resultados = ViewBag.resultados;
    List<OMIstats.Models.Olimpiada> olimpiadas = ViewBag.olimpiadas;
    List<OMIstats.Models.Olimpiada> omis = ViewBag.omis;
    List<OMIstats.Models.Olimpiada> omip = ViewBag.omip;
    bool admin = ViewBag.admin;
    bool secretScoreboard = ViewBag.secretScoreboard;
    int? claveUsuario = ViewBag.claveUsuario;
    OMIstats.Models.Problema numerosDia1 = ViewBag.numerosDia1;
    OMIstats.Models.Problema numerosDia2 = ViewBag.numerosDia2;
    OMIstats.Models.Problema numerosTotal = ViewBag.numerosTotal;
    List<OMIstats.Models.Problema> problemasDia1 = ViewBag.problemasDia1;
    List<OMIstats.Models.Problema> problemasDia2 = ViewBag.problemasDia2;
    List<OMIstats.Models.Estado> extranjeros = ViewBag.extranjeros;

    OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    tableManager.setCurrentOMI(Model);

    ViewBag.Title = tableManager.enlaceOMI(nombreCompleto: true);

    if (isLive)
    {
        isRunnerLive = ViewBag.RunnerStarted;
        if (isRunnerLive && !Model.esOnline)
        {
            lastUpdate = ViewBag.lastUpdate;
            dia = ViewBag.dia;
            problemasPorDia = ViewBag.problemasPorDia;
            ticks = ViewBag.ticks;
            remainingSeconds = ViewBag.remainingSeconds;
            scoreboardName = ViewBag.scoreboardName;
            scoreboardToken = ViewBag.scoreboardToken;
        }
    }

    if (secretScoreboard)
    {
        dia = ViewBag.dia;
        problemasDia1Count = ViewBag.problemasPorDia;
        if (dia == 2)
        {
            problemasDia2Count = problemasDia1Count;
        }
    }
}

@section AddToHead
{
<link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
<link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
<link rel="stylesheet" href="~/Content/tablas.css" type="text/css" />
<link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
@if(Model.puntosDetallados)
{
<link rel="stylesheet" href="~/Content/overlay.css" type="text/css"/>
}
}

@section scripts
{
<script type="text/javascript" src="~/Scripts/jquery.tablesorter.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.metadata.js"></script>
<script type="text/javascript" src="~/js/sorters.js"></script>
<script type="text/javascript" src="~/js/resultados.js"></script>
@if (Model.puntosDetallados && !secretScoreboard)
{
<script type="text/javascript" src="~/js/formas.js"></script>
<script type="text/javascript" src="~/js/overlay.js"></script>
<script type="text/javascript" src="~/Scripts/Chart.bundle.min.js" ></script>
<script type="text/javascript" src="~/js/graficas.js"></script>
<script>
    setUpOverlay("@(Url.Content("~"))" + "Olimpiada/OverlayAjax", "@(Url.Content("~"))", "@(Model.numero)", "@(Model.tipoOlimpiada.ToString())", @Model.problemasDia1, @Model.problemasDia2, @resultados.Count);
</script>
}
<script>
$(function () {
    agregaSorterMedallas();
    cargaSorter("tablaPuntos");
});
</script>
@if (isRunnerLive && dia != 0)
{
    if(!Model.puntosDetallados)
    {
<script type="text/javascript" src="~/js/formas.js"></script>
    }
<script type="text/javascript" src="~/js/scoreboard.js"></script>
<script>
$(function () {
    setUpScoreboard("@(Url.Content("~"))" + "Olimpiada/ResultadosAjax", "@(Model.numero)", "@(Model.tipoOlimpiada.ToString())", @(dia), @(problemasPorDia), "@(ticks)", @(remainingSeconds));
    setTimes(@(lastUpdate));
    startTimer();
});
</script>
}
}

<div class="submenu">
    @Html.ActionLink("General", "Index", "Olimpiada",
            new { clave = Model.numero }, new { @class = "mini-boton" })
    @Html.ActionLink("Estados", "Estados", "Olimpiada",
            new { clave = Model.numero }, new { @class = "mini-boton" })

    <br />
    <br />
    @if (Model.alsoOmips)
    {
        foreach (OMIstats.Models.TipoOlimpiada tipo in Enum.GetValues(typeof(OMIstats.Models.TipoOlimpiada)))
        {
            if (tipo != OMIstats.Models.TipoOlimpiada.IOI &&
                tipo != OMIstats.Models.TipoOlimpiada.NULL &&
                Model.tipoOlimpiada != tipo)
            {
                @Html.ActionLink(tipo.ToString(), "Resultados", "Olimpiada",
                    new { clave = Model.numero, tipo = tipo.ToString() }, new { @class = "mini-boton" })
            }
        }
        <br />
        <br />
    }
    <br />
    <div class="comboTitle">Olimpiadas:</div>
    <select onChange="redirige('@Url.Content("~/Olimpiada/Resultados?clave=")', this.options[this.selectedIndex].value)" class="comboMargin">
        @for (int i = 0; i < olimpiadas.Count; i++)
        {
            OMIstats.Models.Olimpiada omi = olimpiadas[i];
            tableManager.setCurrentOMI(omi);
            <option value="@omi.numero" @(omi.numero == Model.numero ? "selected" : "")>@(tableManager.enlaceOMI() + " " + omi.año)</option>
        }
    </select>
     @if (Model.alsoOmips)
     {
        <br />
        <div class="comboTitle">Secundarias:</div>
        <select onChange="redirige('@Url.Content("~/Olimpiada/Resultados?tipo=omis&clave=")', this.options[this.selectedIndex].value)" class="comboMargin">
            @for (int i = 0; i < omis.Count; i++)
            {
                OMIstats.Models.Olimpiada omi = omis[i];
                tableManager.setCurrentOMI(omi);
                <option value="@omi.numero" @(omi.numero == Model.numero ? "selected" : "")>@(tableManager.enlaceOMI() + " " + omi.año)</option>
            }
        </select>
        <br />
        <div class="comboTitle">Primarias:</div>
        <select onChange="redirige('@Url.Content("~/Olimpiada/Resultados?tipo=omip&clave=")', this.options[this.selectedIndex].value)" class="comboMargin">
            @for (int i = 0; i < omip.Count; i++)
            {
                OMIstats.Models.Olimpiada omi = omip[i];
                tableManager.setCurrentOMI(omi);
                <option value="@omi.numero" @(omi.numero == Model.numero ? "selected" : "")>@(tableManager.enlaceOMI() + " " + omi.año)</option>
            }
        </select>
     }
</div>

@if (secretScoreboard)
{
<img src="~/img/cosmo.png" style="width:100px; border-radius: 15px; margin-top: 15px;" />
}

@if (resultados.Count == 0)
{
    <h1 class="subtitulo"> No se tienen resultados para esta olimpiada </h1>
    <div class="clear">
    </div>
}
else
{
<h1 class="titulo"> Tabla de resultados de la @ViewBag.Title </h1>
    if (isLive)
    {
        if (Model.esOnline && isRunnerLive)
        {
<div class="live-results">Durante la competencia en línea, no hay resultados en vivo.</div>
        }
        else
        {
<div id="liveResults" class="live-results">Los resultados en esta página son preeliminares y están sujetos a cambios.</div>
            if (isRunnerLive)
            {
<div id="updateContainer">
    <div class="last-update">Actualizado hace <span id="lastServerUpdate"></span>.</div>
</div>
<div id="errorUpdateContainer" style="display:none" class="live-results">
    Hubo un error al intentar conectarse con el servidor <a href="javascript:retryAjax()" id="retryLink">Reintentar</a><img id="loading" src="@(Url.Content("~/img/ajax-loader.gif"))" style="display:none"/>
</div>
<div class="omega-up-link">
    <a id="finished" class="finished" style="display:none" href="@(string.Format("https://omegaup.com/arena/{0}/scoreboard/{1}", scoreboardName, scoreboardToken))" target="_blank">
        El concurso ha terminado
    </a>
    <a id="counter-container" class="counter-container" href="@(string.Format("https://omegaup.com/arena/{0}/scoreboard/{1}", scoreboardName, scoreboardToken))" target="_blank">
        El examen termina en: <span id="counter" class="counter">05:00:00</span>
    </a>
</div>
            }
        }
    }

    if (!isLive && Model.tipoOlimpiada == OMIstats.Models.TipoOlimpiada.OMI && extranjeros.Count > 0 && resultados.Count > 0)
    {
<input type="checkbox" id="ckbExt" onclick="extranjeros()" />
<label for="ckbExt">Mostrar invitados extranjeros</label>
    }

<table class="table" id="tablaPuntos">
<thead>
<tr>
<td colspan="5"></td>
    @if (Model.mostrarResultadosPorProblema)
    {
        for (var i = 0; i < Model.problemasDia1; i++)
        {
<td class="enlaceProblema">
            @if (problemasDia1[i] != null)
            {
<a href="@problemasDia1[i].url" target="_blank">
<img src="~/img/link.png" title="@problemasDia1[i].nombre" />
</a>
            }
</td>
        }
    }
    @if (Model.mostrarResultadosPorDia)
    {
<td></td>
    }
    @if (Model.mostrarResultadosPorProblema)
    {
        for (var i = 0; i < Model.problemasDia2; i++)
        {
<td class="enlaceProblema">
            @if (problemasDia2[i] != null)
            {
<a href="@problemasDia2[i].url" target="_blank">
<img src="~/img/link.png" title="@problemasDia2[i].nombre" />
</a>
            }
</td>
        }
    }
</tr>
<tr class="table-header">
<th></th>
<th class="bottom-border right-border table-header-clickable">Lugar</th>
<th class="bottom-border right-border table-header-clickable">Género</th>
<th class="bottom-border right-border table-header-clickable">Competidor</th>
<th class="bottom-border right-border table-header-clickable clave-width">Clave</th>
    @if (Model.mostrarResultadosPorProblema || secretScoreboard)
    {
        for (var i = 0; i < problemasDia1Count; i++)
        {
            string title = "";
            if (problemasDia1[i] != null)
            {
                title = problemasDia1[i].nombre;
            }
<th class="bottom-border right-border table-header-clickable" title="@title">@("P" + (i + 1))</th>
        }
    }
    @if (Model.mostrarResultadosPorDia || secretScoreboard && dia == 2)
    {
<th class="bottom-border right-border table-header-clickable">D1</th>
    }
    @if (Model.mostrarResultadosPorProblema || secretScoreboard && dia == 2)
    {
        for (var i = 0; i < problemasDia2Count; i++)
        {
            string title = "";
            if (problemasDia2[i] != null)
            {
                title = problemasDia2[i].nombre;
            }
<th class="bottom-border right-border table-header-clickable" title="@title">@("P" + (i + 1))</th>
        }
    }
    @if (Model.mostrarResultadosPorDia || secretScoreboard && dia == 2)
    {
<th class="bottom-border right-border table-header-clickable">D2</th>
    }
    @if (Model.mostrarResultadosTotales || secretScoreboard)
    {
<th class="bottom-border right-border table-header-clickable">Total</th>
    }
<th class="bottom-border right-border table-header-clickable {sorter:'medalla'}">Medalla</th>
<th class="bottom-border table-header-clickable">Escuela</th>
</tr>
</thead>
<tbody>
@{
    tableManager = new OMIstats.Utilities.TableManager(admin, claveUsuario);
    tableManager.setCurrentOMI(Model);
    bool hayUNKs = false;
}
@for (var l = 0; l < resultados.Count; l++)
{
    OMIstats.Models.Resultados datos = resultados[l];
    OMIstats.Models.Estado estado = OMIstats.Models.Estado.obtenerEstadoConClave(resultados[l].estado);
    tableManager.setCurrentResultados(datos);
    bool descalificado = datos.medalla == OMIstats.Models.Resultados.TipoMedalla.DESCALIFICADO;
    if (datos.total < 0 && !admin)
    {
        continue;
    }
    if (tableManager.esClaveDesconocida())
    {
        hayUNKs = true;
    }
    else
    {
        string claseCSS = tableManager.obtenerClaseCSS(mostrarPendientes: false);
        bool mostrar = tableManager.mostrarLinea(overrideMostrarResultadosTotales: true);
<tr id="@((isRunnerLive || Model.puntosDetallados) ? datos.clave : null)" foto="@((isRunnerLive || Model.puntosDetallados) ? datos.persona.foto.Substring(2) : null)" @(estado.extranjero ? "ext=true style=display:none" : "")>
<td class="ioi-mini-imagen @(isRunnerLive ? "options-scoreboard" : "")">
@if (isLive && isRunnerLive)
{
    if (!Model.esOnline)
    {
<img class="up" src="@Url.Content("~/img/up.png")" style="display:none"/>
<img class="down" src="@Url.Content("~/img/down.png")" style="display:none"/>
<img class="unchecked" src="@Url.Content("~/img/checkbox.png")" onclick="addBorder('@(datos.clave)')"/>
<img class="checked" src="@Url.Content("~/img/checkbox2.png")" onclick="addBorder('@(datos.clave)')" style="display:none"/>
    }
}
else
{
    if (tableManager.mostrarLogoIOI())
    {
<a href="@tableManager.getIOIStatsLink(datos.persona.ioiID)" target="_blank"><img src="~/img/ioi.png" /></a>
    }
}
</td>
<td class="@("table-td center right-border " + claseCSS)">
    @if (Model.mostrarResultadosTotales && datos.lugar > 0 && !descalificado)
    {
@(datos.lugar)
        if (datos.ioi == "Y")
        {
<img src="~/img/star.png" title="Medallista más joven" class="karel-png"/>
        }
    }
</td>
<td class="@("table-td center right-border " + claseCSS)">
    @if (mostrar && datos.persona != null)
    {
        if (datos.persona.genero == "M")
        {
<span class="azul">H</span>
        }
        else
        {
<span class="rosa">M</span>
        }
    }
</td>
<td class="@("table-td break-word right-border nombre-td " + claseCSS)">
    @if (mostrar && datos.persona != null)
    {
<span>
@if (Model.tipoOlimpiada == OMIstats.Models.TipoOlimpiada.OMI && datos.persona.omips)
{
<img src="~/img/karel.png" title="Participó en OMIPS en años anteriores" class="karel-png"/>
}
<a class="nombre" href="@Url.Content("~/Profile/view?usuario=" + datos.persona.usuario + "&tipo=" + Model.tipoOlimpiada)">@datos.persona.nombreCompleto</a>
</span>
    }
</td>
<td class="@("table-td center right-border " + claseCSS)">
    @if (mostrar)
    {
<a class="nombre" href="@Url.Content("~/Olimpiada/Delegacion?clave=" + Model.numero + "&estado=" + datos.estado)">
@if (tableManager.faltaClave())
{
<span>
        @datos.estado
</span>
}
else
{
    if (tableManager.faltaNombre())
    {
<span>@datos.clave.Substring(4)</span>
    }
    else
    {
<span>@datos.clave</span>
    }
}
</a>
    }
</td>
@if (Model.mostrarResultadosPorProblema || secretScoreboard)
{
    for (var i = 0; i < problemasDia1Count; i++)
    {
<td class="@("table-td center right-border " + claseCSS)">
@if (descalificado)
{
@("-")
}
else
{
@tableManager.puntosProblema(1, i)
}
</td>
    }
}
@if (Model.mostrarResultadosPorDia || secretScoreboard && dia == 2)
{
<td class="@("table-td center right-border resultado-dia " + (descalificado ? "" : " open-overlay ") + claseCSS)" onclick="@(descalificado ? "null" : "showOverlay('" + datos.clave + "')")">
@if (descalificado)
{
@("-")
}
else
{
@datos.totalDia1
}
</td>
}
@if (Model.mostrarResultadosPorProblema || secretScoreboard && dia == 2)
{
    for (var i = 0; i < problemasDia2Count; i++)
    {
<td class="@("table-td center right-border " + claseCSS)">
@if (descalificado)
{
@("-")
}
else
{
@tableManager.puntosProblema(2, i)
}
</td>
    }
}
@if (Model.mostrarResultadosPorDia || secretScoreboard && dia == 2)
{
<td class="@("table-td center right-border resultado-dia " + (descalificado ? "" : " open-overlay ") + claseCSS)" onclick="@(descalificado ? "null" : "showOverlay('" + datos.clave + "')")">
@if (descalificado)
{
@("-")
}
else
{
@datos.totalDia2
}
</td>
}
@if (Model.mostrarResultadosTotales || secretScoreboard)
{
<td class="@("table-td center right-border resultado-total " + (descalificado ? "" : " open-overlay ") + claseCSS)" onclick="@(descalificado ? "null" : "showOverlay('" + datos.clave + "')")">
@if (descalificado)
{
@("-")
}
else
{
@datos.total
}
</td>
}
<td class="@("table-td center right-border " + claseCSS)" medalla="@((int)datos.medalla)">
@tableManager.medallaString(mostrarPrimeros: false, mostrarPendientes: false)
</td>
<td class="@("table-td break-word escuela-td " + claseCSS)">
    @if (mostrar && datos.escuela != null)
    {
<span>
<a class="nombre" href="@Url.Content("~/Escuela?url=" + datos.escuela.nombreURL + "&tipo=" + Model.tipoOlimpiada)">
@datos.escuela.nombreCorto
</a>
</span>
    }
</td>
</tr>
    }
}
</tbody>
    @if (!isLive && !secretScoreboard)
    {
<tfoot>
<tr>
<td></td>
@if (!Model.noMedallistasConocidos)
{
<td class="top-border"></td>
}
<td class="right-border top-border derecha pie pieTitulo table-footer" colspan="4">
    @if (Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
    {
<span>Media</span>
    }
</td>
@if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
{
    for (var i = 0; i < Model.problemasDia1; i++)
    {
<td class="center right-border top-border pie">
    @if (problemasDia1[i] != null)
    {
        @problemasDia1[i].media
    }
</td>
    }
}
@if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
{
<td class="center right-border resultado-dia top-border pie">
    @if (!hayUNKs && numerosDia1 != null)
    {
        @numerosDia1.media
    }
</td>
}
@if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
{
    for (var i = 0; i < Model.problemasDia2; i++)
    {
<td class="center right-border top-border pie">
    @if (problemasDia2[i] != null)
    {
        @problemasDia2[i].media
    }
</td>
    }
}
@if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
{
<td class="center right-border resultado-dia top-border pie">
    @if (!hayUNKs && numerosDia2 != null)
    {
        @numerosDia2.media
    }
</td>
}
@if (Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
{
<td class="center resultado-total top-border pie">
    @if (numerosTotal != null)
    {
        @numerosTotal.media
    }
</td>
}
<td class="top-border table-footer center" colspan="2">
    Estados participantes
</td>
</tr>
<tr>
<td></td>
@if (!Model.noMedallistasConocidos)
{
<td></td>
}
<td class="right-border derecha pie pieTitulo table-footer" colspan="4">
    @if (Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
    {
<span>Mediana</span>
    }
</td>
@if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
{
    for (var i = 0; i < Model.problemasDia1; i++)
    {
<td class="center right-border pie">
    @if (problemasDia1[i] != null)
    {
        @problemasDia1[i].mediana
    }
</td>
    }
}
@if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
{
<td class="center right-border resultado-dia pie">
    @if (!hayUNKs && numerosDia1 != null)
    {
        @numerosDia1.mediana
    }
</td>
}
@if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
{
    for (var i = 0; i < Model.problemasDia2; i++)
    {
<td class="center right-border pie">
    @if (problemasDia2[i] != null)
    {
        @problemasDia2[i].mediana
    }
</td>
    }
}
@if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
{
<td class="center right-border resultado-dia pie">
    @if (!hayUNKs && numerosDia2 != null)
    {
        @numerosDia2.mediana
    }
</td>
}
@if (Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
{
<td class="center resultado-total pie">
    @if (numerosTotal != null)
    {
        @numerosTotal.mediana
    }
</td>
}
<td class="center" colspan="2">
    @Model.estados
</td>
</tr>
<tr>
<td></td>
@if (!Model.noMedallistasConocidos)
{
<td></td>
}
<td class="right-border derecha pie pieTitulo table-footer" colspan="4">
    @if (!hayUNKs && Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
    {
<span>Perfectos</span>
    }
</td>
@if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
{
    for (var i = 0; i < Model.problemasDia1; i++)
    {
<td class="center right-border pie">
    @if (problemasDia1[i] != null)
    {
        @problemasDia1[i].perfectos
    }
</td>
    }
}
@if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
{
<td class="center right-border resultado-dia pie">
    @if (!hayUNKs && numerosDia1 != null)
    {
        @numerosDia1.perfectos
    }
</td>
}
@if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
{
    for (var i = 0; i < Model.problemasDia2; i++)
    {
<td class="center right-border pie">
    @if (problemasDia2[i] != null)
    {
        @problemasDia2[i].perfectos
    }
</td>
    }
}
@if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
{
<td class="center right-border resultado-dia pie">
    @if (!hayUNKs && numerosDia2 != null)
    {
        @numerosDia2.perfectos
    }
</td>
}
@if (Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
{
<td class="center resultado-total pie">
    @if (!hayUNKs && numerosTotal != null)
    {
        @numerosTotal.perfectos
    }
</td>
}
<td class="table-footer center" colspan="2">
Total competidores
</td>
</tr>
<tr>
<td></td>
@if (!Model.noMedallistasConocidos)
{
<td></td>
}
<td class="right-border derecha pie pieTitulo table-footer" colspan="4">
    @if (!hayUNKs && Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
    {
<span>Ceros</span>
    }
</td>
@if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
{
    for (var i = 0; i < Model.problemasDia1; i++)
    {
<td class="center right-border pie">
    @if (problemasDia1[i] != null)
    {
        @problemasDia1[i].ceros
    }
</td>
    }
}
@if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
{
<td class="center right-border resultado-dia pie">
    @if (!hayUNKs && numerosDia1 != null)
    {
        @numerosDia1.ceros
    }
</td>
}
@if (Model.mostrarResultadosPorProblema && Model.noMedallistasConocidos)
{
    for (var i = 0; i < Model.problemasDia2; i++)
    {
<td class="center right-border pie">
    @if (problemasDia2[i] != null)
    {
        @problemasDia2[i].ceros
    }
</td>
    }
}
@if (Model.mostrarResultadosPorDia && Model.noMedallistasConocidos)
{
<td class="center right-border resultado-dia pie">
    @if (!hayUNKs && numerosDia2 != null)
    {
        @numerosDia2.ceros
    }
</td>
}
@if (Model.mostrarResultadosTotales && Model.noMedallistasConocidos)
{
<td class="center resultado-total pie">
    @if (!hayUNKs && numerosTotal != null)
    {
        @numerosTotal.ceros
    }
</td>
}
<td class="center" colspan="2">
    @Model.participantes
</td>
</tr>
</tfoot>
    }
</table>

    if (Model.puntosDetallados && !secretScoreboard)
    {
<div class="overlay-container" id="overlay-container" style="display:none" onclick="closeOverlay()">
</div>
<div class="overlay" id="overlay" style="display:none">
    <img src="@(Url.Content("~/img/close.png"))" class="close-button" onclick="closeOverlay()"/>
    <div class="overlay-top-menus">
        <div class="overlay-foto">
            <div class="foto">
                <img id="overlay-foto-img" src="@(Url.Content("~/img/karel.bmp"))"/>
            </div>
        </div>
        <div class="overlay-datos">
            <div>
                <span id="overlay-nombre" class="nombrePerfil"></span>
                <img id="overlay-medalla" class="overlay-medalla" src="" />
            </div>
            <div id="overlay-clave" class="overlay-clave"></div>
            <div>
                <img id="overlay-estado" class="overlay-estado" src=""/>
            </div>
        </div>
        <div class="overlay-puntos">
            <table>
                <thead>
                    <tr class="table-header">
                        <td></td>
                        <td>Puntos</td>
                        <td>Lugar</td>
                    </tr>
                </thead>
                <tr class="overlay-total">
                    <td>Total</td>
                    <td id="puntos" class="overlay-numeros"></td>
                    <td id="lugar" class="overlay-numeros"></td>
                </tr>
                @if (Model.mostrarResultadosPorDia)
                {
                <tr class="overlay-dia">
                    <td>&nbsp;&nbsp;&nbsp;Día 1</td>
                    <td id="puntosD1" class="overlay-numeros"></td>
                    <td id="lugarD1" class="overlay-numeros"></td>
                </tr>
                }
                @for (var i = 0; i < Model.problemasDia1; i++)
                {
                <tr>
                    <td id="@("nombresD1P" + (i + 1))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@(problemasDia1[i] != null ? problemasDia1[i].nombre : "Problema " + (i + 1))</td>
                    <td id="@("puntosD1P" + (i + 1))" class="overlay-numeros"></td>
                    <td id="@("lugarD1P" + (i + 1))" class="overlay-numeros"></td>
                </tr>
                }
                @if (Model.mostrarResultadosPorDia)
                {
                <tr class="overlay-dia">
                    <td>&nbsp;&nbsp;&nbsp;Día 2</td>
                    <td id="puntosD2" class="overlay-numeros"></td>
                    <td id="lugarD2" class="overlay-numeros"></td>
                </tr>
                }
                @for (var i = 0; i < Model.problemasDia2; i++)
                {
                <tr>
                    <td id="@("nombresD2P" + (i + 1))">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@(problemasDia2[i] != null ? problemasDia2[i].nombre : "Problema " + (i + 1))</td>
                    <td id="@("puntosD2P" + (i + 1))" class="overlay-numeros"></td>
                    <td id="@("lugarD2P" + (i + 1))" class="overlay-numeros"></td>
                </tr>
                }
            </table>
        </div>
    </div>
    <div class="graph-containers">
        <img id="overlayLoading" src="@(Url.Content("~/img/ajax-loader.gif"))" style="display:none"/>
        <div class="chart-title" id="chart-title"><a onclick="muestraChartTotal()">Total</a>|<a onclick="muestraChartLugar()">Lugar</a>|<a onclick="muestraChartProblemas()">Por problema</a>
@if (Model.problemasDia2 > 0)
{
@("|")<a onclick="mustraChartPorDias()">Por día</a>
}
        </div>
        <div class="textoRojo" id="overlayError" style="display:none"><br /><br /><br />Hubo un error en el server, intenta de nuevo más tarde.</div>
        <div class="textoRojo" id="overlayExt" style="display:none"><br /><br /><br />Los invitados extranjeros no cuentan con detalles sobre sus envíos.</div>
        <canvas id="chartPuntos" style="display:none"></canvas>
    </div>
</div>
}
}