@model OMIstats.Models.Olimpiada

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/tablas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css"/>
}

@{
    ViewBag.Title = Model.numero + "ª OMI";
}

<div class="submenu">
    @Html.ActionLink("Datos", "Index", "Olimpiada",
            new { clave = Model.numero }, new { @class = "mini-boton" })

    <br />
    <br />
    <br />

    @for(int i = ViewBag.olimpiadas.Count - 1; i >= 0; i--)
    {
        OMIstats.Models.Olimpiada omi = ViewBag.olimpiadas[i];
        if (omi.numero != Model.numero)
        {
            @Html.ActionLink(omi.numero + "ª OMI", "Resultados", "Olimpiada",
                new { clave = omi.numero }, new { @class = "mini-boton" });
        }
    }
</div>

<h1 class="titulo"> Tabla de resultados de la @ViewBag.Title </h1>

<table class="table tablePadding tablaResultados">
    <thead>
        <tr class="table-header">
            <th></th>
            <th class="bottom-border right-border">Lugar</th>
            <th class="bottom-border right-border">Género</th>
            <th class="bottom-border right-border">Competidor</th>
            <th class="bottom-border right-border">Clave</th>
            @if (ViewBag.mostrarIndividual)
            {
                for (var i = 0; i < ViewBag.dia1; i++)
                {
                    <th class="bottom-border right-border"><a href="@ViewBag.problemasDia1[i].url" target="_blank"> @("P" + (i + 1))</a></th>
                }
            }
            @if (ViewBag.mostrarDia)
            {
                <th class="bottom-border right-border">D1</th>
            }
            @if (ViewBag.mostrarIndividual)
            {
                for (var i = 0; i < ViewBag.dia2; i++)
                {
                    <th class="bottom-border right-border"><a href="@ViewBag.problemasDia2[i].url" target="_blank"> @("P" + (i + 1))</a></th>
                }
            }
            @if (ViewBag.mostrarDia)
            {
                <th class="bottom-border right-border">D2</th>
            }
            <th class="bottom-border right-border">Total</th>
            <th class="bottom-border right-border">Medalla</th>
            <th class="bottom-border">Escuela</th>
        </tr>
    </thead>
    @{var lugar = 1;}
    @for (var l = 0; l < ViewBag.resultados.Count; l++)
    {
        if (!ViewBag.resultados[l].clave.StartsWith(OMIstats.Models.Resultados.CLAVE_DESCONOCIDA))
        {
            OMIstats.Models.Resultados datos = ViewBag.resultados[l];
            string claseCSS = "";
            switch (datos.medalla)
            {
                case OMIstats.Models.Resultados.TipoMedalla.BRONCE:
                    {
                        claseCSS = "table-td-bronce";
                        break;
                    }
                case OMIstats.Models.Resultados.TipoMedalla.PLATA:
                    {
                        claseCSS = "table-td-plata";
                        break;
                    }
                case OMIstats.Models.Resultados.TipoMedalla.ORO:
                case OMIstats.Models.Resultados.TipoMedalla.ORO_1:
                case OMIstats.Models.Resultados.TipoMedalla.ORO_2:
                case OMIstats.Models.Resultados.TipoMedalla.ORO_3:
                    {
                        claseCSS = "table-td-oro";
                        break;
                    }
            }
            bool mostrar = ViewBag.admin || Model.datosPublicos || datos.publico ||
                (datos.medalla != OMIstats.Models.Resultados.TipoMedalla.NADA &&
                 datos.medalla != OMIstats.Models.Resultados.TipoMedalla.NULL) ||
                 datos.usuario == ViewBag.claveUsuario;
            <tr>
                <td class="ioi-mini-imagen">
                    @if(datos.ioi == "A" || datos.ioi == "B")
                    {
                        <img src="/img/ioi.png" />
                        <!-- -TODO- Agregar enlace a IOI -->
                    }
                </td>
                <td class="@("table-td center right-border " + claseCSS)">
                    @(lugar++)
                </td>
                <td class="@("table-td center right-border " + claseCSS)">
                    @if (mostrar)
                    {
                        if(datos.persona.genero == "M")
                        {
                           <span class="azul">H</span>
                        }
                        else
                        {
                           <span class="rosa">M</span>
                        }
                    }
                </td>
                <td class="@("table-td break-word right-border " + claseCSS)">
                    @if (mostrar)
                    {
                        <span>
                            <a class="nombre" href="@Url.Content("/Profile/view?usuario=" + datos.persona.usuario)">
                                @datos.persona.nombre
                            </a>
                        </span>
                    }
                </td>
                <td class="@("table-td center right-border " + claseCSS)">
                    @if (mostrar)
                    {
                        if (datos.clave.StartsWith(OMIstats.Models.Resultados.CLAVE_FALTANTE))
                        {
                            <span>
                                @datos.estado
                            </span>
                        }
                        else
                        {
                            <span>
                                @datos.clave
                            </span>
                        }
                    }
                </td>
                @if (ViewBag.mostrarIndividual)
                {
                    for (var i = 0; i < ViewBag.dia1; i++)
                    {
                        <td class="@("table-td center right-border " + claseCSS)">
                            @datos.dia1[i]
                        </td>
                    }
                }
                @if (ViewBag.mostrarDia)
                {
                    <td class="@("table-td center right-border resultado-dia " + claseCSS)">
                        @datos.totalDia1
                    </td>
                }
                @if (ViewBag.mostrarIndividual)
                {
                    for (var i = 0; i < ViewBag.dia2; i++)
                    {
                         <td class="@("table-td center right-border " + claseCSS)">
                            @datos.dia2[i]
                        </td>
                    }
                }
                @if (ViewBag.mostrarDia)
                {
                    <td class="@("table-td center right-border resultado-dia " + claseCSS)">
                        @datos.totalDia2
                    </td>
                }
                <td class="@("table-td center right-border resultado-total " + claseCSS)">
                    @datos.total
                </td>
                <td class="@("table-td center right-border " + claseCSS)">
                    @if( (datos.medalla != OMIstats.Models.Resultados.TipoMedalla.NADA &&
                         datos.medalla != OMIstats.Models.Resultados.TipoMedalla.NULL))
                    {
                        <span>
                            @if (datos.medalla == OMIstats.Models.Resultados.TipoMedalla.ORO_1 ||
                                 datos.medalla == OMIstats.Models.Resultados.TipoMedalla.ORO_2 ||
                                 datos.medalla == OMIstats.Models.Resultados.TipoMedalla.ORO_3)
                            {
                                <span>ORO</span>
                            }
                            else
                            {
                                if (datos.medalla != OMIstats.Models.Resultados.TipoMedalla.NULL &&
                                    datos.medalla != OMIstats.Models.Resultados.TipoMedalla.NADA)
                                {
                                    <span>@datos.medalla.ToString()</span>
                                }
                            }
                        </span>
                    }
                </td>
                <td class="@("table-td break-word escuela-td " + claseCSS)">
                    @if (mostrar && datos.escuela != null)
                    {
                        <span>
                            <a class="nombre" href="@Url.Content("/Escuela?url=" + datos.escuela.nombreURL)">
                                @datos.escuela.nombreCorto
                            </a>
                        </span>
                    }
                </td>
            </tr>
        }
    }

</table>