@model List<OMIstats.Models.Olimpiada>

@section AddToHead
{
    <link href="~/Content/olimpiadas.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/tablas.css" type="text/css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Olimpiadas";
}

<h1 class="titulo">Olimpiadas</h1>

<table class="table">
    <thead>
        <tr class="table-header">
            <th class="bottom-border right-border anchoColumnaOMI">

            </th>
            <th class="bottom-border right-border anchoColumnaNumero">
                Año
            </th>
            <th class="bottom-border right-border">
                Ciudad Sede
            </th>
            <th class="bottom-border right-border">
                Fechas
            </th>
            <th class="bottom-border right-border break-word anchoColumnaEscuela">
                Escuela Sede
            </th>
            <th class="bottom-border right-border anchoColumnaNumero">
                Competidores
            </th>
            <th class="bottom-border right-border break-word anchoColumnaNumero">
                Estados participantes
            </th>
            <th class="bottom-border right-border anchoColumnaNumero">
                Media
            </th>
            <th class="bottom-border anchoColumnaNumero">
                Mediana
            </th>
        </tr>
    </thead>
    @{
        OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    }
    @foreach (var item in Model)
    {
        if (item.numero != OMIstats.Models.Olimpiada.TEMP_CLAVE || ViewBag.admin)
        {
            tableManager.setCurrentOMI(item);
            <tr>
                <td class="table-td center right-border anchoColumnaOMI">
                   <a href ="@Url.Content("~/Olimpiada?clave=" + item.numero)" >@(tableManager.enlaceOMI())</a>
                </td>
                <td class="table-td right-border center anchoColumnaNumero">
                    @item.año
                </td>
                <td class="table-td right-border break-word">
                    @if(!item.esOnline)
                    {
                        if(item.claveEstado != "MDF")
                        {
                    @(item.ciudad + ", ")
                        }
                    <a href ="@Url.Content("~/Estado?clave=" + item.claveEstado)" class="nombre">@item.nombreEstado </a>
                    }
                </td>
                <td class="table-td right-border break-word">
                    @item.friendlyDate
                </td>
                <td class="table-td right-border break padding-nombre-escuela anchoColumnaEscuela">
                    <a href="@Url.Content("~/Escuela?url=" + item.escuelaURL)" class="nombre"> @item.nombreEscuelaCompleto </a>
                </td>
                <td class="table-td right-border center anchoColumnaNumero">
                    @if (item.participantes > 0)
                    {
                        @item.participantes
                    }
                </td>
                <td class="table-td right-border center anchoColumnaNumero">
                    @if (item.estados > 0)
                    {
                        @item.estados
                    }
                </td>
                <td class="table-td right-border center anchoColumnaNumero">
                    @if (item.media > 0)
                    {
                        @item.media
                    }
                </td>
                <td class="table-td center anchoColumnaNumero">
                    @if (item.mediana > 0)
                    {
                        @item.mediana
                    }
                </td>
            </tr>
        }
    }
</table>

@if (ViewBag.admin)
{
    <div class="nuevaOMI">
        <a class="boton" href="~/Olimpiada/Nueva">Nueva OMI</a>
    </div>
}

<div class="clear"></div>