<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/general.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/cabecera.css" type="text/css" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("AddToHead", required: false)
</head>
<body class="mainpage">
    <img src="~/img/circulo.png" class="circulo" alt="logoOMI"/>
    <a href="http://www.olimpiadadeinformatica.org.mx/" target="_blank" class="logo">
        <img src="~/img/logo.png" alt="logoOMI"/>
    </a>

    <div class="maincontent">

    <div class="headerPagina">
    <div class="menu">

        <a class="boton" href="/Home">Página principal</a>
        <a class="boton" href="/Estados">Estados</a>
        <a class="boton" href="/Olimpiadas">Olimpiadas</a>
        @if (ViewBag.usuario != null && ViewBag.usuario.admin)
        {
            <a class="boton" href="/Request/Manage">Admin</a>
        }
        <br />
        <div class="usuario">
            @if (ViewBag.usuario != null && ViewBag.usuario.clave > 0)
            {
                <span>
                    @if(ViewBag.usuario.genero[0] == 'F')
                    {
                        <span>Bienvenida</span>
                    }
                    else
                    {
                        <span>Bienvenido</span>
                    }
                    @Html.ActionLink((string)ViewBag.usuario.nombre, "view", "Profile", 
                                      new { usuario = (string)ViewBag.usuario.usuario }, 
                                      new { @class = "nombre" })
                </span>
                <div>@Html.ActionLink("Cerrar sesión", "Out", "Log")</div>
            }
            else
            {
                <div>
                    @Html.ActionLink("Iniciar sesión", "In", "Log", null,
                    (ViewBag._blank != null && ViewBag._blank) ? new { target = "_blank" } : null)
                </div>
            }
        </div>
    </div>
    </div>

    <div class="content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/js/general.js" ></script>
    @RenderSection("scripts", required: false)

    </div>
</body>
</html>
