<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (@ViewBag.usuario != null && @ViewBag.usuario.clave > 0)
    {
        if (@ViewBag.usuario.admin)
        {
            <div>
                Admin
            </div>
        }

        <div>Bienvenido @ViewBag.usuario.nombre </div>
        <div>@Html.ActionLink("Cerrar sesión", "Out", "Log")</div>
    }
    else
    {
        <div>@Html.ActionLink("Iniciar sesión", "In", "Log")</div>
    }

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
