@model OMIstats.Models.Persona

@{
    if (ViewBag.admin)
    {
        ViewBag.Title = "Asignar usuario";
    }
    else
    {
        ViewBag.Title = "Reclamar usuario";
    }
}

@section Scripts {
  <script src='https://www.google.com/recaptcha/api.js?hl=es-419' ></script>
}

@section AddToHead {
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
}

<h2 class="titulo">@ViewBag.Title</h2>

@if (ViewBag.guardado)
{
    if (ViewBag.admin)
    {
        <p>
            Se mandaron satisfactoriamente los datos de acceso
        </p>
    }
    else
    {
        <p>
            Se mandó satisfactoriamente tu petición. Un administrador la revisará y de ser aceptada, se te enviarán
            tus datos de acceso al correo que proporcionaste.
        </p>

        <br />
        <div>
            @Html.ActionLink("Volver", "In", "Log")
        </div>
    }
}
else if (ViewBag.errorPeticion)
{
    if (ViewBag.admin)
    {
        <p>
            Ocurrió un error, revisa que aún se tenga acceso a la cuenta de correo electrónico.
        </p>
    }
    else
    {
        <p>
            Ocurrió un error mientras procesábamos tu petición. Inténtalo de nuevo más tarde y si los errores persisten,
             <a href="/Request/General">contáctanos</a>.
        </p>

        <br />
        <br />
        <div>
            @Html.ActionLink("Volver", "Claim", "Request")
        </div>
    }
}
else
{
    if (!ViewBag.admin)
    {
        <p>
            Invitamos a los ex-competidores, asesores, líderes, organizadores y cualquier pesona que haya asistido
            a una Olimpiada Nacional a que actualice sus datos de contacto. Para ello, es necesario que se reclame
            uno de los usuarios ya existentes en el sistema.
        </p>
        <p>
            <!-- -TODO- Agregar enlace -->
            Todos los nombres de usuario son públicos, y pueden consultarse en la página 
            del perfil de cada usuario. Puedes buscarte por tu nombre para saber si tu perfil existe en nuestro sistema.
        </p>
        <p>
            <!-- -TODO- Agregar enlace -->
            Si ya te buscaste y no encuentras un perfil con tu nombre, y participaste en una Olimpiada Nacional,
            llena esta otra forma para informarnos al respecto.
        </p>
        <p>
            Es altamente recomendable que adjuntes a esta petición una foto o un scan de uno de los diplomas que hayas adquirido
            durante la olimpiada nacional, para asegurarnos de que realmente eres quien dice ser.
        </p>
        <p>
            Si estás pidiendo un usuario que ya fue asignado a otra persona o si intentas recuperar acceso a tu cuenta,
            es de suma importancia que nos demuestres tu identidad.
        </p>
    }

    <form name="requestAccess" id="requestAccess" action="/Request/Claim" method="post" enctype="multipart/form-data">
        <div>
            <input type="hidden" id="nombre" name="nombre" value="-"/>
            <div>
                <div class="label">Usuario reclamado:</div>
                <div class="input">
                    @Html.TextBoxFor(model => model.usuario, new {
                        @class = ViewBag.errorUsuario.Length == 0 ? "" : "input-validation-error" }) <!-- -TODO- Agregar enlace a buscar usuario -->
                    @if (ViewBag.errorUsuario.Length != 0)
                    {
                        <div class="errorTextoRojo">El usuario que escribiste no existe</div>
                    }
                </div>
            </div>
            <div>
                <div class="label">Correo electrónico:</div>
                <div class="input">
                    @Html.TextBoxFor(model => model.correo, new {
                        @class = ViewBag.errorMail.Length == 0 ? "" : "input-validation-error" })
                    @Html.ValidationMessageFor(model => model.correo)
                    @if (ViewBag.errorMail.Length != 0)
                    {
                        <div class="errorTextoRojo">Escribe un correo electrónico</div>
                    }
                </div>
            </div>
            @if (!ViewBag.admin)
            {
                <div>
                    <div class="label">Diploma: </div>
                    <div class="input">
                        <input type="file" name="file" id="file"
                            class="@(ViewBag.errorImagen.Length == 0 ? "" : "input-validation-error")" />
                        @if (ViewBag.errorImagen == "imagen_invalida")
                        {
                            <div class="errorTextoRojo">El archivo que enviaste no es una imagen</div>
                        }
                        @if (ViewBag.errorImagen == "imagen_muy_grande")
                        {
                            <div class="errorTextoRojo">El limite de tamaño para una imagen es 1MB</div>
                        }
                    </div>
                </div>
                <div>
                    <div class="biglabel">Dinos algo de ti que nos pueda ayudar a comprobar tu identidad <span class="opcional">(opcional)</span>:</div>
                    <br />
                    <div class="biginput">
                        <textarea id="informacion" name="informacion"
                            class="@(ViewBag.errorInfo.Length == 0 ? "" : "input-validation-error")">
                            @ViewBag.informacion
                        </textarea>
                        @if (ViewBag.errorInfo.Length != 0)
                        {
                           <div class="errorTextoRojo">El tamaño máximo es 300 caracteres</div>
                        }
                    </div>
                </div>

                <div>
                    <div>
                        <div class="g-recaptcha label" data-sitekey="@ViewBag.captchaKey"></div>
                    </div>
                    @if (ViewBag.errorCaptcha == true)
                    {
                        <div>
                            <div class="errorTextoRojo biglabel">Verifica que no eres un robot</div>
                        </div>
                    }
                </div>
            }
            <div>
                <div class="label">
                    <input type="submit" onclick="muestraLoadGifYSubmit('requestAccess')" value="@ViewBag.Title"/>
                    <img class="textoRojo" id='loading' src="~/img/ajax-loader.gif" />
                </div>
                <div class="input floatRight">
                    <a href="/Home"><input type="button" value="Cancelar" /></a>
                </div>
            </div>
        </div>
    </form>
}