@model OMIstats.Models.Peticion

@{
    ViewBag.Title = "Petición de acceso";
}

@section AddToHead {
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
}

@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js?hl=es-419' ></script>
}

<h2 class="titulo">Petición de acceso</h2>

@if (ViewBag.guardado)
{
    <div>
        Tu petición se guardó satisfactoriamente. Un administrador la revisará y te contestará de ser
        necesario.
    </div>
    <br />
    @Html.ActionLink("Regresar al inicio", "Index", "Olimpiadas")
}
else
{
    if (Model.subtipo == OMIstats.Models.Peticion.TipoPeticion.BAD_LINK)
    {
        <p>
            Lamentamos que no hayamos encontrado el perfil que te pertenece.
        </p>
        <p>
            Para poder asignarte el perfil correcto, por favor mándanos tus datos.
        </p>
    }

    using (@Html.BeginForm())
    {
        @Html.HiddenFor(model => model.subtipo)

        if (Model.subtipo == OMIstats.Models.Peticion.TipoPeticion.NO_ESTOY)
        {
            <div class="biglabel">
                <p>
                    <b>Si estás participando este año</b>, y estás buscando tus resultados,
                    lo puedes encontrar en
                    <a href="http://www.olimpiadadeinformatica.org.mx/OMI/Perfil/PaginaPersonal.aspx">tu página personal</a>.
                </p>
                <p>
                    Esta página es solo para agregar tus datos al histórico de olimpiadas nacionales
                    presenciales pasadas.
                </p>
            </div>
        }
 
        <div>
            <div class="label"> Nombre: </div>
            <div class="input"> @Html.EditorFor(model => model.datos1)
                @if (ViewBag.errorUsuario.Length != 0)
                {
                    <div class="errorTextoRojo">Escribe tu nombre</div>
                }
            </div>
        </div>

        <div>
            <div class="label"> Correo: </div>
            <div class="input"> @Html.EditorFor(model => model.datos2)
                @if (ViewBag.errorMail.Length != 0)
                {
                    <div class="errorTextoRojo">Escribe un correo electrónico válido</div>
                }
            </div>
        </div>

        <div>
            <div class="biglabel">
            @if (Model.subtipo == OMIstats.Models.Peticion.TipoPeticion.NO_ESTOY)
            {
                <p>
                    Infórmanos en qué olimpiada participaste, para cuál estado y con qué rol:
                </p>
                <p>
                    <b>IMPORTANTE</b>: Sólo podemos agregar a personas que han participado en
                    olimpiadas nacionales de forma presencial.
                </p>
            }
            @if (Model.subtipo == OMIstats.Models.Peticion.TipoPeticion.NO_ERROR)
            {
                <span>
                    Mándanos la página del perfil el cual crees que te pertenece:
                </span>
            }
            @if (Model.subtipo == OMIstats.Models.Peticion.TipoPeticion.ERROR)
            {
                <span>
                    Mándanos la página del perfil que crees que te pertenece, así
                    como los datos que debemos de actualizar en este perfil:
                </span>
            }
            @if (Model.subtipo == OMIstats.Models.Peticion.TipoPeticion.BAD_LINK)
            {
                <span>
                    Mándanos el perfil incorrecto que se te proporcionó y si tienes
                    la dirección del perfil correcto, también inclúyela aquí. Si no
                    la tienes, dinos en qué olimpiada participaste, así como tu rol
                    y a qué estado representaste.
                </span>
            }
            </div>
            <br />
            <div class="biginput"> @Html.TextAreaFor(model => model.datos3)
                @if (ViewBag.errorInfo.Length != 0)
                {
                    <div class="errorTextoRojo">Tu petición debe de ser de menos de 300 caracteres</div>
                }
            </div>
        </div>

        <div>
            <div>
                <div class="g-recaptcha label" data-sitekey="@ViewBag.captchaKey"></div>
            </div>
            @if (ViewBag.errorCaptcha == true)
            {
                <div>
                    <div class="errorTextoRojo biglabel">Verifica que no eres un robot</div>
                </div>
            }
        </div>

        <div class="label">
            <input type="submit" value="Mandar petición" />
        </div>
    }
}