@model List<OMIstats.Models.Peticion>
@using OMIstats.Models

@{
    ViewBag.Title = "Administrar peticiones";
}

@section AddToHead
{
    <link href="~/Content/request.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/formas.css" type="text/css" rel="stylesheet" />
}

@section Scripts
{
    <script>
        var quedan = "@Model.Count";
        var total = "@ViewBag.totalPeticiones";
    </script>
    <script src="~/js/general.js"></script>
    <script src="~/js/formas.js"></script>
    <script src="~/js/request.js"></script>
    <script src="~/js/admin.js"></script>
}

<h2 class="titulo">Lista de peticiones</h2>

@if (Model.Count == 0)
{
    <div class="clean">No queda ninguna petición</div>
}
else
{
    int counter = 0;

<table border="1">
    <thead>
        <tr>
            <th>
                Acciones
            </th>
            <th>
                Tipo de petición
            </th>
            <th>
                Usuario
            </th>
            <th>
                Petición
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4">
                <span>En esta página: <span id="quedan" class="negritas"> @Model.Count </span>  </span>
                <span class="right">Total: <span id="total" class="negritas"> @ViewBag.totalPeticiones </span></span>
            </td>
        </tr>
    </tfoot>
    @foreach (var item in Model)
    {
        string clase;
        if (counter % 2 == 0)
        {
            clase = "par";
        }
        else
        {
            clase = "impar";
        }
        counter++;
        <tr id='@("row" + @item.clave)' class="@clase">
            <td>
                @if (item.tipo == Peticion.TipoPeticion.GENERAL)
                {
                    <div class="biginput">
                        <textarea cols="20" id="@("correoRespuesta" + @item.clave)" rows="2"></textarea>
                    </div>
                    <a href="javascript:aprobar(@item.clave, '@Url.Content("~")')">Responder</a>
                }
                else if (item.subtipo == Peticion.TipoPeticion.NOMBRE || item.subtipo == Peticion.TipoPeticion.FOTO || item.subtipo == Peticion.TipoPeticion.APELLIDO_MATERNO || item.subtipo == Peticion.TipoPeticion.APELLIDO_PATERNO)
                {
                    <a href="javascript:aprobar(@item.clave, '@Url.Content("~")')">Aprobar</a>
                }
                <a class="errorTextoRojo" href="javascript:eliminar(@item.clave, '@Url.Content("~")')">Eliminar</a>
                <br />
                <div id='@("error" + @item.clave)' class="textoRojo">
                    Hubo un error, recarga la página e intenta de nuevo.
                </div>
                <img class="textoRojo" id='@("loading" + @item.clave)' src="~/img/ajax-loader.gif" />
            </td>

            @if (item.tipo == Peticion.TipoPeticion.USUARIO)
            {
                if (item.subtipo == Peticion.TipoPeticion.NOMBRE || item.subtipo == Peticion.TipoPeticion.APELLIDO_PATERNO || item.subtipo == Peticion.TipoPeticion.APELLIDO_MATERNO)
                {
                    <td class="negritas">
                        Cambio de nombre
                    </td>
                    <td>
                        @{
                            string nombre = "";
                            if (item.subtipo == Peticion.TipoPeticion.NOMBRE)
                            {
                                nombre = item.usuario.nombre;
                            }
                            if (item.subtipo == Peticion.TipoPeticion.APELLIDO_MATERNO)
                            {
                                nombre = item.usuario.apellidoMaterno;
                            }
                            if (item.subtipo == Peticion.TipoPeticion.APELLIDO_PATERNO)
                            {
                                nombre = item.usuario.apellidoPaterno;
                            }
                        }
                        @Html.ActionLink(nombre, "view", "Profile",
                        new { usuario = @item.usuario.usuario }, new { @class = "nombre", target = "_blank" })
                    </td>
                    <td>
                        <span class="negritas">Nuevo nombre:</span>
                        @Html.DisplayFor(modelItem => item.datos1)
                    </td>
                }
                else if (item.subtipo == Peticion.TipoPeticion.FOTO)
                {
                    <td class="negritas">
                        Cambio de foto
                    </td>
                    <td>
                        @Html.ActionLink(item.usuario.nombreCompleto, "view", "Profile",
                        new { usuario = @item.usuario.usuario }, new { @class = "nombre", target = "_blank" })
                    </td>
                    <td>
                        <a href='@Url.Content("~/img/temp/" + @item.datos1)' target="_blank" class="negritas">Nueva foto</a>
                    </td>
                }
                else
                {
                    <td class="negritas">
                        @item.subtipo
                    </td>
                    <td>
                        @Html.ActionLink(item.usuario.nombreCompleto, "view", "Profile",
                        new { usuario = @item.usuario.usuario }, new { @class = "nombre", target = "_blank" })
                    </td>
                    <td>
                        @item.datos3
                    </td>
                }
            }
            else if (item.tipo == Peticion.TipoPeticion.GENERAL)
            {
                <td class="negritas">
                    @item.subtipo
                </td>
                <td>
                    @item.datos1
                </td>
                <td>
                    @item.datos3
                </td>
            }
            else if (item.tipo == Peticion.TipoPeticion.LOGIN)
            {
                <td class="negritas">
                    Log in:
                    @if (item.subtipo == Peticion.TipoPeticion.NO_ESTOY)
                    {
                        <span>Usuario no está en el sistema</span>
                    }
                    @if (item.subtipo == Peticion.TipoPeticion.NO_ERROR)
                    {
                        <span>Sistema no hizo match</span>
                    }
                    @if (item.subtipo == Peticion.TipoPeticion.ERROR)
                    {
                        <span>Error en los datos de usuario</span>
                    }
                    @if (item.subtipo == Peticion.TipoPeticion.BAD_LINK)
                    {
                        <span>Sistema hizo match incorrecto</span>
                    }
                </td>
                <td>
                    <a href="mailto:@item.datos2">@item.datos1</a>
                </td>
                <td>
                    @item.datos3
                </td>
            }

        </tr>
    }
</table>

}

<br />
<a href="@Url.Content("~/Admin/Zombies")" class="boton botonOMI">Borrar Zombies</a>
<a href="@Url.Content("~/Admin/Scoreboard")" class="boton botonOMI">Scoreboard</a>
<a href="@Url.Content("~/Admin/Logs")" class="boton botonOMI">Logs</a>
<a href="@Url.Content("~/Registro/Select")" class="boton botonOMI">Registro</a>

<div class="clear">
</div>