@model List<OMIstats.Models.Peticion>
@using OMIstats.Models

@{
    ViewBag.Title = "Mis peticiones";
}

@section AddToHead
{
    <link href="~/Content/request.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/formas.css" type="text/css" rel="stylesheet" />
}

@section Scripts
{
    <script>
            var quedan = "@Model.Count";
    </script>
    <script src="~/js/general.js"></script>
    <script src="~/js/formas.js"></script>
    <script src="~/js/request.js"></script>
}

<h2 class="titulo">Mis peticiones</h2>

<div>Aqui puedes ver las peticiones que has hecho y que necesitan ser aprobadas por un administrador. Puedes eliminarlas si así lo deseas</div>

@{
    List<OMIstats.Models.Peticion> nombre = new List<OMIstats.Models.Peticion>();
    List<OMIstats.Models.Peticion> foto = new List<OMIstats.Models.Peticion>();
    List<OMIstats.Models.Peticion> otras = new List<OMIstats.Models.Peticion>();
}

@foreach (var item in Model)
{
    if (item.tipo == Peticion.TipoPeticion.USUARIO)
    {
        switch (item.subtipo)
        {
            case Peticion.TipoPeticion.NOMBRE:
                {
                    nombre.Add(item);
                    break;
                }
            case Peticion.TipoPeticion.FOTO:
                {
                    foto.Add(item);
                    break;
                }
            default:
                {
                    otras.Add(item);
                    break;
                }
        }
    }
}


@if (nombre.Count == 0 && foto.Count == 0 && otras.Count == 0)
{
    <div class="clean">No tienes ninguna petición</div>
}
else
{
    if (nombre.Count > 0)
    {
        
    <h3>Cambio de nombre</h3>

    <table>

        <tr>
            <th>Nombre actual</th>
            <th>Nuevo nombre</th>
            <th></th>
        </tr>

        @foreach(var item in nombre)
        {
            <tr id='@("row" + item.clave)'>
                <td class="tdNombre">
                    @ViewBag.usuario.nombre
                </td>
                <td class="tdNombre">
                    @Html.DisplayFor(model => item.datos1)
                </td>
                <td>
                    <a href="javascript:eliminar(@item.clave, '@Url.Content("~")')">Eliminar</a>
                    <img class="textoRojo" id='@("loading" + @item.clave)' src="~/img/ajax-loader.gif" />
                    <div id='@("error" + @item.clave)' class="textoRojo">
                    Hubo un error. Inténtalo más tarde.
                    </div>
                </td>
            </tr>
        }

    </table>
    }

    if (foto.Count > 0)
    {
        
    <h3>Cambio de foto</h3>

    <table>

        <tr>
            <th>Foto actual</th>
            <th>Nueva foto</th>
            <th></th>
        </tr>

        @foreach (var item in foto)
        {
            <tr id='@("row" + @item.clave)'>
                <td class="tdFoto">
                    <img src='@Url.Content(ViewBag.usuario.foto)' alt="foto"/>
                </td>
                <td class="tdFoto">
                    <img src='@Url.Content("~/img/temp/" + item.datos1)' alt="foto"/>
                </td>
                <td>
                    <a href="javascript:eliminar(@item.clave, '@Url.Content("~")')">Eliminar</a>
                    <img class="textoRojo" id='@("loading" + @item.clave)' src="~/img/ajax-loader.gif" />
                    <div id='@("error" + @item.clave)' class="textoRojo">
                    Hubo un error. Inténtalo más tarde.
                    </div>
                </td>
            </tr>
        }

    </table>
    }

    if (otras.Count > 0)
    {

    <h3>Peticiones de perfil</h3>

    <table>

        <tr>
            <th>Tipo de petición</th>
            <th>Mensaje</th>
            <th></th>
        </tr>

        @foreach (var item in otras)
        {
            <tr id='@("row" + @item.clave)'>
                <td class="tdNombre">
                    @(item.subtipo.ToString().Replace("_", " "))
                </td>
                <td class="tdNombre">
                    @(item.datos3)
                </td>
                <td>
                    <a href="javascript:eliminar(@item.clave, '@Url.Content("~")')">Eliminar</a>
                    <img class="textoRojo" id='@("loading" + @item.clave)' src="~/img/ajax-loader.gif" />
                    <div id='@("error" + @item.clave)' class="textoRojo">
                    Hubo un error. Inténtalo más tarde.
                    </div>
                </td>
            </tr>
        }

    </table>
    }
}

<br />
@Html.ActionLink("Regresar a tu perfil", "view", "Profile")