@model OMIstats.Models.Institucion

@section AddToHead
{
    <link href="~/Content/profile.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/formas.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/escuelas.css" type="text/css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Institución";
}

<h2 class="titulo">Institución</h2>

<div class="logoEscuela" >
    <img src="@Url.Content("~/img/escuelas/" + Model.logo)"/>
</div>

<div class="datosEscuela">
    <div>
        <div class="labelEscuela">
            Nombre oficial: <b> @Model.nombre </b>
        </div>
    </div>

    <div>
        <div class="labelEscuela">
            Nombre corto o siglas: @Model.nombreCorto
        </div>
    </div>

    @if (Model.URL != null && Model.URL.Length > 0)
    {
        <div>
            <div class="labelEscuela">
                Página web: <a href="@Model.URL" target="_blank"> @Model.URL </a>
            </div>
        </div>
    }

    @if (Model.primaria || Model.secundaria || Model.preparatoria || Model.universidad)
    {
        <div>
            <div class="labelEscuela">
                Nivel educativo:
                @if (Model.primaria)
                {
                    <span>Primaria</span>
                    if (Model.secundaria || Model.preparatoria || Model.universidad)
                    {
                        <span>|</span>
                    }
                }

                @if (Model.secundaria)
                {
                    <span>Secundaria</span>
                    if (Model.preparatoria || Model.universidad)
                    {
                        <span>|</span>
                    }
                }

                @if (Model.preparatoria)
                {
                    <span>Preparatoria</span>
                    if (Model.universidad)
                    {
                        <span>|</span>
                    }
                }

                @if (Model.universidad)
                {
                    <span>Universidad</span>
                }

            </div>
        </div>
    }

    <div>
        <div class="labelEscuela">
            Escuela Pública:
            @if (Model.publica)
            {
                <span>Sí</span>
            }
            else
            {
                <span>No</span>
            }
        </div>
    </div>

</div>

<div class="clear">

</div>

