@model OMIstats.Models.Persona

@{
    bool nuevo = ViewBag.nuevo;
    ViewBag.Title = nuevo ? "Registro" : "Modificar";
    OMIstats.Models.Persona usuario = ViewBag.usuario;
    OMIstats.Models.Estado estado = ViewBag.estado;
    OMIstats.Models.Olimpiada omi = ViewBag.omi;
    bool registroActivo = ViewBag.registroActivo;
}

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/registro.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/fechas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
}

@section Scripts
{
    <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script src="~/js/fechas.js""></script>
    <script src="~/js/formas.js"></script>
    <script src="~/js/profile.js"></script>
    <script src="~/js/registro.js"></script>
    <script>
        setUpAjax("@(Url.Content("~"))" + "Registro/", "@(usuario.esSuperUsuario() ? "" : estado.clave)", "@omi.numero");
    </script>
}

<h1 class="titulo">@ViewBag.Title</h1>

<div id="registro" class="registro-container">
    <div>Busca una persona, elige a alguien de la lista de abajo o registra a alguien nuevo.</div>
    <div><input type="text" id="nombre" class="input-name"/><input id="buscar" type="submit" value="Buscar" onclick="buscar()"/></div>
    <ul id="tablaRegistro" style="display:none">
        @for(int i = 0; i < 10; i++)
        {
            <li style="display:none" id="@("resultados" + i)"><a class="a-sin-href"></a></li>
        }
        <li id="mas10" style="display:none" class="mas10">Mostrando solo los primeros 10 resultados</li>
    </ul>
    <div id="info" style="display:none" class="redefine">Si no encuentras a quien buscas, redefine tu búsqueda</div>
    <div id="noResults" style="display:none" class="loading errorTextoRojo">No se encontraron resultados</div>
    <div id="errorSearching" class="loading errorTextoRojo" style="display:none">Se produjo un error, por favor contacta a un administrador o a un miembro del COMI</div>
    <img id="searching" src="@(Url.Content("~/img/ajax-loader.gif"))" style="display:none" class="loading"/>
</div>

<form name="asistente" id="asistente" action="~/Registro/Asistente" method="post" enctype="multipart/form-data">
    <div class="datosParticipante">
        <div>
            <div class="label">Nombre(s):</div>
            <div class="input">
                @Html.TextBoxFor(model => model.nombre)
                @Html.ValidationMessageFor(model => model.nombre)
            </div>
        </div>
        <div>
            <div class="label">Apellido paterno:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.apellidoPaterno)
                @Html.ValidationMessageFor(model => model.apellidoPaterno)
            </div>
        </div>
        <div>
            <div class="label">Apellido materno:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.apellidoMaterno)
                @Html.ValidationMessageFor(model => model.apellidoMaterno)
            </div>
        </div>
        <div>
            <div class="label">Sexo:</div>
            <div class="input">
                <select id="genero" name="genero">
                    <option value="M" @(Model.genero == "M" ? "selected" : "")>Masculino</option>
                    <option value="F" @(Model.genero == "F" ? "selected" : "")>Femenino</option>
                </select>
            </div>
        </div>
        <div>
            <div class="label">Fecha de nacimiento:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.nacimiento, "{0:dd/MM/yyyy}")
                @Html.ValidationMessageFor(model => model.nacimiento, "No escribiste una fecha válida")
            </div>
        </div>
        <div>
            <div class="label">Correo electrónico:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.correo, new { @class = "inputLarge" })
                @Html.ValidationMessageFor(model => model.correo)
            </div>
        </div>
        <div>
            <div class="label">Id de OmegaUp:</div>
            <div class="input">
                https://omegaup.com/profile/@Html.TextBoxFor(model => model.omegaup, new { @class = "inputOmegaUp" })
                @Html.ValidationMessageFor(model => model.omegaup)
            </div>
        </div>

        <div>
            <div class="fotoReg">
                <img src='@(@Model.foto.Length > 0 ? Url.Content(@Model.foto) : "")' alt="@Model.nombreCompleto"/>
            </div>
            <div class="label">Sube una foto:</div>
            <div class="input">
                <input type="file" name="file" id="file"
                    class="@(ViewBag.errorImagen.Length == 0 ? "" : "input-validation-error")"/>
                @if (ViewBag.errorImagen == "imagen_invalida")
                {
                    <div class="errorTextoRojo">El archivo que enviaste no es una imagen</div>
                }
                else if (ViewBag.errorImagen == "imagen_muy_grande")
                {
                    <div class="errorTextoRojo">El limite de tamaño para una imagen es 300KB</div>
                }
            </div>
        </div>

        <input id="clave" name="clave" type="hidden" value="@Model.clave" />

        <div>
            <div class="label">
                <input type="submit" onclick="revisa()" value="Enviar"/>
                <img class="textoRojo" id="loading" src="~/img/ajax-loader.gif" />
            </div>
            <div class="input floatRight">
                <a href="~/Registro/Delegacion"><input type="button" value="Cancelar" /></a>
            </div>
        </div>
    </div>
</form>
<div class="clear"></div>