@model OMIstats.Models.Persona

@{
    bool nuevo = ViewBag.nuevo;
    ViewBag.Title = nuevo ? "Registro" : "Modificar";
    OMIstats.Models.Persona usuario = ViewBag.usuario;
    OMIstats.Models.Estado estado = ViewBag.estado;
    OMIstats.Models.Olimpiada omi = ViewBag.omi;
    OMIstats.Models.TipoOlimpiada tipo = ViewBag.tipo;
    List<OMIstats.Models.Estado> estados = ViewBag.estados;
    bool registroActivo = ViewBag.registroActivo;
    bool esSede = estado != null && omi.claveEstado == estado.clave;
    OMIstats.Models.MiembroDelegacion md = ViewBag.md;
    string claveEstado = estado != null ? estado.clave : md != null ? md.estado : "";
    string claveCompetidor = md != null && md.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.COMPETIDOR ? md.clave : "";
    OMIstats.Models.MiembroDelegacion.TipoAsistente tipoAsistente = md != null ? md.tipo : OMIstats.Models.MiembroDelegacion.TipoAsistente.NULL;
    bool mostrarClaveCbo = tipoAsistente == OMIstats.Models.MiembroDelegacion.TipoAsistente.COMPETIDOR ||
                            (!usuario.esSuperUsuario() && tipo != OMIstats.Models.TipoOlimpiada.NULL 
                            && tipoAsistente == OMIstats.Models.MiembroDelegacion.TipoAsistente.NULL);
}

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/registro.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/fechas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
}

@section Scripts
{
    <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script src="~/js/fechas.js"></script>
    <script src="~/js/formas.js"></script>
    <script src="~/js/profile.js"></script>
    <script src="~/js/registro.js"></script>
    <script>
        var OMI_minimo = @(DateTime.Today.Year - 80);
        var OMI_maximo = @(DateTime.Today.Year - 6);
        var currentClave = "@claveCompetidor";
        var estadoSede = "@OMIstats.Models.Estado.obtenerEstadoConClave(omi.claveEstado).ISO";
        var updating = @(md == null ? "false" : "true");
        setUpAjax("@(Url.Content("~"))" + "Registro/", "@(usuario.esSuperUsuario() ? "" : estado.clave)", "@omi.numero");
        setUpSearch("@tipo");
    </script>
}

<h1 class="titulo">@ViewBag.Title</h1>

@if (md == null)
{
<div id="busqueda" class="panel">
    <div class="panel-heading"> Buscar participantes de años anteriores </div>
    <div class="panel-body">
        <div class="registro-controls">
            <input type="text" id="nombreBuscar" class="shiny-box grow-input" placeholder="Buscar por nombre"/>
            <button class="boton-registro" id="buscar" type="submit" onclick="buscar()">Buscar</button>
        </div>
        <ul id="tablaRegistro" style="display:none">
            @for(int i = 0; i < 10; i++)
            {
                <li style="display:none" id="@("resultados" + i)"><a class="a-sin-href" onclick="personaSeleccionada(this)"></a></li>
            }
            <li id="mas10" style="display:none" class="mas10">Mostrando solo los primeros 10 resultados</li>
        </ul>
        <div id="info" style="display:none" class="redefine">Si no encuentras a quien buscas, redefine tu búsqueda</div>
        <div id="noResults" style="display:none" class="loading errorTextoRojo">No se encontraron resultados</div>
        <div id="errorSearching" class="loading errorTextoRojo" style="display:none">Se produjo un error, por favor contacta a un administrador o a un miembro del COMI</div>
        <img id="searching" src="@(Url.Content("~/img/ajax-loader.gif"))" style="display:none" class="loading"/>
    </div>
</div>
}
<form name="asistente" id="asistente" action="~/Registro/Asistente" method="post" enctype="multipart/form-data">
<div class="panel panel-green datos-padding">
    <div class="panel-heading panel-heading-green">Datos del participante</div>
    <div class="panel-body">
    <div class="registro-controls">
        <div class="registro-single-control">
            <span class="control-title">Concurso<span class="errorTextoRojo">*</span></span>
            <select id="tipo" class="shiny-box" @(usuario.esSuperUsuario() ? "" : "disabled")>
                <option value="OMI" @(tipo == OMIstats.Models.TipoOlimpiada.OMI ? "selected" : "")>OMI</option>
                <option value="OMIS" @(tipo == OMIstats.Models.TipoOlimpiada.OMIS ? "selected" : "")>OMI Secundarias</option>
                <option value="OMIP" @(tipo == OMIstats.Models.TipoOlimpiada.OMIP ? "selected" : "")>OMI Primarias</option>
            </select>
        </div>
        <div class="registro-single-control"></div>
        <div class="registro-single-control"></div>
    </div>
    <div class="registro-controls">
        <div class="registro-single-control">
            <span class="control-title">Participar como<span class="errorTextoRojo">*</span></span>
            <select id="tipoAsistente" class="shiny-box" @(usuario.esSuperUsuario() || tipo == OMIstats.Models.TipoOlimpiada.NULL ? "" : "disabled")>
                <option value=""></option>
                @if (usuario.esSuperUsuario() || tipo != OMIstats.Models.TipoOlimpiada.NULL)
                {
                <option value="COMPETIDOR" @(tipoAsistente == OMIstats.Models.MiembroDelegacion.TipoAsistente.COMPETIDOR || (!usuario.esSuperUsuario() && tipo != OMIstats.Models.TipoOlimpiada.NULL) ? "selected" : "")>Competidor</option>
                }
                <option value="LIDER" @(tipoAsistente == OMIstats.Models.MiembroDelegacion.TipoAsistente.LIDER ? "selected" : "")>Líder</option>
                <option value="DELEGADO" @(tipoAsistente == OMIstats.Models.MiembroDelegacion.TipoAsistente.DELEGADO ? "selected" : "")>Delegado</option>
                <option value="ASESOR" @(tipoAsistente == OMIstats.Models.MiembroDelegacion.TipoAsistente.ASESOR ? "selected" : "")>Asesor</option>
                <option value="INVITADO" @(tipoAsistente == OMIstats.Models.MiembroDelegacion.TipoAsistente.INVITADO ? "selected" : "")>Invitado</option>
                @if (usuario.esSuperUsuario())
                {
                <option value="COMI" @(tipoAsistente == OMIstats.Models.MiembroDelegacion.TipoAsistente.COMI ? "selected" : "")>COMI</option>
                <option value="COLO" @(tipoAsistente == OMIstats.Models.MiembroDelegacion.TipoAsistente.COLO ? "selected" : "")>Comité local</option>
                }
                @if (usuario.esAdmin())
                {
                <option value="DELELIDER" @(tipoAsistente == OMIstats.Models.MiembroDelegacion.TipoAsistente.DELELIDER ? "selected" : "")>Delegado y líder</option>
                <option value="SUBLIDER" @(tipoAsistente == OMIstats.Models.MiembroDelegacion.TipoAsistente.SUBLIDER ? "selected" : "")>Sublider</option>
                }
            </select>
        </div>
        <div class="registro-single-control">
            <span class="control-title">Estado al que representa<span class="errorTextoRojo">*</span></span>
            <select id="estado" class="shiny-box" @(usuario.esSuperUsuario() ? "" : "disabled")>
                <option value=""></option>
            @for (int i = 0; i < estados.Count; i++)
            {
                OMIstats.Models.Estado e = estados[i];
                <option value="@e.clave" @(e.clave == claveEstado ? "selected" : "")>@(e.nombre)</option>
            }
            </select>
        </div>
        <div class="registro-single-control" id="campoClave" style="@(mostrarClaveCbo ? "" : "opacity:0")">
            <span class="control-title">Clave<span class="errorTextoRojo">*</span></span>
            <select id="claveSelect" class="shiny-box" @(mostrarClaveCbo ? "" : "disabled")>
            @if (estado != null)
            {
                for (int i = 1; i <= (esSede ? 8 : 4); i++)
                {
                <option value="@(estado.ISO + "-" + i)" @(claveCompetidor.EndsWith(i.ToString()) ? "selected" : "")>@(estado.ISO + "-" + i)</option>
                }
            }
            </select>
        </div>
    </div>
    <div class="registro-controls">
        <div class="registro-single-control">
            <span class="control-title">Nombre(s)<span class="errorTextoRojo">*</span></span>
            @Html.TextBoxFor(model => model.nombre, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.nombre)
        </div>
        <div class="registro-single-control">
            <span class="control-title">Apellido Paterno<span class="errorTextoRojo">*</span></span>
            @Html.TextBoxFor(model => model.apellidoPaterno, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.apellidoPaterno)
        </div>
        <div class="registro-single-control">
            <span class="control-title">Apellido Materno<span class="errorTextoRojo">*</span></span>
            @Html.TextBoxFor(model => model.apellidoMaterno, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.apellidoMaterno)
        </div>
    </div>
    <div class="registro-controls">
        <div class="registro-single-control">
            <span class="control-title">Sexo<span class="errorTextoRojo">*</span></span>
            <select id="genero" name="genero" class="shiny-box">
                <option value=""></option>
                <option value="M" @(Model.genero == "M" ? "selected" : "")>Masculino</option>
                <option value="F" @(Model.genero == "F" ? "selected" : "")>Femenino</option>
            </select>
        </div>
        <div class="registro-single-control">
            <span class="control-title">Fecha de nacimiento<span class="errorTextoRojo">*</span></span>
            @Html.TextBoxFor(model => model.nacimiento, "{0:dd/MM/yyyy}", new { @class="shiny-box" })
            @Html.ValidationMessageFor(model => model.nacimiento, "No escribiste una fecha válida")
        </div>
        <div class="registro-single-control"></div>
    </div>
    <div class="registro-controls">
        <div class="registro-single-control">
            <span class="control-title">Correo electrónico<span class="errorTextoRojo">*</span></span>
            @Html.TextBoxFor(model => model.correo, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.correo)
        </div>
        <div class="registro-single-control">
            <span class="control-title">Celular<span class="errorTextoRojo">*</span></span>
            @Html.TextBoxFor(model => model.celular, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.celular)
        </div>
        <div class="registro-single-control">
            <span class="control-title">Teléfono</span>
            @Html.TextBoxFor(model => model.telefono, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.telefono)
        </div>
    </div>
    <div class="registro-controls">
        <div class="registro-single-control">
            <span class="control-title">Dirección</span>
            @Html.TextBoxFor(model => model.direccion, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.direccion)
        </div>
    </div>
    <div class="registro-controls">
        <div class="registro-single-control">
            <span class="control-title">Usuario de OmageUp</span>
            @Html.TextBoxFor(model => model.omegaup, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.omegaup)
        </div>
        <div class="registro-single-control">
            <span class="control-title">Foto <span style="font-weight:normal">(300KB max)</span></span>
            <input type="file" name="file" id="file"
                    class="@(ViewBag.errorImagen.Length == 0 ? "" : "input-validation-error")"/>
                @if (ViewBag.errorImagen == "imagen_invalida")
                {
                    <div class="errorTextoRojo">El archivo que enviaste no es una imagen</div>
                }
                else if (ViewBag.errorImagen == "imagen_muy_grande")
                {
                    <div class="errorTextoRojo">El limite de tamaño para una imagen es 300KB</div>
                }
        </div>
        <div class="registro-single-control"></div>
    </div>
</div>
</div>
<div class="panel">
    <div class="panel-heading"> Datos de emergencia </div>
    <div class="panel-body">
    <div class="registro-controls">
        <div class="registro-single-control">
            <span class="control-title">Nombre del contacto de emergencia<span class="errorTextoRojo">*</span></span>
            @Html.TextBoxFor(model => model.emergencia, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.emergencia)
        </div>
        <div class="registro-single-control">
            <span class="control-title">Parentesco</span>
            @Html.TextBoxFor(model => model.parentesco, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.parentesco)
        </div>
        <div class="registro-single-control">
            <span class="control-title">Teléfono de emergencia<span class="errorTextoRojo">*</span></span>
            @Html.TextBoxFor(model => model.telEmergencia, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.telEmergencia)
        </div>
    </div>
    <div class="registro-controls">
        <div class="registro-single-control">
            <span class="control-title">Medicina especial</span>
            @Html.TextBoxFor(model => model.medicina, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.medicina)
        </div>
    </div>
    <div class="registro-controls">
        <div class="registro-single-control">
            <span class="control-title">Alergias</span>
            @Html.TextBoxFor(model => model.alergias, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.alergias)
        </div>
    </div>
    </div>
</div>
<input id="persona" name="persona" type="hidden" value="@Model.clave" />
<input id="claveOriginal" name="claveOriginal" type="hidden" value="@claveCompetidor" />
<div class="boton-guardar">
    <button id="botonGuardar" type="submit" onclick="revisa()" class="boton-registro">Guardar</button>
    <img class="textoRojo" id="loading" src="~/img/ajax-loader.gif" />
</div>
</form>
<div class="clear"></div>