@model List<OMIstats.Models.MiembroDelegacion>

@section AddToHead
{
    <link href="~/Content/registro.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/registro.js"></script>
}

@{
    OMIstats.Models.Persona usuario = ViewBag.usuario;
    OMIstats.Models.Estado estado = ViewBag.estado;
    OMIstats.Models.Olimpiada omi = ViewBag.omi;
    bool registroActivo = ViewBag.registroActivo;
    int competidoresProcesados = 0;
    string lastEstado = "";
    string[] subTitulos = {
        "Competidores de OMI",
        "Competidores de primaria",
        "Competidores de secundaria",
        "Líderes, asesores e invitados"
    };
    OMIstats.Models.TipoOlimpiada[] tipos = {
        OMIstats.Models.TipoOlimpiada.OMI,
        OMIstats.Models.TipoOlimpiada.OMIP,
        OMIstats.Models.TipoOlimpiada.OMIS,
        OMIstats.Models.TipoOlimpiada.NULL
    };
    if (usuario.esSuperUsuario())
    {
        ViewBag.Title = "Registro";
    } else {
        ViewBag.Title = "Registro de delegación: " + estado.nombre;
    }
}

<h1 class="titulo">@ViewBag.Title</h1>

<div id="registro" class="registro-container" style="display:none">
    <div>Busca una persona o elige a alguien de la lista de abajo</div>
    <div><input type="text" id="nombre" class="input-name"/><input type="button" value="Buscar"/></div>
    <table id="tablaRegistro" style="display:none">
        <tr><td>TEST</td></tr>
    </table>
    <img id="loading" src="@(Url.Content("~/img/ajax-loader.gif"))" style="display:none" class="loading"/>
</div>

<table>
@for(int i = 0; i < tipos.Length; i++)
{
    if (!usuario.esSuperUsuario())
    {
        <tr><td class="titulo-registro" colspan="2">@subTitulos[i]</td></tr>
    }
    competidoresProcesados = 0;
    foreach (OMIstats.Models.MiembroDelegacion miembro in Model)
    {
        if (usuario.esSuperUsuario() || (miembro.tipoOlimpiada == tipos[i] && miembro.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.COMPETIDOR) || (tipos[i] == OMIstats.Models.TipoOlimpiada.NULL && miembro.tipo != OMIstats.Models.MiembroDelegacion.TipoAsistente.COMPETIDOR))
        {
            competidoresProcesados++;
            if (!usuario.esSuperUsuario() && (miembro.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.COMI || miembro.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.COLO))
            {
                continue;
            }
    <tr>
            @if (usuario.esSuperUsuario())
            {
        <td>
                @if (lastEstado != miembro.estado)
                {
                    @OMIstats.Models.Estado.obtenerEstadoConClave(miembro.estado).nombre
                    lastEstado = miembro.estado;
                }
        </td>
            }
        <td class="lineas-registro">
            @miembro.nombreAsistente
        </td>
        <td class="lineas-registro clave-registro">
            @if (miembro.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.COMPETIDOR)
            {
            @miembro.clave
            }
            else
            {
            @miembro.tipo
            }
        </td>
        <td>
            <a href="~/Views/Olimpiada/Index">Modificar</a>
            @if (usuario.esAdmin() || registroActivo)
            {
            <a href="~/Views/Olimpiada/Index">Eliminar</a>
            }
        </td>
    </tr>
        }
    }
    if (competidoresProcesados == 0)
    {
    <tr><td class="lineas-registro no-registrados" colspan="2">No se ha registrado a nadie</td></tr>
    }
    if(usuario.esAdmin() || registroActivo)
    {
        if (usuario.esSuperUsuario() || competidoresProcesados < 4 || (estado.clave == omi.claveEstado && competidoresProcesados < 8))
        {
    <tr><td class="lineas-registro" colspan="2">
        <a onclick="muestraRegistro('@tipos[i]')" class="a-sin-href">Registrar</a>
    </td></tr>
        }
    }
    if (usuario.esSuperUsuario())
    {
        break;
    }
}
</table>