@model List<OMIstats.Models.MiembroDelegacion>

@section AddToHead
{
    <link href="~/Content/registro.css" type="text/css" rel="stylesheet" />
}

@{
    OMIstats.Models.Persona usuario = ViewBag.usuario;
    OMIstats.Models.Estado estado = ViewBag.estado;
    OMIstats.Models.TipoOlimpiada ultimoTipo = OMIstats.Models.TipoOlimpiada.NULL;
    bool procesandoCompetidores = true;
    int competidoresProcesados = 0;
    string lastEstado = "";
    if (usuario.esSuperUsuario())
    {
        ViewBag.Title = "Registro";
    } else {
        ViewBag.Title = "Registro de delegación: " + estado.nombre;
    }
}

<h1 class="titulo">@ViewBag.Title</h1>

<table>
@foreach (OMIstats.Models.MiembroDelegacion miembro in Model)
{
    if (!usuario.esSuperUsuario())
    {
        if (miembro.tipoOlimpiada != ultimoTipo)
        {
            if (ultimoTipo != OMIstats.Models.TipoOlimpiada.NULL && competidoresProcesados == 0)
            {
    <tr><td>No se han registrado competidores</td></tr>
            }
            ultimoTipo = miembro.tipoOlimpiada;
            procesandoCompetidores = true;
            competidoresProcesados = 0;
    <tr><td class="titulo-registro" colspan="2">Competidores de @ultimoTipo</td></tr>
        }
        competidoresProcesados++;
        if (miembro.tipo != OMIstats.Models.MiembroDelegacion.TipoAsistente.COMPETIDOR && procesandoCompetidores)
        {
            procesandoCompetidores = false;
    <tr><td class="titulo-registro" colspan="2">Líderes, asesores e invitados</td></tr>
        }
    }
    if (!usuario.esSuperUsuario() && (miembro.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.COMI || miembro.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.COLO))
    {
        continue;
    }
    <tr>
         @if (usuario.esSuperUsuario())
         {
        <td>
            @if (lastEstado != miembro.estado)
            {
                @OMIstats.Models.Estado.obtenerEstadoConClave(miembro.estado).nombre
                lastEstado = miembro.estado;
            }
        </td>
         }
        <td class="lineas-registro">
            @miembro.nombreAsistente
        </td>
        <td class="lineas-registro clave-registro">
            @if (miembro.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.COMPETIDOR)
            {
            @miembro.clave
            }
            else
            {
            @miembro.tipo
            }
        </td>
        <td class="lineas-registro">

        </td>
    </tr>
}

</table>