@model List<OMIstats.Models.MiembroDelegacion>

@{
    OMIstats.Models.Persona usuario = ViewBag.usuario;
    OMIstats.Models.Estado estado = ViewBag.estado;
    OMIstats.Models.Olimpiada omi = ViewBag.omi;
    List<OMIstats.Models.SedeOnline> sedes = ViewBag.sedes;
    Dictionary<int, List<OMIstats.Models.MiembroDelegacion>> miembrosPorSede = ViewBag.miembrosPorSede;
    bool registroActivo = ViewBag.registroActivo;
    int competidoresProcesados = 0;
    string lastEstado = "";
    bool hayResultados = ViewBag.hayResultados;
    bool errorPermisos = ViewBag.permisos;
    string[] subTitulos = {
        "Competidores de categoría OMI",
        "Competidores de categoría Primaria",
        "Competidores de categoría Secundaria",
        "Líderes, asesores e invitados"
    };
    OMIstats.Models.TipoOlimpiada[] tipos = {
        OMIstats.Models.TipoOlimpiada.OMI,
        OMIstats.Models.TipoOlimpiada.OMIP,
        OMIstats.Models.TipoOlimpiada.OMIS,
        OMIstats.Models.TipoOlimpiada.NULL
    };
    if (errorPermisos)
    {
        ViewBag.Title = "Error";
    }
    else if (usuario.esSuperUsuario())
    {
        ViewBag.Title = "Registro";
    }
    else
    {
        ViewBag.Title = "Registro de delegación: " + estado.nombre;
    }
}

@section AddToHead
{
    <link href="~/Content/registro.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/registro.js"></script>
    @if (!errorPermisos)
    {
    <script>
        setUpAjax("@(Url.Content("~"))" + "Registro/", "@(usuario.esSuperUsuario() ? "" : estado.clave)", "@omi.numero");
    </script>
    }
}

<h1 class="titulo">@ViewBag.Title</h1>

@if (errorPermisos)
{
    <div class="errorTextoRojo"> No tienes permisos para realizar esta acción </div>
    @Html.ActionLink("Volver", "Select", "Registro", new { }, new { })
} else
{
<table>
@for (int i = 0; i < tipos.Length; i++)
{
    if (!usuario.esSuperUsuario())
    {
    <tr><td class="titulo-registro" colspan="2">@subTitulos[i]</td></tr>
    }
    competidoresProcesados = 0;
    foreach (OMIstats.Models.MiembroDelegacion miembro in Model)
    {
        if (usuario.esSuperUsuario() || (miembro.tipoOlimpiada == tipos[i] && miembro.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.COMPETIDOR) || (tipos[i] == OMIstats.Models.TipoOlimpiada.NULL && miembro.tipo != OMIstats.Models.MiembroDelegacion.TipoAsistente.COMPETIDOR))
        {
            if (!usuario.esSuperUsuario() && (miembro.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.COMI || miembro.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.COLO))
            {
                continue;
            }
            competidoresProcesados++;
    <tr>
            @if (usuario.esSuperUsuario())
            {
        <td>
                @if (lastEstado != miembro.estado)
                {
                    @OMIstats.Models.Estado.obtenerEstadoConClave(miembro.estado).nombre
                    lastEstado = miembro.estado;
                }
        </td>
            }
        <td class="lineas-registro">
            @miembro.nombreAsistente
            @if(usuario.esSuperUsuario() && miembro.puedeRegistrar)
            {
            <img src="~/img/info.svg" title="Puede regsitrar" class="info-svg"/>
            }
            @if(omi.esOnline && miembro.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.COMPETIDOR && miembro.sede <= 0)
            {
            <img src="~/img/info.svg" title="Competidor no tiene sede" class="info-svg info-red"/>
            }
        </td>
        @if (usuario.esSuperUsuario())
        {
        <td class="lineas-registro clave-registro">
            @if (miembro.tipoOlimpiada != OMIstats.Models.TipoOlimpiada.OMI && miembro.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.COMPETIDOR)
            {
                @(miembro.tipoOlimpiada)
            }
        </td>
        }
        <td class="lineas-registro clave-registro">
            @if (usuario.esAdmin() || miembro.tipo == OMIstats.Models.MiembroDelegacion.TipoAsistente.COMPETIDOR)
            {
            @miembro.clave
            }
            else
            {
            @miembro.tipo
            }
        </td>
        <td>
            <a onclick="iniciaRegistro('@miembro.tipoOlimpiada', '@miembro.clave')" class="a-sin-href">Modificar</a>
            @if (!hayResultados && (usuario.esSuperUsuario() || registroActivo))
            {
            <a onclick="eliminarUsuario('@miembro.tipoOlimpiada', '@miembro.clave', '@miembro.nombreAsistente')" class="a-sin-href">Eliminar</a>
            }
        </td>
    </tr>
        }
    }
    if (competidoresProcesados == 0)
    {
    <tr><td class="lineas-registro no-registrados" colspan="2">No se ha registrado a nadie</td></tr>
    }
    if (usuario.esAdmin() || registroActivo)
    {
        if (usuario.esSuperUsuario() || tipos[i] == OMIstats.Models.TipoOlimpiada.NULL || competidoresProcesados < omi.getMaxParticipantesDeEstado(estado.clave))
        {
    <tr><td>
        <a onclick="iniciaRegistro('@tipos[i]')" class="a-sin-href">Registrar</a>
    </td>
        @if (usuario.esSuperUsuario())
        {
            <td>
            @Html.ActionLink("Bajar csv", "GetCSV", "Registro", new { omi = omi.numero }, new { })
            </td>
        }
    </tr>
        }
    }
    if (usuario.esSuperUsuario())
    {
        break;
    }
}
</table>

if (omi.esOnline)
{
<h1 class="titulo">Sedes</h1>
    if (sedes.Count == 0)
    {
<div class="no-registrados"> No se han registrado sedes </div>
    }
    else
    {
<table>
    <tr>
        @if (usuario.esSuperUsuario())
        {
        <td class="titulo-registro">Estado</td>
        }
        <td class="titulo-registro">Sede</td>
        @if (usuario.esSuperUsuario())
        {
        <td class="titulo-registro">Supervisor</td>
        <td class="titulo-registro">Teléfono</td>
        <td class="titulo-registro">Correo</td>
        }
        <td class="titulo-registro">Competidores en sede</td>
        <td></td>
    </tr>
        @for (int i = 0; i < sedes.Count; i++)
        {
            List<OMIstats.Models.MiembroDelegacion> miembrosEnSede = miembrosPorSede[sedes[i].clave];
    <tr>
           @if (usuario.esSuperUsuario())
           {
        <td class="lineas-registro clave-registro">@OMIstats.Models.Estado.obtenerEstadoConClave(sedes[i].estado).nombre</td>
           }
        <td class="lineas-registro">@sedes[i].nombre</td>
           @if (usuario.esSuperUsuario())
           {
        <td class="lineas-registro">@sedes[i].supervisor
            @if (sedes[i].supervisor2 != "")
            {
            <br />@sedes[i].supervisor2
                if (sedes[i].supervisor3 != "")
                {
            <br />@sedes[i].supervisor3
                }
            }
        </td>
        <td class="lineas-registro">@sedes[i].telefono
            @if (sedes[i].telefono2 != "")
            {
            <br />@sedes[i].telefono2
                if (sedes[i].telefono3 != "")
                {
            <br />@sedes[i].telefono3
                }
            }
        </td>
        <td class="lineas-registro">@sedes[i].correo
            @if (sedes[i].correo2 != "")
            {
            <br />@sedes[i].correo2
                if (sedes[i].correo3 != "")
                {
            <br />@sedes[i].correo3
                }
            }
        </td>
           }
        <td class="lineas-registro">@miembrosEnSede.Count</td>
           @if (usuario.esAdmin() || (!usuario.esSuperUsuario() && omi.registroSedes))
           {
        <td>
            @Html.ActionLink("Modificar", "Sede", "Registro", new { omi = sedes[i].omi, estado = sedes[i].estado, clave = sedes[i].clave }, new { })
            @if (miembrosEnSede.Count == 0)
            {
            <a onclick="eliminarSede(@sedes[i].clave, '@sedes[i].nombre')" class="a-sin-href">Eliminar</a>
            }
            else
            {
            <a class="desabilitado" title="Para borrar esta sede primero reasigne a los alumnos de esta sede">Eliminar</a>
            }
        </td>
           }
    </tr>
           if (!usuario.esSuperUsuario())
           {
               foreach (var miembro in miembrosEnSede)
               {
    <tr>
        <td></td>
        <td class="tiny-text">@miembro.nombreAsistente</td>
    </tr>
               }
           }
        }
</table>
    }
    if (!usuario.esSuperUsuario() && omi.registroSedes)
    {
        @Html.ActionLink("Registrar sede", "Sede", "Registro", new { omi = omi.numero, estado = estado.clave }, new { })
    }
}
}