@model OMIstats.Models.SedeOnline

@{
    ViewBag.Title = "Registro de Sedes";
    string errorInfo = ViewBag.errorInfo;
    bool guardado = ViewBag.guardado;
    OMIstats.Models.Estado estado = ViewBag.estado;
    OMIstats.Models.Olimpiada omi = ViewBag.omi;
}

@section AddToHead
{
    <link href="~/Content/registro.css" type="text/css" rel="stylesheet" />
}

<h2 class="titulo">Sede</h2>

@if (guardado)
{
    <div> Se han guardado los datos con éxito </div>
    @Html.ActionLink("Volver", "Select", "Registro")
}
else if (errorInfo == "permisos")
{
    <div class="errorTextoRojo"> No tienes permisos para realizar esta acción o el registro ya terminó</div>
    @Html.ActionLink("Volver", "Select", "Registro")
} else {
<form name="sede" id="sede" action="~/Registro/Sede" method="post" enctype="multipart/form-data">
<div class="panel panel-green datos-padding">
    <div class="panel-heading panel-heading-green">Datos de la sede</div>
    <div class="panel-body">
    <div class="registro-controls">
        <div class="registro-single-control">
            <span class="control-title">Nombre de la sede<span class="errorTextoRojo">*</span></span>
            @Html.TextBoxFor(model => model.nombre, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.nombre)
            <span class="tiny-text">Ejemplos válidos: CBTiS 86, Casa de Manuel Lopez, Oficina de Raúl Sanchez</span>
        </div>
    </div>
    <div class="registro-controls">
        <div class="registro-single-control">
            <span class="control-title">Nombre del supervisor<span class="errorTextoRojo">*</span></span>
            @Html.TextBoxFor(model => model.supervisor, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.supervisor)
        </div>
        <div class="registro-single-control">
            <span class="control-title">Teléfono del supervisor<span class="errorTextoRojo">*</span></span>
            @Html.TextBoxFor(model => model.telefono, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.telefono)
        </div>
        <div class="registro-single-control">
            <span class="control-title">Correo del supervisor<span class="errorTextoRojo">*</span></span>
            @Html.TextBoxFor(model => model.correo, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.correo)
        </div>
    </div>
    <div class="registro-controls">
        <div class="registro-single-control">
            <span class="control-title">Nombre del segundo supervisor</span>
            @Html.TextBoxFor(model => model.supervisor2, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.supervisor2)
        </div>
        <div class="registro-single-control">
            <span class="control-title">Teléfono del segundo supervisor</span>
            @Html.TextBoxFor(model => model.telefono2, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.telefono2)
        </div>
        <div class="registro-single-control">
            <span class="control-title">Correo del segundo supervisor</span>
            @Html.TextBoxFor(model => model.correo2, new { @class = "shiny-box" })
            @Html.ValidationMessageFor(model => model.correo2)
        </div>
    </div>
</div>
</div>
<input id="olimpiada" name="omi" type="hidden" value="@omi.numero" />
<input id="estado" name="estado" type="hidden" value="@estado.clave" />
<input id="clave" name="clave" type="hidden" value="@Model.clave" />
<div class="boton-guardar">
    <button id="botonGuardar" class="boton-registro">Guardar</button>
</div>
</form>
}
