@model List<OMIstats.Models.SearchResult>

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/tablas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/olimpiadas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/buscar.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/estados.css" type="text/css" />
}

@{
    ViewBag.Title = "Buscar personas";
    string query = ViewBag.query;
}

@section scripts
{
    <script type="text/javascript" src="~/js/buscar.js"></script>
    <script type="text/javascript">
        preparar("@Url.Content("~")", "@query");
    </script>
}

<h2 class="titulo">@ViewBag.Title</h2>

<div class="searchbox-container">
    <input class="searchbox" type="text" id="searchbox"/> <input id="buscarButton" type="button" value="Buscar" onclick="buscar()" />
</div>

<div id="errorSize" class="errorTextoRojo" style="display:none">Escribe un nombre de al menos tres caracteres</div>

@if (Model != null)
{
    if (Model.Count == 0)
    {
    <div class="subtitulo">
        No se encontraron resultados
    </div>
    }
    else
    {
<br />
<br />
<table class="table" id="resultados">
    <thead>
        <tr class="table-header">
            <th class="bottom-border right-border" rowspan="2">Persona</th>
            <th class="bottom-border right-border center" colspan="4">Medallas</th>
            <th class="bottom-border right-border" rowspan="2">Estado(s)</th>
            <th class="bottom-border" rowspan="2">Otras participaciones</th>
        </tr>
        <tr class="table-header">
            <th class="bottom-border center">Nivel</th>
            <th class="bottom-border center" title="Medallas de oro"><img src="~/img/oro.png" class="medalla-img-titulo"/></th>
            <th class="bottom-border center" title="Medallas de plata"><img src="~/img/plata.png" class="medalla-img-titulo"/></th>
            <th class="bottom-border center right-border" title="Medallas de bronce"><img src="~/img/bronce.png" class="medalla-img-titulo"/></th>
        </tr>
    </thead>

    @foreach (OMIstats.Models.SearchResult sr in Model)
    {
        int rowspan = sr.medalleros.Count;
        if (rowspan == 0)
        {
            rowspan = 1;
        }
        bool nombrePuesto = false;
        List<OMIstats.Models.TipoOlimpiada> keys = sr.medalleros.Keys.ToList();
        for (int i = 0; i < rowspan; i++)
        {
        <tr>
            @if(!nombrePuesto)
            {
            <td class="table-td right-border thin-top-border" rowspan="@rowspan">
                @Html.ActionLink(sr.persona.nombre, "view", "Profile",
                    new { usuario = sr.persona.usuario }, new { @class = "nombre" })
            </td>
            }
            @if (keys.Count <= i)
            {
                <td class="table-td right-border center thin-top-border" colspan="4">-</td>
            }
            else
            {
                OMIstats.Models.Medallero m = sr.medalleros[keys[i]];
                string clase = i == 0 ? "thin-top-border" : "";
                <td class="table-td center @clase"><img src="@Url.Content("~/img/" + keys[i].ToString() + ".png")" style="width:30px"/></td>
                <td class="table-td center fondoOro @clase">@m.oros</td>
                <td class="table-td center fondoPlata @clase">@m.platas</td>
                <td class="table-td right-border center fondoBronce @clase">@m.bronces</td>
            }
            @if(!nombrePuesto)
            {
                nombrePuesto = true;
            <td class="table-td right-border thin-top-border" rowspan="@rowspan">
                @{int count = 0; }
                @foreach (string claveEstado in sr.estados)
                {
                    if (count > 0)
                    {
                        <span>/</span>
                    }
                    count++;
                    OMIstats.Models.Estado estado = OMIstats.Models.Estado.obtenerEstadoConClave(claveEstado);
                    @(Html.ActionLink(estado.nombre, "Index", "Estado", new { clave = claveEstado }, new { @class = "nombre" }))
                }
            </td>
            <td class="table-td thin-top-border" rowspan="@rowspan">
                @{count = 0; }
                @foreach (string tipo in sr.participaciones)
                {
                    if (count > 0)
                    {
                        <span>/</span>
                    }
                    count++;
                    <span>@tipo</span>
                }
            </td>
            }
        </tr>
        }
    }
</table>
    }
}