@model OMIstats.Models.Problema

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
}

@{
    ViewBag.Title = "Editar problema";
}

@if (Model.numero > 0) {
    <h1 class="titulo">Editar problema</h1>
} else {
    if (Model.dia > 0) {
        <h1 class="titulo">Números del día @Model.dia</h1>
    } else {
        <h1 class="titulo">Números generales de la olimpiada</h1>
    }
}

<form name="editProblema" id="editProblema" action="~/Problema/Edit" method="post" enctype="multipart/form-data">
    <div class="datosFloat">
        @if (Model.numero > 0) {
            <div>
                <div class="label">Nombre:</div>
                <div class="input">
                    @Html.TextBoxFor(model => model.nombre)
                    @Html.ValidationMessageFor(model => model.nombre)
                </div>
            </div>

            <div>
                <div class="label">URL:</div>
                <div class="input">
                    @Html.TextBoxFor(model => model.url)
                    @Html.ValidationMessageFor(model => model.url)
                </div>
            </div>
        }
        else
        {
            <div>
                <div class="label">Scoreboard:</div>
                <div class="input">
                    @Html.TextBoxFor(model => model.url)
                    @Html.ValidationMessageFor(model => model.url)
                </div>
            </div>
        }
        <div>
            <div class="label">Media:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.media, new { @class = "smallInput" })
                @Html.ValidationMessageFor(model => model.media)
            </div>
        </div>

        <div>
            <div class="label">Mediana:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.mediana, new { @class = "smallInput" })
                @Html.ValidationMessageFor(model => model.mediana)
            </div>
        </div>

        <div>
            <div class="label">Ceros:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.ceros, new { @class = "smallInput" })
                @Html.ValidationMessageFor(model => model.ceros)
            </div>
        </div>

        <div>
            <div class="label">Perfectos:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.perfectos, new { @class = "smallInput" })
                @Html.ValidationMessageFor(model => model.perfectos)
            </div>
        </div>

        <div>
            <div class="label">Casos:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.casos)
                @Html.ValidationMessageFor(model => model.casos)
            </div>
        </div>

        <div>
            <div class="label">Código:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.codigo)
                @Html.ValidationMessageFor(model => model.codigo)
            </div>
        </div>

        <div>
            <div class="label">Solución:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.solucion)
                @Html.ValidationMessageFor(model => model.solucion)
            </div>
        </div>

        @Html.HiddenFor(model => model.olimpiada)
        @Html.HiddenFor(model => model.dia)
        @Html.HiddenFor(model => model.numero)
        @Html.HiddenFor(model => model.tipoOlimpiada)

        <div class="label">
            <input type="button" onclick="muestraLoadGifYSubmit('editProblema')" value="Enviar"/>
            <img class="textoRojo" id='loading' src="~/img/ajax-loader.gif" />
        </div>
    </div>
</form>
<div class="clear"></div>