@model OMIstats.Models.Album

@section AddToHead {
    <link rel="stylesheet" href="~/Content/fotos.css" type="text/css" />
}

@{
    List<OMIstats.Models.Foto> fotos = ViewBag.fotos;
    List<OMIstats.Models.Album> albumes = ViewBag.albumes;
    List<OMIstats.Models.Olimpiada> olimpiadas = ViewBag.olimpiadas;
    HashSet<string> olimpiadasConFotos = ViewBag.olimpiadasConFotos;
    OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    ViewBag.Title = Model.nombre;
    bool tieneFavicon = ViewBag.tieneFavicon;
}

@section Scripts
{
@if(tieneFavicon)
{
<script>addFavicon('@Url.Content("~")', '@Model.olimpiada');</script>
}
}

<div class="submenu">
    @Html.ActionLink("General", "Index", "Olimpiada",
            new { clave = Model.olimpiada }, new { @class = "mini-boton" })
    @if (albumes.Count > 1)
    {
    <br />
    <div class="comboTitle">Álbumes:</div>
    <select onChange="redirige('@Url.Content("~/Fotos/Album?id=")', this.options[this.selectedIndex].value)" class="comboMargin maxCombo">
        @foreach (OMIstats.Models.Album album in albumes)
        {
            <option value="@album.id" @(album.id == Model.id ? "selected" : "")>@album.nombre</option>
        }
    </select>
    }
    <br />
    <div class="comboTitle">Otros años:</div>
    <select onChange="redirige('@Url.Content("~/Fotos?tipo=" + Model.tipoOlimpiada + "&clave=")', this.options[this.selectedIndex].value)" class="comboMargin">
        @for (int i = 0; i < olimpiadas.Count; i++)
        {
            if (!olimpiadasConFotos.Contains(olimpiadas[i].numero))
            {
                continue;
            }
            OMIstats.Models.Olimpiada omi = ViewBag.olimpiadas[i];
            tableManager.setCurrentOMI(omi);
            <option value="@omi.numero" @(omi.numero == Model.olimpiada ? "selected" : "")>@(tableManager.enlaceOMI() + " " + omi.año)</option>
        }
    </select>
</div>

<h2 class="titulo">@ViewBag.Title</h2>

<div class="album-container">
@foreach (OMIstats.Models.Foto foto in fotos)
{
    <a href="@foto.url" target="_blank">
        <div
            class="album picture"
            style="background-image: url(@foto.imagen), url(@Url.Content("~/img/celdafondo.png"))"
            title="Click para ver foto en Facebook">
        </div>
    </a>
}
</div>

<div class="clear"></div>