@model OMIstats.Models.Album

@section AddToHead
{
    <link rel="stylesheet" href="~/Content/olimpiada.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/formas.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/profile.css" type="text/css" />
}

@{
    OMIstats.Models.Olimpiada olimpiada = ViewBag.olimpiada;
    OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    ViewBag.Title = "Editar álbum";
}

<h2 class="titulo">@ViewBag.Title</h2>

<form name="editFotos" id="editFotos" action="~/Fotos/Edit" method="post" enctype="multipart/form-data">
    <div>
        <div class="datosOlimpiada">
            <div>
                <div class="label">ID:</div>
                <div class="input">
                    @Html.TextBoxFor(model => model.id)
                    @Html.ValidationMessageFor(model => model.id, "Escribe un nombre válido")
                </div>
            </div>

            <div>
                <div class="label">Orden:</div>
                <div class="input">
                    @Html.TextBoxFor(model => model.orden, new { @class = "smallInput" })
                    @Html.ValidationMessageFor(model => model.orden)
                </div>
            </div>

            <div>
                <div class="label">¿Actualizar?:</div>
                <div class="input">
                    @Html.CheckBoxFor(model => model.update)
                </div>
            </div>

            @Html.HiddenFor(model => model.olimpiada)
            @Html.HiddenFor(model => model.tipoOlimpiada)
            @Html.HiddenFor(model => model.fotos)
            @Html.HiddenFor(model => model.nombre)
            @Html.HiddenFor(model => model.portada)

            <div class="label">
                <input type="button"  onclick="muestraLoadGifYSubmit('editFotos')" value="Enviar"/>
                <img class="textoRojo" id='loading' src="~/img/ajax-loader.gif" />
            </div>
        </div>
    </div>
</form>

<div class="clear">
</div>