@model List<OMIstats.Models.Album>

@section AddToHead {
    <link rel="stylesheet" href="~/Content/fotos.css" type="text/css" />
}

@{
    OMIstats.Models.Olimpiada olimpiada = ViewBag.olimpiada;
    OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    bool admin = ViewBag.admin;
    tableManager.setCurrentOMI(olimpiada);
    ViewBag.Title = "Fotos de la " + tableManager.enlaceOMI();
}

<h2 class="titulo">@ViewBag.Title</h2>

<div class="album-container">
@foreach (OMIstats.Models.Album al in Model)
{
    string enlace = Url.Content("~/Fotos/Album?id=" + al.id);
    if (admin)
    {
        enlace = Url.Content("~/Fotos/Edit?id=" + al.id);
    }
    <div class="album">
        <a href="@enlace">
            <img src="@al.portada" alt="Album" />
            <br />
            @al.nombre
        </a>
    </div>
}
</div>

<div class="clear"></div>

@if (admin)
{
    @Html.ActionLink("Agregar álbum", "Edit", "Fotos",
        new { omi = olimpiada.numero, tipo = olimpiada.tipoOlimpiada },
        new { @class = "boton" })
}