@model List<OMIstats.Models.Album>

@section AddToHead {
    <link rel="stylesheet" href="~/Content/fotos.css" type="text/css" />
}

@{
    OMIstats.Models.Olimpiada olimpiada = ViewBag.olimpiada;
    List<OMIstats.Models.Olimpiada> olimpiadas = ViewBag.olimpiadas;
    HashSet<string> olimpiadasConFotos = ViewBag.olimpiadasConFotos;
    OMIstats.Utilities.TableManager tableManager = new OMIstats.Utilities.TableManager();
    bool admin = ViewBag.admin;
    tableManager.setCurrentOMI(olimpiada);
    ViewBag.Title = "Fotos de la " + tableManager.enlaceOMI();
    OMIstats.Models.Album newsletter = null;
}

<div class="submenu">
    @Html.ActionLink("General", "Index", "Olimpiada",
            new { clave = olimpiada.numero }, new { @class = "mini-boton" })
    <br />
    <div class="comboTitle">Otros años:</div>
    <select onChange="redirige('@Url.Content("~/Fotos?tipo=" + olimpiada.tipoOlimpiada + "&clave=")', this.options[this.selectedIndex].value)" class="comboMargin">
        @for (int i = 0; i < olimpiadas.Count; i++)
        {
            if (!olimpiadasConFotos.Contains(olimpiadas[i].numero))
            {
                continue;
            }
            OMIstats.Models.Olimpiada omi = ViewBag.olimpiadas[i];
            tableManager.setCurrentOMI(omi);
            <option value="@omi.numero" @(omi.numero == olimpiada.numero ? "selected" : "")>@(tableManager.enlaceOMI() + " " + omi.año)</option>
        }
    </select>
</div>

<h2 class="titulo">@ViewBag.Title</h2>

<div class="album-container">
@foreach (OMIstats.Models.Album al in Model)
{
    if (al.newsletter)
    {
        newsletter = al;
        continue;
    }
    string enlace = Url.Content("~/Fotos/Album?id=" + al.id);
    if (admin)
    {
        enlace = Url.Content("~/Fotos/Edit?id=" + al.id);
    }
    <a href="@enlace">
        <div
            class="album album-height album-adorner"
            style="background-image: url('@Url.Content("~/img/album.png")'), url('@al.portada'), url(@Url.Content("~/img/omi_top.png")">
            <div class="nombre-album">@al.nombre</div>
        </div>
    </a>
}
</div>

@if (newsletter != null)
{
<h2 class="titulo">Noticieros</h2>    
<div class="album-container">
@for (int i = 1; i <= newsletter.orden; i++)
{
    string fileName = newsletter.olimpiada + "/" + i + ".pdf";
    string path = "~/img/news/" + fileName;
    if (!OMIstats.Utilities.Archivos.existeArchivo(OMIstats.Utilities.Archivos.Folder.NEWSLETTERS, fileName))
    {
        continue;
    }
<a href="@Url.Content(path)" target="_blank">
<div class="album album-adorner newsletter">
<img src="~/img/pdf_large.png" />
<br />Día @(i)</div></a>
}
</div>
}

<div class="clear"></div>

@if (admin)
{
    @Html.ActionLink("Agregar álbum", "Edit", "Fotos",
        new { omi = olimpiada.numero, tipo = olimpiada.tipoOlimpiada },
        new { @class = "boton" })
}