@model OMIstats.Models.OmegaUp

@section AddToHead
{
    <link href="~/Content/admin.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/formas.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/profile.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/request.css" type="text/css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Scoreboard Management";

    OMIstats.Models.OmegaUp status = null;
    List<OMIstats.Models.OmegaUp> polls = ViewBag.polls;

    if (ViewBag.status.Count > 0)
    {
        status = ViewBag.status[0];
    }
    int counter = 0;
}

<h2 class="titulo">Scoreboard Management</h2>

<div>
    <div class="status">STATUS: </div>
    @if (status == null)
    {
        <div class="not-started">
            NOT STARTED
        </div>
        <a href="@Url.Content("~/Admin/StartScoreboard")" class="start-button">START</a>
    } else {
        if (status.status == OMIstats.Models.OmegaUp.Status.OK)
        {
            <div class="online">
                ONLINE
            </div>
            <a href="@Url.Content("~/Admin/KillScoreboard")" class="kill-button">MATAR</a>
        } else {
            <div class="not-started">
                ERROR!
            </div>
            <a href="@Url.Content("~/Admin/StartScoreboard")" class="start-button">RE-START</a>
        }
    }
</div>

<h3 class="subtitulo">Polls activos:</h3>

@if (polls.Count == 0)
{
    <div class="no-polls">--- No hay polls activos ---</div>
} else {
    <table border="1">
        <thead>
            <tr>
                <th>Olimpiada</th>
                <th>Tipo</th>
                <th>Día</th>
                <th>Concurso</th>
                <th>Token</th>
                <th>Prefijo</th>
                <th>Ping</th>
                <th>Status</th>
                <th>Última actualización</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in polls)
        {
            string clase;
            if (counter % 2 == 0)
            {
                clase = "par";
            }
            else
            {
                clase = "impar";
            }
            counter++;
            <tr class="@clase">
                <td>@item.olimpiada</td>
                <td>@item.tipoOlimpiada</td>
                <td>@item.dia</td>
                <td>@item.concurso</td>
                <td>@item.token</td>
                <td>@item.prefijo</td>
                <td>@item.ping</td>
                <td>
                    @if (item.status == OMIstats.Models.OmegaUp.Status.NULL)
                    {
                        <span class="errorTextoRojo">NOT YET UPDATED</span>
                    } else {
                        if (item.status == OMIstats.Models.OmegaUp.Status.ERROR)
                        {
                            <span class="errorTextoRojo">ERROR</span>
                        } else {
                            <span class="verde">ONLINE</span>
                        }
                    }
                </td>
                <td>
                    @if (item.status != OMIstats.Models.OmegaUp.Status.NULL)
                    {
                        DateTime tiempo = new DateTime(DateTime.UtcNow.Ticks - item.timestamp.Ticks);
                        <span>Hace @(tiempo.Minute + ":" + tiempo.Second) minutos</span>
                    }
                </td>
                <td>
                    <a class="errorTextoRojo" href="@Url.Content("~/Admin/BorrarScoreboard?clave=" + item.clave)">Eliminar</a>
                </td>
            </tr>
        }
    </table>
}

<br />
<br />
<a href="@Url.Content("~/Admin/BorrarScoreboard")" class="boton botonOMI">Borrar Todo</a>

<h3 class="subtitulo">Agregar poll:</h3>

@using (@Html.BeginForm())
{
    <div>
        <div class="label"> Olimpiada: </div>
        <div class="input"> @Html.EditorFor(model => model.olimpiada) </div>
    </div>
    <div>
        <div class="label"> OMI / OMIP / OMIS: </div>
        <div class="input"> @Html.EditorFor(model => model.tipoOlimpiada) </div>
    </div>
    <div>
        <div class="label"> Día: </div>
        <div class="input"> @Html.EditorFor(model => model.dia) </div>
    </div>
    <div>
        <div class="label"> Concurso: </div>
        <div class="input"> @Html.EditorFor(model => model.concurso) </div>
    </div>
    <div>
        <div class="label"> Token: </div>
        <div class="input"> @Html.EditorFor(model => model.token) </div>
    </div>
    <div>
        <div class="label"> Prefijo: </div>
        <div class="input"> @Html.EditorFor(model => model.prefijo) </div>
    </div>
    <div>
        <div class="label"> Ping: </div>
        <div class="input"> @Html.EditorFor(model => model.ping) </div>
    </div>
    <div class="label">
        <input type="submit" value="Agregar Poll" />
    </div>
}